<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="col-xs-12 col-sm-4">
    <div
        class="panel"
        [ngClass]="{'active-panel': records.length > 0}"
    >

        <ul class="nav nav-tabs text-center">
            <li class="nav-item">
                <a class="nav-link active text-primary m-0">Qualifiche</a>
            </li>
            <li class="nav-item">
                <select dpmDropdownSelector title="Azione"
                        class="form-control text-capitalize"
                        [(ngModel)]="activeTab"
                        [values]="dropdownOptions"
                        [activeTab$]="activeTab$"></select>
            </li>
        </ul>


        <div [ngSwitch]="activeTab">


            <div *ngSwitchCase="'dettagli'">
                <div class="media text-center ml-4 mr-4 p-3"
                     *ngIf="records.length === 0" [@FadeIn]>
                    <hr>
                    <h5 class="media-heading pb-2 pt-4">Lista Qualifiche</h5>
                    <p class="small pb-4">Selezionare qualifica</p>
                    <hr>
                </div>

                <div class="container-fluid">
                    <div class="btn-toolbar mt-3 ml-4 mr-4" role="toolbar" aria-label="Toolbar"
                         *ngIf="records.length > 0">
                        <div class="btn-group btn-group-justified m-2" role="group" aria-label="First group">

                            <ng-container *ngIf="records[0].deleted_at === null">
                                <a class="btn btn-primary"
                                   *ngIf="records.length === 1"
                                   (click)="activeTab = 'modifica'">Modifica</a>
                                <a class="btn btn-primary" (click)="onDisableEntity()">Disattiva</a>
                            </ng-container>
                            <ng-container *ngIf="records[0].deleted_at !== null">
                                <a class="btn btn-primary" (click)="onRestoreEntity()">Riattiva</a>
                                <a class="btn btn-primary" (click)="openModal(deletionModal)">Elimina definitivamente</a>
                            </ng-container>

                            <ng-template #deletionModal>
                                <div class="modal-header">
                                    <h4 class="modal-title pull-left">{{ deletionModalLabels.title }}</h4>
                                    <button type="button" aria-label="Close" class="close pull-right"
                                            (click)="modalRef.hide()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div [innerHtml]="deletionModalLabels.htmlText"></div>
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-info" (click)="modalRef.hide()">
                                            {{ deletionModalLabels.cancelText }}
                                        </button>
                                        <button class="btn btn-primary" (click)="onDeleteEntities(); modalRef.hide()">
                                            {{ deletionModalLabels.confirmText }}
                                        </button>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div *ngIf="records.length === 1" [@FadeIn]>
                    <div class="media ml-4 mr-4">
                        <div class="text-center ml-4 mr-4">
                            <hr>
                            <h5 class="media-heading pb-2 pt-4">Dettagli qualifica</h5>
                            <p class="small pb-4">Qui puoi vedere i dettagli della qualifica selezionata</p>
                            <hr>
                        </div>

                        <div class="ml-4 mr-4">
                            <p class="pt-4">
                                Nome: <strong>{{ records[0].name }}</strong><br><br>
                                Data creazione: <strong>{{ records[0].created_at }}</strong><br>
                            </p>
                            <hr>
                        </div>
                    </div>

                </div>

                <div class="automatic-overflow pb-4"
                     *ngIf="records.length > 1" [@FadeIn]>
                    <div class="ml-4 mr-4">

                        <div class="media ml-4 mr-4" *ngFor="let record of records" [@FadeIn]>
                            <p>
                                Nome: {{ record.name }}<br/>
                                Data creazione: {{ record.created_at }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <small>Selezionati: {{ records.length }}</small>
                    <button class="btn btn-primary" [@FadeIn]
                            *ngIf="records.length > 0"
                            (click)="clearSelection()"
                    >Annulla selezione
                    </button>
                </div>
            </div>

            <div *ngSwitchCase="'nuovo'" (click)="clearSelection()">
                <div class="media text-center ml-4 mr-4" [@FadeIn]>
                    <hr>
                    <p class="small">Creazione di una nuova qualifica</p>
                    <hr>
                </div>
                <div class="media ml-4 mr-4 container-fluid">
                    <dpm-new-qualification-form
                        [validationMessages]="validationMessages"
                        (addEntity)="onAddEntity($event)"
                    ></dpm-new-qualification-form>
                </div>
            </div>

            <div *ngSwitchCase="'modifica'">
                <div *ngIf="records.length === 1">
                    <div class="media text-center ml-4 mr-4">
                        <hr>
                        <p class="small">Aggiorna i dati della qualifica</p>
                        <hr>
                    </div>
                    <div class="media ml-4 mr-4 container-fluid">
                        <dpm-update-qualification-form
                            [record]="records[0]"
                            (updateEntity)="onUpdateEntity($event)"
                            (cancelUpdate)="restoreDefaultTab()"
                            [validationMessages]="validationMessages"
                        ></dpm-update-qualification-form>
                    </div>
                </div>
            </div>

            <div *ngSwitchDefault>
                <div class="media text-center ml-4 mr-4" [@FadeIn]>
                    <hr>
                    <p class="small">Selezionare una qualifica</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
