<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<ng-container *ngIf="isRequired || isDesirable || isFilled">

    <i class="dpm-required-indicator-icon pr-2 fa fa-lg fa-check-circle text-green pull-right"
       *ngIf="isFilled"
    ></i>

    <ng-container *ngIf="!isFilled">
        <i class="dpm-required-indicator-icon pr-2 fa fa-lg fa-exclamation-circle text-red pull-right"
           *ngIf="isRequired" [tooltip]="requiredTooltip || 'Questo dato è obbligatorio'"
        ></i>
        <i class="dpm-required-indicator-icon pr-2 fa fa-lg fa-exclamation-triangle text-yellow pull-right"
           *ngIf="isDesirable && !isRequired" [tooltip]="desirableTooltip || 'Questo dato è richiesto dalla normativa'"
        ></i>
    </ng-container>

</ng-container>
