/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../variables";
@import "../utilities";

$card-selected-bg: transparentize($brand-primary, .4);
$card-hover-bg: transparentize($gray-light, .8);
$card-border: 1px solid $gray-lighter;
$card-border-selected: 1px solid darken($gray-lighter, 35%);
$card-border-hover: 1px solid lighten($gray-light, 35%);

.dpm-card {
    @extend .mb-2, .p-3;

    border: $card-border;
    border-radius: .25rem;
    transition: $default-transition;

    &.selected {
        background-color: $card-selected-bg;
        border: $card-border-selected;
        color: $white;
    }

    &:not(.selected):hover {
        background-color: $card-hover-bg;
        border: $card-border-hover;
    }

    &-img-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            width: 3rem;
            background-color: $gray-lighter;
        }
    }

    &.dpm-card-border {
        &-primary {
            border: 1px solid $brand-primary;
        }
        &-success {
            border: 1px solid $brand-success;
        }
        &-warning {
            border: 1px solid $brand-warning;
        }
        &-danger {
            border: 1px solid $brand-danger;
        }
        &-info {
            border: 1px solid $brand-info;
        }
    }

    alert[type="warning"]>div[role="alert"] {
        margin: 0;
    }
}
