/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
@import "../variables";

.dpm-widget {
    &.panel {
        border: none;
        transition: $default-transition;
        &:hover {
            box-shadow: $box-shadow;
        }
    }

    .panel-heading {
        background: $white;
        font-weight: bold;

        .row {
            display: flex;
            align-items: center;
        }
    }

    .widget-content {
        display: flex;
        align-items: stretch;

        canvas {
            height: inherit !important;
            max-height: 100% !important;
            width: auto !important;
            position: absolute !important;
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%, -50%) !important;
        }
    }

    .statistic-labels {
        padding: .25rem 0;
        border-bottom: $panel-border;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
