/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

/* .bs-datepicker */
.bs-datepicker {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    background: $body-bg;
    box-shadow: $box-shadow;
    position: relative;
    z-index: 1;

    &:after {
        clear: both;
        content: '';
        display: block;
    }

    bs-day-picker {
        float: left;
    }

    button:hover,
    button:focus,
    button:active,
    input:hover,
    input:focus,
    input:active,
    &-btns button:hover,
    &-btns button:focus,
    &-btns button:active,
    &-predefined-btns button:active,
    &-predefined-btns button:focus {
        outline: none;
    }

    &-head {
        min-width: 270px;
        height: 50px;
        padding: 10px;
        border-radius: 3px 3px 0 0;
        text-align: justify;

        &:after {
            content: "";
            display: inline-block;
            vertical-align: top;
            width: 100%;
        }

        button {
            display: inline-block;
            vertical-align: top;
            padding: 0;
            height: 30px;
            line-height: 30px;
            border: 0;
            background: transparent;
            text-align: center;
            cursor: pointer;
            color: $body-bg;
            transition: $default-transition;

            &[disabled], &[disabled]:hover, &[disalbed]:active {
                background: rgba(221, 221, 221, 0.3);
                color: #f5f5f5;
                cursor: not-allowed;
            }

            &.next, &.previous {
                border-radius: 50%;
                width: 30px;
                height: 30px;

                span {
                    font-size: 28px;
                    line-height: 1;
                    display: inline-block;
                    position: relative;
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                }
            }

            &.current {
                border-radius: 15px;
                max-width: 155px;
                padding: 0 13px;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }

            &:active {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }

    &-body {
        padding: 10px;
        border-radius: 0 0 3px 3px;
        min-height: 232px;
        min-width: 278px;
        border: 1px solid #e9edf0;
        /* .bs-datepicker-body table */

        .days.weeks {
            position: relative;
            z-index: 1;
        }

        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
            /* .bs-datepicker-body table.days */
            /* .bs-datepicker-body table.weeks */

            th {
                font-size: 13px;
                color: #9aaec1;
                font-weight: 400;
                text-align: center;
            }

            td {
                color: #54708b;
                text-align: center;
                position: relative;
                padding: 0;

                span {
                    display: block;
                    margin: 0 auto;
                    font-size: 13px;
                    border-radius: 50%;
                    position: relative;
                    /*z-index: 1;*/
                    -moz-user-select: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                }

                &:not(.disabled) span {
                    cursor: pointer;
                }

                &.is-highlighted:not(.disabled):not(.selected) span,
                span.is-highlighted:not(.disabled):not(.selected) {
                    background-color: #e9edf0;
                    transition: 0s;
                }

                span.disabled,
                &.disabled span {
                    color: #9aaec1;
                }

                span.selected,
                &.selected span {
                    color: $body-bg;
                }

                &.active {
                    position: relative;

                    &.select {
                        &-start:before {
                            left: 35%;
                        }

                        &-end:before {
                            left: -85%;
                        }
                    }
                }

                span.active.select-start:after,
                span.active.select-end:after,
                &.active.select-start span:after,
                &.active.select-end span:after {
                    content: "";
                    display: block;
                    position: absolute;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    transition: $default-transition;
                    top: 0;
                    border-radius: 50%;
                }

                &:before,
                span:before {
                    content: "";
                    display: block;
                    position: absolute;
                    z-index: -1;
                    top: 6px;
                    bottom: 6px;
                    left: -2px;
                    right: -2px;
                    box-sizing: content-box;
                    background: transparent;
                }

                &.active.select-start + td.active:before {
                    left: -20%;
                }

                &:last-child.active:before {
                    border-radius: 0 3px 3px 0;
                    width: 125%;
                    left: -25%;
                }

                span[class*="select-"],
                &[class*="select-"] span {
                    border-radius: 50%;
                    color: $body-bg;
                }
            }

            &.days {
                td.active:not(.select-start):before,
                td.in-range:not(.select-start):before,
                span.active:not(.select-start):before,
                span.in-range:not(.select-start):before {
                    background: #e9edf0;
                }

                span {
                    width: 32px;
                    height: 32px;
                    line-height: 32px;

                    &.select-start {
                        z-index: 2;
                    }

                    &.is-highlighted.in-range:before,
                    &.in-range.select-end:before {
                        background: none;
                        right: 0;
                        left: 0;
                    }
                }

                td {
                    &.select-start + td.select-end:before,
                    &.select-start + td.is-highlighted:before,
                    &.active + td.is-highlighted:before,
                    &.active + td.select-end:before,
                    &.in-range + td.is-highlighted:before,
                    &.in-range + td.select-end:before {
                        background: #e9edf0;
                        width: 100%;
                    }
                }
            }

            &.weeks tr td:nth-child(2).active:before {
                border-radius: 3px 0 0 3px;
                left: 0;
                width: 100%;
            }

            &:not(.weeks) tr td:first-child:before {
                border-radius: 3px 0 0 3px;
            }

            &.years {
                td span {
                    width: 46px;
                    height: 46px;
                    line-height: 45px;
                    margin: 0 auto;
                }

                tr:not(:last-child) td span {
                    margin-bottom: 8px;
                }
            }

            &.months td {
                height: 52px;
                span {
                    padding: 6px;
                    border-radius: 15px;
                }
            }
        }
    }

    .current-timedate {
        color: #54708b;
        font-size: 15px;
        text-align: center;
        height: 30px;
        line-height: 30px;
        border-radius: 20px;
        border: 1px solid #e9edf0;
        margin-bottom: 10px;
        cursor: pointer;
        text-transform: uppercase;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;

        span:not(:empty):before {
            content: "";
            width: 15px;
            height: 16px;
            display: inline-block;
            margin-right: 4px;
            vertical-align: text-bottom;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAABMklEQVQoU9VTwW3CQBCcOUgBtEBKSAukAnBKME+wFCAlYIhk8sQlxFABtJAScAsuAPBEewYcxCP8ouxrPDsza61uiVN1o6RNHD4htSCmq49RfO71BvMJqBBkITRf1kmUW49nQRC9h1I5AZlBClaL8aP1fKgOOxCx8aSLs+Q19eZuNO8QmPqJRtDFguy7OAcDbJPs+/BKVPDIPrvD2ZJgWAmVe7O0rI0Vqs1seyWUXpuJoppYCa5L+U++NpNPkr5OE2oMdARsb3gykJT5ydZcL8Z9Ww60nxg2LhjON9li9OwXZzo+xLbp3nC2s9CL2RrueGyVrgwNm8HpsCzZ9EEW6kqXlo1GQe03FzP/7W8Hl0dBtu7Bf7zt6mIwvX1RvzDCm7+q3mAW0Dl/GPdUCeXrZLT9BrDrGkm4qlPvAAAAAElFTkSuQmCC);
        }
    }

    &-multiple {
        display: inline-block;
        border-radius: 4px 0 0 4px;

        + .bs-datepicker-multiple {
            margin-left: 10px;
        }

        .bs-datepicker {
            box-shadow: none;
            position: relative;

            &:not(:last-child) {
                padding-right: 10px;
            }

            + .bs-datepicker:after {
                content: "";
                display: block;
                width: 14px;
                height: 10px;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAKCAYAAABrGwT5AAAA1ElEQVQoU42RsQrCUAxF77VuDu7O4oMWW//BURBBpZvgKk4uIrjoqKOTf+DopIO4uYggtFTfw3+pkQqCW1/G5J7kJiFy4m5MxUlxAzgIPHX+lzMPzupRYlYgxiR7vqsOP8YKzsTx0yxFMCUZ+q7aZzlr+OvgoWcAFyAHgat2jLWu48252DdqAihDJGSSJNUUxYmQjs3+hPQBlAh2rG2LCOPnaw3IiGDX99TRCs7ASJsNhUOA7d/LcuHvRG22FIZvsNXw1MX6VZExCilOQKEfeLXr/10+aC9Ho7arh7oAAAAASUVORK5CYII=);
                position: absolute;
                top: 25px;
                left: -8px;
            }

            .left {
                float: left;
            }

            .right {
                float: right;
            }
        }
    }

    &-container {
        padding: 15px;
    }

    &-custom-range {
        padding: 15px;
        background: #eee;
    }

    &-predefined-btns button {
        width: 100%;
        display: block;
        height: 30px;
        background-color: #9aaec1;
        border-radius: 4px;
        color: $body-bg;
        border: 0;
        margin-bottom: 10px;
        padding: 0 18px;
        text-align: left;
        transition: $default-transition;

        &:active, &:hover {
            background-color: #54708b;
        }
    }

    .is-other-month {
        color: rgba(0, 0, 0, 0.25);
    }

    &-buttons {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        padding-top: 10px;
        border-top: 1px solid #e9edf0;

        .btn-default {
            margin-left: 10px;
        }
    }

}

.bs-timepicker {

    &-container {
        padding: 10px 0;
    }

    &-label {
        color: #54708b;
        margin-bottom: 10px;
    }

    &-controls {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;

        button {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 0;
            background-color: #e9edf0;
            color: #54708b;
            font-size: 16px;
            font-weight: 700;
            vertical-align: middle;
            line-height: 0;
            padding: 0;
            transition: $default-transition;

            &:hover {
                background-color: #d5dadd;
            }
        }

        input {
            width: 35px;
            height: 25px;
            border-radius: 13px;
            text-align: center;
            border: 1px solid #e9edf0;
        }
    }

    .switch-time-format {
        text-transform: uppercase;
        min-width: 54px;
        height: 25px;
        border-radius: 20px;
        border: 1px solid #e9edf0;
        background: $body-bg;
        color: #54708b;
        font-size: 13px;

        img {
            vertical-align: initial;
            margin-left: 4px;
        }
    }

}

bs-datepicker-container,
bs-daterangepicker-container {
    z-index: 1080;
}

/* screen size < 1024px */
@media (max-width: 768px) {
    bs-datepicker-container,
    bs-daterangepicker-container {
        position: fixed !important;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%);
    }
    .bs-datepicker-multiple {
        display: flex;
    }
    .bs-datepicker-multiple + .bs-datepicker-multiple {
        margin-top: 10px;
        margin-left: 0;
    }
}




/* theming */
.theme-default {
    .bs-datepicker {
        &-head {
            background-color: $gray-light;
        }

        &-body table td {
            span.selected,
            &.selected span,
            span[class*="select-"]:after,
            &[class*="select-"] span:after {
                background-color: $gray-light;
            }

            &.week span {
                color: $gray-light;
            }
        }
    }
}

.theme-green {
    .bs-datepicker {
        &-head {
            background-color: $brand-success;
        }

        &-body table td {
            span.selected,
            &.selected span,
            span[class*="select-"]:after,
            &[class*="select-"] span:after {
                background-color: $brand-success;
            }

            &.week span {
                color: $brand-success;
            }
        }
    }
}

.theme-blue {
    .bs-datepicker {
        &-head {
            background-color: $brand-primary;
        }

        &-body table td {
            span.selected,
            &.selected span,
            span[class*="select-"]:after,
            &[class*="select-"] span:after {
                background-color: $brand-primary;
            }

            &.week span {
                color: $brand-primary;
            }
        }
    }
}

.theme-dark-blue {
    .bs-datepicker {
        &-head {
            background-color: darken($brand-primary, 0.2);
        }

        &-body table td {
            span.selected,
            &.selected span,
            span[class*="select-"]:after,
            &[class*="select-"] span:after {
                background-color: darken($brand-primary, 0.2);
            }

            &.week span {
                color: darken($brand-primary, 0.2);
            }
        }
    }
}

.theme-red {
    .bs-datepicker {
        &-head {
            background-color: $brand-danger;
        }

        &-body table td {
            span.selected,
            &.selected span,
            span[class*="select-"]:after,
            &[class*="select-"] span:after {
                background-color: $brand-danger;
            }

            &.week span {
                color: $brand-danger;
            }
        }
    }
}

.theme-orange {
    .bs-datepicker {
        &-head {
            background-color: $brand-warning;
        }

        &-body table td {
            span.selected,
            &.selected span,
            span[class*="select-"]:after,
            &[class*="select-"] span:after {
                background-color: $brand-warning;
            }

            &.week span {
                color: $brand-warning;
            }
        }
    }
}

/*# sourceMappingURL=bs-datepicker.css.map */
