/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../../../styles/variables";
@import "../../../../../styles/utilities";


table {
    thead {
        td.checkbox-cell {
            position: relative;
            border-bottom: 1px solid $table-border-color;
            label {
                position: absolute !important;
                bottom: $font-size-xs !important;
            }
        }

        th {
            border-bottom-width: 1px !important;
            height: auto;
            padding: 0;
        }
    }

    ::ng-deep {
        tbody tr {
            td {
                border: none!important;
                vertical-align: middle;
            }
        }

        .checkbox-cell {
            width: 1rem;
            background-color: $body-bg;
            margin: 0 1px 0 0 !important;

            input[type=checkbox] {
                opacity: 0;
                position: absolute;
                @extend %custom-checkbox;
            }
        }
    }

    + button, + div {
        margin-left: 3.2rem;
    }
}
