<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<table class="table table-hover mt-3 mb-3">
    <thead>
    <tr>
        <th class="checkbox-cell">
        </th>
        <th class="p-3">
            <b>{{ securityMeasureCategory.name | capitalize }}</b>
        </th>
        <th class="p-3">
            <b>Livello di sicurezza</b>
        </th>
        <th class="p-3">
            <b>Misura adottata</b>
        </th>
    </tr>
    </thead>
    <tbody>

    <tr dpmSecurityMeasure *ngFor="let sm of securityMeasures$ | async"
        [securityMeasure]="sm"
        (onToggle)="onToggle($event)"
        (onUpdate)="onUpdate($event)"
    >
    </tr>
    <tr *ngIf="isNewDataInsertionActive">
        <td></td>
        <td>
            <input dpmAutofocus class="form-control dpm-input p-1" placeholder="Nome (min. 3 caratteri)" required
                   [(ngModel)]="newName" [@FadeIn] [class.ng-invalid]="newName.length < 3 || newName.length > 255"
                   autocomplete="off">
            <dpm-control-messages *ngIf="newName.length > 255"
                                  [control]="{ touched: true, invalid: true, errors: { maxlength: { requiredLength: 255 } } }"
            ></dpm-control-messages>
        </td>
        <td>
            <select class="form-control" style="width: 150px"
                    [(ngModel)]="newSecurityLevel">
                <option value="1">Minimo</option>
                <option value="2">Standard</option>
                <option value="3">Alto</option>
            </select>
        </td>
    </tr>

    </tbody>
</table>

<div class="mb-3" *ngIf="isNewDataInsertionActive; else addNewButton" [@FadeIn]>
    <button [disabled]="newName.length < 3 || newName.length > 255" class="btn btn-primary pl-4 pr-4 mr-1"
            (click)="addNew()">Conferma
    </button>
    <button class="btn btn-primary pl-4 pr-4" (click)="toggleInsertion()">Annulla</button>
</div>

<ng-template #addNewButton>
    <button class="btn btn-primary mb-3 pl-4 pr-4" [@FadeIn] (click)="toggleInsertion()"
    >Aggiungi misura di sicurezza
    </button>
</ng-template>
