<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="alert alert-danger" *ngIf="validationMessages.message">{{validationMessages.message}}</div>

<form novalidate (ngSubmit)="onSubmit(recordInfo.value)" [formGroup]="recordInfo">

    <div class="row">
        <div class="col-xs-12">

            <div class="form-group mb-4">
                <label for="name">Nome <span>*</span></label>

                <input dpmAutofocus (keyup)="validationMessages.errors.name = ''" type="text" class="form-control"
                       id="name" formControlName="name" required autocomplete="off">

                <dpm-control-messages [control]="recordInfo.get('name')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.name"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="description">Descrizione</label>
                <input type="text" class="form-control" id="description" formControlName="description"
                       autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('description')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.description"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="brand">Marca</label>
                <input type="text" class="form-control" id="brand" formControlName="brand" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('brand')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.brand"></dpm-validation-message>
            </div>

            <dpm-tag-coupler
                [labels]="tagCouplerThirdPartiesLabels"
                [availableTags$]="availableThirdPartiesTags$"
                [assignedTags$]="assignedThirdPartiesTags$"
                [showDeletionPrompt]="false"
                [showInsertionPrompt]="false"
                [displayToggleButton]="false"
                (toggleTag)="onToggleThirdPartiesTag($event)"
                (searchTag)="onSearchThirdPartiesTag($event)"
            ></dpm-tag-coupler>

            <hr>

            <dpm-tag-coupler
                [labels]="tagCouplerServersLabels"
                [availableTags$]="availableServersTags$"
                [assignedTags$]="assignedServersTags$"
                [showDeletionPrompt]="false"
                [showInsertionPrompt]="false"
                [displayToggleButton]="false"
                (toggleTag)="onToggleServerTag($event)"
                (searchTag)="onSearchServerTag($event)"
            ></dpm-tag-coupler>

        </div>

    </div>

    <button type="submit" class="mt-4 mb-4 pull-right btn"
            [ngClass]="recordInfo.valid ? 'btn-primary' : 'btn-info'"
            [disabled]="recordInfo.invalid"
    > Invia
    </button>
</form>
