/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../../../styles/variables";

.side-menu {
    text-transform: uppercase;
    background: $side-nav-background-color;
    min-width: 150px;
    width: auto;
    margin-left: 50px;
    border-left: 1px solid $selected-menu-background-color;
    color: $white;
}

.side-menu-visible {
    z-index: 1;
    top: 0;
    position: absolute;

    a:hover {
        background-color: $selected-menu-background-color;
        color: $white;
    }
}

.nav-link {
    background-color: $selected-menu-background-color;
    display: block;
    padding: 0.5rem 1rem;
}

.side-menu-hidden{
    display: none;
}

.active-link {
    background-color: $selected-menu-background-color;
    border-left: 3px solid $brand-primary;
    color: $white;
    font-weight: bolder;
}

.no-float {
    display: table-cell;
    float: none;
}
