<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="col-xs-12 col-sm-4">
    <div
        class="panel"
        [ngClass]="{'active-panel': records.length > 0}"
    >

        <ul class="nav nav-tabs text-center">
            <li class="nav-item">
                <a class="nav-link active text-primary m-0">Analisi d’impatto</a>
            </li>
            <li class="nav-item">
                <select dpmDropdownSelector title="Azione"
                        class="form-control text-capitalize"
                        [(ngModel)]="activeTab"
                        [values]="['dettagli', 'nuovo', 'modifica']"
                        [activeTab$]="activeTab$"></select>
            </li>
        </ul>


        <div [ngSwitch]="activeTab">


            <div *ngSwitchCase="'dettagli'">
                <div class="media text-center ml-4 mr-4 p-3"
                     *ngIf="records.length === 0" [@FadeIn]>
                    <hr>
                    <h5 class="media-heading pb-2 pt-4">DPM Records</h5>
                    <p class="small pb-4">Selezionare Record</p>
                    <hr>
                </div>

                <div class="container-fluid">
                    <div class="btn-toolbar mt-3 ml-4 mr-4" role="toolbar" aria-label="Toolbar"
                         *ngIf="records.length > 0">
                        <div class="btn-group btn-group-justified m-2" role="group" aria-label="First group">

                            <ng-container *ngIf="records[0].deleted_at === null">
                                <a class="btn btn-primary"
                                   *ngIf="records.length === 1"
                                   (click)="editRecord()">Modifica</a>
                                <a class="btn btn-primary" (click)="onDisableEntity()">Disattiva</a>
                            </ng-container>
                            <ng-container *ngIf="records[0].deleted_at !== null">
                                <a class="btn btn-primary" (click)="onRestoreEntity()">Riattiva</a>
                                <a class="btn btn-primary" (click)="openModal(deletionModal)">Elimina definitivamente</a>
                            </ng-container>

                            <ng-template #deletionModal>
                                <div class="modal-header">
                                    <h4 class="modal-title pull-left">{{ deletionModalLabels.title }}</h4>
                                    <button type="button" aria-label="Close" class="close pull-right"
                                            (click)="modalRef.hide()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div [innerHtml]="deletionModalLabels.htmlText"></div>
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-info" (click)="modalRef.hide()">
                                            {{ deletionModalLabels.cancelText }}
                                        </button>
                                        <button class="btn btn-primary" (click)="onDeleteEntities(); modalRef.hide()">
                                            {{ deletionModalLabels.confirmText }}
                                        </button>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div *ngIf="records.length === 1" [@FadeIn]>
                    <div class="media ml-4 mr-4">
                        <h2 class="media-heading pl-4 pb-2 pt-4 text-light">
                            <div>{{ records[0].id }}: {{ records[0].name}}</div>
                        </h2>

                        <div class="ml-4 mr-4" [class.pb-5]="!records[0].notes">
                            <p class="pt-4">
                                Id: <strong>{{ records[0].id }}</strong><br>
                                Nome: <strong>{{ records[0].name }}</strong><br>
                                Obiettivo: <strong>{{ records[0].goal }}</strong><br>
                                Status: <strong>{{ records[0].status }}</strong><br>
                                Trattamento: <strong
                                    [innerHtml]="RendererProvider.processingActivitiesRenderer(records[0].processing_activity)"
                                ></strong><br>
                                Reporter: <strong>
                                    #{{ records[0].reporter.id }}: {{ records[0].reporter.firstname }}
                                    {{ records[0].reporter.lastname }}
                                </strong>
                            </p>
                            <hr *ngIf="records[0].notes">
                        </div>

                        <div class="ml-4 mr-4" *ngIf="records[0].notes">
                            <h5 class="media-heading pb-2 pt-2">Note</h5>
                            <p class="small pb-4">{{ records[0].notes }}</p>
                        </div>
                    </div>
                </div>

                <div class="automatic-overflow pb-4"
                     *ngIf="records.length > 1" [@FadeIn]>
                    <div class="ml-4 mr-4">
                        <div class="media ml-4 mr-4 text-center">
                            <hr>
                            <h5 class="media-heading pb-2 pt-4">Record Selezionati</h5>
                            <p class="small pb-4">Hai selezionato i seguenti record</p>
                            <hr>
                        </div>

                        <div class="media ml-4 mr-4" *ngFor="let record of records" [@FadeIn]>
                            <p class="pt-4">
                                Id: <strong>{{ record.id }}</strong><br>
                                Nome: <strong>{{ record.name }}</strong><br>
                                Obiettivo: <strong>{{ record.goal }}</strong><br>
                                Status: <strong>{{ record.status }}</strong><br>
                                Trattamento: <strong>#{{ record.processing_activity_id }}:
                                {{ record.processing_activity.name }}</strong><br>
                                Reporter: <strong>
                                    {{ record.reporter.id }}: {{ record.reporter.firstname }}
                                    {{ record.reporter.lastname }}
                                </strong>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <small>Selezionati: {{ records.length }}</small>
                    <button [@FadeIn]
                            class="btn btn-primary"
                            *ngIf="records.length > 0"
                            (click)="clearSelection()"
                    >Annulla selezione
                    </button>
                </div>
            </div>


            <div *ngSwitchDefault>
                <div class="media text-center ml-4 mr-4" [@FadeIn]>
                    <hr>
                    <p class="small">Selezionare un progetto</p>
                    <hr>
                </div>
            </div>


        </div>

    </div>

</div>
