/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../../styles/variables";
@import "../../../../styles/utilities";
@import "../../../../styles/mixins";

.page-title {
    position: relative;
    min-height: 5rem;

    h1, > button, .btn-group {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        margin: 0;
    }

    h1 {
        left: 0;
    }

    .btn-group {
        right: 0;
    }

    > button {
        right: 0;
        padding: .5rem 4rem;
    }
}

.row div[class*="col"]:first-of-type {
    @include automatic-overflow(90vh);
    background-color: $body-bg;
    height: 100%;
}

