<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="container-fluid mt-3" [@FadeIn] *ngIf="user; else loading">

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 pl-1 mb-4">
            <dpm-user-details [user]="user"></dpm-user-details>
        </div>
    </div>

</div>


<ng-template #loading>
    <div>Loading...</div>
</ng-template>

<dpm-personal-data-disclaimer></dpm-personal-data-disclaimer>
