<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<dpm-wizard-step
    [canAdvanceStep]="stepForm.valid"
    [stepState]="stepState"
    (previousStep)="previousStep.emit()"
    (nextStep)="onNextStep()"
>
    <div stepTitle [@FadeIn]>
        <h2 class="text-light">Trasferimenti e comunicazione</h2>
    </div>

    <div stepBody [@FadeIn]>
        <form novalidate [formGroup]="stepForm">
            <div class="form-group pb-5">
                <p class="pb-1">
                    <strong class="pr-1 mr-1" (click)="toggleTransfer()">
                        Si effettua il trasferimento o la comunicazione dei dati
                    </strong>
                    <dpm-toggle-switch
                        [currentValue]="transfer"
                        (toggle)="toggleTransfer()"
                    ></dpm-toggle-switch>
                </p>
            </div>

            <ng-template #deletionPromptModal>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Attenzione</h4>
                    <button type="button" class="close pull-right" aria-label="Close"
                            (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Attenzione</strong>: Tutti i destinatari del trattamento saranno eliminati.</p>
                    <p>Confermare l’eliminazione?</p>
                    <div class="btn-group pt-2" role="group">
                        <button class="btn btn-default" (click)="transfer = true; modalRef.hide()">Annulla</button>
                        <button class="btn btn-primary" (click)="confirmDeletion()">Ok</button>
                    </div>
                </div>
            </ng-template>

            <div class="form-group mb-0" *ngFor="let disclosureSubject of disclosureSubjects$ | async" [@FadeIn]>
                <dpm-disclosure-subject [disclosureSubject]="disclosureSubject" (update)="onUpdateDisclosureSubject()"
                ></dpm-disclosure-subject>
                <hr>
            </div>

            <div *ngIf="addingDisclosureSubject === true" [@FadeIn]>
                <dpm-disclosure-subjects-form (save)="onSaveDisclosureSubject($event)"></dpm-disclosure-subjects-form>
            </div>

            <div class="form-group pt-2 pb-4" [@FadeIn]
                 *ngIf="transfer === true && addingDisclosureSubject === false">
                <button (click)="addingDisclosureSubject = true" class="btn btn-primary">Aggiungi nuovo</button>
            </div>
        </form>
    </div>
</dpm-wizard-step>
