<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div *ngIf="showLoading$ | async">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Caricamento...</span>
</div>

<div class="wrapper">

    <dpm-side-nav [sideNavState]="sideNavState"></dpm-side-nav>

    <div [ngClass]="{'content': sideNavState === 'opened', 'content-expanded': sideNavState === 'collapsed'}">

        <div class="clearfix"></div>

        <dpm-top-nav (toggleEvent)="toggleSideNavbar()"></dpm-top-nav>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>

<div bsModal
     #sessionExpiredModal="bs-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby=""
     aria-hidden="true"
     class="modal fade"
     [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Sessione utente scaduta</h4>
            </div>
            <div class="modal-body">
                <p>La sessione corrente è scaduta. A breve sarete reindirizzati alla pagina di login
                    ({{timeoutCounter}} secondi).</p>
            </div>
        </div>
    </div>
</div>

<div bsModal #serverErrorModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"
     class="modal fade"
     (onHide)="unsetServerError()">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="closeServerErrorModal()">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">Errore server</h4>
            </div>
            <div class="modal-body">
                Si è verificato un errore nell’interrogazione al server, si prega di riprovare o contattare l’assistenza
                tecnica.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="closeServerErrorModal()">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #clientErrorModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"
     class="modal fade"
     (onHide)="unsetClientError()">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Errore client</h4>
            </div>
            <div class="modal-body">
                Si è verificato un errore nell’esecuzione dell’applicativo, si prega di ricaricare la pagina o
                contattare l’assistenza tecnica.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="reloadPage()">Ricarica</button>
            </div>
        </div>
    </div>
</div>
