/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../styles/variables";

.wrapper {
    position: relative;
    background-color: $side-nav-background-color;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.content {
    position: absolute;
    overflow: auto;
    left: $side-nav-width;
    background-color: $content-background-color;
    width: calc(100% - #{$side-nav-width});
    min-height: 100%;
    float: left;
    transition: $default-transition;

    &-expanded {
        position: fixed;
        overflow: auto;
        left: $side-nav-collapsed-width;
        background-color: $content-background-color;
        width: calc(100% - #{$side-nav-collapsed-width});
        height: 100%;
        transition: $default-transition;
    }
}
