<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<form novalidate (ngSubmit)="onSubmit(securityMeasureForm)" [formGroup]="securityMeasureForm">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-6">
            <div class="form-group pb-2">
                <label for="sec-measure-name">Nome categoria</label>
                <input dpmAutofocus class="form-control dpm-input" id="sec-measure-name" formControlName="name"
                       placeholder="Inserire nome categoria" autocomplete="off">
            </div>

            <div class="form-group">
                <label for="sec-measure-description">Descrizione</label>
                <textarea rows="4" class="form-control dpm-input" id="sec-measure-description"
                          formControlName="description"></textarea>
            </div>
        </div>
    </div>

    <button class="btn"
            [ngClass]="securityMeasureForm.valid ? 'btn-primary' : 'btn-info'"
            [disabled]="securityMeasureForm.invalid"
    >Aggiungi
    </button>
</form>
