<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="container-fluid text-center">
    <h1 class="text-light">404</h1>

    <h3>Pagina non trovata</h3>

    <p class="lead">
        Ci dispiace, ma la pagina che stai cercando non è stata trovata.
        <br>
        Controlla l’URL per correggere eventuali errori.
        <br>
        Contattare l’assistenza tecnica per ulteriori informazioni.
    </p>

    <a class="btn btn-primary" href="/">Torna alla pagina principale</a>
</div>

