<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="pull-left">
    <span class="text-left">
        Visualizzati {{ paginationParameters.start + 1 }}
        a {{ lastDisplayedRecordIndex < totalRecords ? lastDisplayedRecordIndex : totalRecords }}
        di {{ totalRecords }} &nbsp;|&nbsp; Mostra:
        <select title="numero risultati" class="form-control ml-2"
                (change)="updatePagination({ start: 0 })"
                [(ngModel)]="paginationParameters.limit"
        >
            <option *ngFor="let i of [25, 50, 100]" [value]="i">{{ i }}</option>
        </select>

        <dpm-button
            [text]="'Ricarica'"
            [cssClass]="'btn btn-link'"
            [spinnerOn]="isLoading"
            (click)="updatePagination({ start: 0 })"
        ></dpm-button>
    </span>
</div>
<div class="pull-right text-right">
    <div class="btn-group mr-2">
        <label class="btn btn-info"
               [btnRadio]="false"
               [(ngModel)]="paginationParameters.trashed"
               (ngModelChange)="updatePagination({ start: 0 })"
        >Attivi</label>
        <label class="btn btn-info"
               [btnRadio]="true"
               [(ngModel)]="paginationParameters.trashed"
               (ngModelChange)="updatePagination({ start: 0 })"
        >Disattivati</label>
    </div>

    <nav>
        <ul class="pagination m-0 mb-2">
            <li class="page-item"
                *ngFor="let pageItem of pageItems"
                [ngClass]="{'active': pageItem.isActive}"
            >
                <a dpmPageItem class="page-link" href="#"
                   [pageNumber]="pageItem.pageNumber"
                   (pageItemClick)="onPageItemClick($event)"
                >{{ pageItem.displayText }}</a>
            </li>
        </ul>
    </nav>
</div>
