<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="search-box-wrapper">
    <input type="text" class="form-control search-box-input" autocomplete="off"
           [placeholder]="placeholder"
           [(ngModel)]="keyword"
           (keyup.enter)="selectCurrentHoveringTag()"
           (keyup.ArrowDown)="incrementHoveringTagIndex()"
           (keyup.ArrowUp)="decrementHoveringTagIndex()"
           (input)="searchTerm$.next($event.target.value)"
           (click)="filter()"
    >
    <span class="fa fa-close" (click)="resetSearch()"></span>
</div>

<div class="suggestions" *ngIf="availableTags && showTags">
    <ul class="m-0 p-0">
        <li class="p-2 available-tag"
            *ngFor="let tag of availableTags; let i = index"
            [title]="tag.title"
            [class.hovering]="i === currentHoveringTagIndex"
            (click)="select(tag)"
            (keyup.space)="select(tag)"
            (mouseover)="currentHoveringTagIndex = i"
            (keyup.ArrowDown)="incrementHoveringTagIndex()"
            (keyup.ArrowUp)="decrementHoveringTagIndex()"
        >{{ tag.name }}
        </li>
    </ul>
</div>
