<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<dpm-card [isSelected]="isSelected">
    <ng-container cardDataTemplate>
        <div class="dpm-card-img-wrapper pb-2">
            <img [src]="RendererProvider.userIconSrcRenderer(user.avatar)"
                 class="img-circle {{ RendererProvider.userIconCssClassRenderer(user.avatar) }}">
            <p class="lead mb-0 pl-3">{{ user.id }}: {{ user.firstname }} {{ user.lastname }}</p>
        </div>

        <div class="user-details pt-2 pl-3 ml-5">
            <p>Indirizzo email: <strong>{{ user.email }}</strong></p>
            <p>Codice fiscale: <strong>{{ user.fiscal_code }}</strong></p>
            <p>Qualifiche: <strong><em>{{ RendererProvider.qualificationsRenderer(user.qualifications) }}</em></strong></p>
            <p>Unità di appartenenza: <strong>{{ RendererProvider.unitRenderer(user.working_units) }}</strong></p>
            <p *ngIf="user.in_charge_units.length > 0">
                Altre unità di incarico: <strong><em>{{ RendererProvider.unitRenderer(user.in_charge_units) }}</em></strong>
            </p>
            <p *ngIf="user.delegated_units.length > 0">
                Unità di delega: <strong><em>{{ RendererProvider.unitRenderer(user.delegated_units) }}</em></strong>
            </p>
        </div>
    </ng-container>
</dpm-card>
