<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<dpm-wizard-step
        [canAdvanceStep]="stepForm.valid"
        [btnNextText]="'Continua'"
        [stepState]="stepState"
        (nextStep)="onNextStep()"
        (previousStep)="previousStep.emit($event)"
>

    <div stepTitle [@FadeIn] *ngIf="processingActivity">
        <h2 class="text-light">
            Valutazione della necessità e proporzionalità dei trattamenti in relazione alle finalità
        </h2>

        <blockquote class="small mt-3 mb-2">
            Verificare la pertinenza e completezza dei dati relativi al trattamento soggetto all’analisi di impatto.
        </blockquote>
    </div>

    <div stepBody [@FadeIn] *ngIf="currentDpiaProjectId">
        <form class="pt-0" [formGroup]="stepForm" novalidate *ngIf="processingActivity">

            <div class="form-group pb-2">

                <div>
                    <h3 class="text-light">Dati del trattamento
                        <a class="btn btn-primary btn-xs pull-right"
                           [routerLink]="'/p-activities/edit/' + processingActivity.id + '/step-0'">
                            Modifica dati del trattamento
                        </a>
                    </h3>

                    <p><strong>Trattamento</strong>: {{ processingActivity?.identification_code }} -
                        {{ processingActivity.name }}:</p>
                    <p><strong>Descrizione:</strong> {{ processingActivity.description }}</p>
                </div>

                <div class="pt-3">
                    <strong>Finalità</strong>:

                    <span *ngIf="processingActivity.purpose; else noData">
                        {{ processingActivity.purpose }}
                    </span>
                </div>

                <div class="pt-3">
                    <strong>Basi legali</strong>:

                    <ul class="mt-1" *ngIf="processingActivity.legal_basis.length > 0; else noData">
                        <li *ngFor="let lb of processingActivity.legal_basis">{{ lb.name }}</li>
                    </ul>
                </div>

                <div class="pt-2">
                    <strong>Categorie di dati</strong>:
                    <ul class="mt-1" *ngFor="let dc of processingActivity.data_categories">
                        <li>
                            {{ dc.name }}
                            <ul class="mt-1" *ngIf="hasSelectedDataTypes(dc)">
                                <li *ngFor="let dt of getSelectedDataTypes(dc)">
                                    {{ dt.name }}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>


                <div class="pt-2">
                    <strong>Categorie di interessati</strong>:

                    <ul class="mt-1" *ngIf="processingActivity.data_subjects.length > 0; else noData">
                        <li *ngFor="let ds of processingActivity.data_subjects">{{ ds.name }}</li>
                    </ul>
                </div>

                <ng-template #noData><span class="text-warning">Nessuna indicata</span></ng-template>
            </div>

            <div class="form-group">
                <p>
                    <strong class="pr-1 mr-1"
                            (click)="isDataCorrect = !isDataCorrect; updateProportionalityEvaluation()">
                        I dati inseriti rispettano i principi di necessità e proporzionalità dei trattamenti in
                        relazione alle finalità <span>*</span>
                    </strong>
                    <dpm-toggle-switch
                            [currentValue]="isDataCorrect"
                            (toggle)="isDataCorrect = !isDataCorrect; updateProportionalityEvaluation()"
                    ></dpm-toggle-switch>
                </p>
            </div>

            <div class="form-group">
                <p class="pb-1"><strong>Motivazione</strong>:</p>
                <dpm-validation-message [message]="validationMessages.errors.proportionality_reason"></dpm-validation-message>
                <textarea name="proportionality_reason" rows="10" class="form-control dpm-input"
                          formControlName="proportionality_reason"
                          (blur)="updateProportionalityReason()"></textarea>
            </div>

        </form>
    </div>

</dpm-wizard-step>
