<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="row mt-2 ml-1 mr-1 pt-3 pl-4 pr-3" [@FadeIn]>
    <div class="col-xs-12 pt-3 mb-0">
        <h1 class="text-light page-title">
            Misure di sicurezza
        </h1>
        <blockquote class="small">
            Tenendo conto dello stato dell’arte e dei costi di attuazione, nonché della natura, dell’oggetto, del
            contesto e delle finalità del trattamento, come anche del rischio di varia probabilità e gravità per i
            diritti e le libertà delle persone fisiche, il titolare del trattamento e il responsabile del trattamento
            mettono in atto misure tecniche e organizzative adeguate per garantire un livello di sicurezza adeguato al
            rischio
        </blockquote>
        <button class="btn btn-primary pull-right" (click)="applyAdoptedSecurityMeasures()">
            Applica tutte le misure di sicurezza adottate
        </button>
    </div>

    <div class="col-xs-12 mb-5">
        <tabset>

            <tab class="border-fix">
                <ng-template tabHeading>
                    <span>Tecniche</span>
                </ng-template>

                <div class="pt-4 mr-3 mb-1 ml-4">
                    <tabset type="pills">
                        <tab dpmSecurityMeasureCategory
                             *ngFor="let smc of tecSecurityMeasuresCategory$ | async"
                             [securityMeasureCategory]="smc"
                             [heading]="smc.name | capitalize"
                        ></tab>

                        <tab *ngIf="loadedTecCategories" customClass="add-new-data-category-pill">
                            <ng-template tabHeading>
                                <i class="fa fa-plus"></i>
                            </ng-template>

                            <div class="mt-4 ml-3 mr-3 mb-4">
                                <h4 class="text-light pb-4">Nuova categoria di misure di sicurezza tecnica</h4>
                                <dpm-new-security-measure-category-form
                                    (onCreate)="createTecSecurityMeasureCategory($event)"
                                ></dpm-new-security-measure-category-form>
                            </div>
                        </tab>

                    </tabset>
                </div>
            </tab>

            <tab class="border-fix">
                <ng-template tabHeading>
                    <span>Organizzative</span>
                </ng-template>

                <div class="pt-4 mr-3 mb-1 ml-4">
                    <tabset type="pills">

                        <tab dpmSecurityMeasureCategory
                             *ngFor="let smc of orgSecurityMeasuresCategory$ | async"
                             [securityMeasureCategory]="smc"
                             [heading]="smc.name | capitalize"
                        ></tab>


                        <tab *ngIf="loadedOrgCategories" customClass="add-new-data-category-pill">
                            <ng-template tabHeading>
                                <i class="fa fa-plus"></i>
                            </ng-template>

                            <div class="mt-4 ml-3 mr-3 mb-4">
                                <h4 class="text-light pb-4">Nuova categoria di misure di sicurezza organizzativa</h4>
                                <dpm-new-security-measure-category-form
                                    (onCreate)="createOrgSecurityMeasureCategory($event)"
                                ></dpm-new-security-measure-category-form>
                            </div>
                        </tab>

                    </tabset>
                </div>
            </tab>

        </tabset>
    </div>
</div>
