<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="mb-1" [class.fixed-height]="isSearchFieldVisible === true || !displayToggleButton">
    <h5 class="text-left" *ngIf="labels?.header.length > 0">
        <strong [innerHtml]="labels.header"></strong>
        <button class="btn btn-primary btn-xs pull-right mt-2 mr-2"
                *ngIf="displayToggleButton"
                (click)="isSearchFieldVisible = !isSearchFieldVisible"
        >
            {{ isSearchFieldVisible ? 'Nascondi ricerca' : 'Mostra ricerca' }}
        </button>
    </h5>

    <ng-template #fallbackMessage>
        {{ labels.noTagsFallbackText }}
    </ng-template>
    <ng-container *ngIf="assignedTags$ | async as tags">
        <ng-container *ngIf="tags.length > 0; else fallbackMessage">
            <p dpmTag class="mb-1 mr-2"
               *ngFor="let tag of tags"
               (click)="removeTag(tag)"
               [isTagDeletable]="areTagsDeletable"
               [title]="tag.title"
               [@SlideInTop]>{{ tag.name }}</p>
        </ng-container>
    </ng-container>
</div>

<div *ngIf="(!isDeleted && isSearchFieldVisible === true) || !displayToggleButton" [@FadeIn]>
    <p class="text-left">
        <strong>{{ labels.searchBoxTitle }}</strong>
    </p>
    <dpm-search-box
        [availableTags]="availableTags$ | async"
        [showTags]="showingResults"
        [placeholder]="labels.placeholder"
        (searchTags)="onSearchTags($event)"
        (selectTag)="addTag($event)"
        (hideResults)="showingResults = false"
    ></dpm-search-box>
    <small *ngIf="labels.optionalText" class="mt-3 form-text text-muted d-block">{{ labels.optionalText }}</small>
</div>

<ng-template #additionModalTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Conferma</h4>
        <button type="button" class="close pull-right" aria-label="Close"
                (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <ng-template #defaultBody>
            Confermare l’inserimento?
        </ng-template>

        <ng-container
            *ngIf="additionModalBody; else defaultBody"
            [ngTemplateOutlet]="additionModalBody"
        ></ng-container>

        <div class="btn-group" role="group">
            <button class="btn btn-default" (click)="modalRef.hide()">
                Annulla
            </button>
            <button class="btn btn-primary" (click)="toggleTag.emit(currentTag); currentTag = null; modalRef.hide()">
                Ok
            </button>
        </div>
    </div>
</ng-template>

<ng-template #deletionModalTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Conferma</h4>
        <button type="button" class="close pull-right" aria-label="Close"
                (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <ng-template #defaultBody>
            Confermare l’eliminazione?
        </ng-template>

        <ng-container
            *ngIf="deletionModalBody; else defaultBody"
            [ngTemplateOutlet]="deletionModalBody"
        ></ng-container>

        <div class="btn-group" role="group">
            <button class="btn btn-default" (click)="modalRef.hide()">
                Annulla
            </button>
            <button class="btn btn-primary" (click)="toggleTag.emit(currentTag); currentTag = null; modalRef.hide()">
                Ok
            </button>
        </div>
    </div>
</ng-template>
