<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<dpm-wizard-step
    [canAdvanceStep]="stepForm.valid"
    [btnNextText]="'Continua'"
    [stepState]="stepState"
    (nextStep)="onNextStep()"
    (previousStep)="previousStep.emit($event)"
>

    <div stepTitle [@FadeIn]>
        <h2 class="text-light">Pre-Assessment</h2>
        <blockquote class="small mt-3 mb-3">
            L’obbligo di condurre una DPIA vige per i trattamenti in corso che possano presentare un rischio elevato
            per i diritti e le libertà delle persone fisiche e per i quali siano intervenute variazioni dei rischi
            tenuto conto della natura, dell’ambito, del contesto e delle finalità dei trattamenti stessi.
        </blockquote>
    </div>

    <div stepBody [@FadeIn] *ngIf="currentDpiaProjectId">

        <form>
            <div class="form-group pb-4">

                <label>
                    <h4 class="text-light">{{ questionnaireTitle }}</h4>
                </label>

                <div class="content-wrapper mt-2">
                    <div class="entry mb-4 pt-2" (click)="toggleQuestion(q)"
                         *ngFor="let q of questions">

                        <div class="gutter">
                            <input type="checkbox" class="form-control dpm-input small-checkbox"
                                   [checked]="isSelected(q)" autocomplete="off">
                            <label tabindex="0"
                                   (keyup.space)="toggleQuestion(q)"></label>
                        </div>
                        <span>
                            <strong>{{ q.title }}</strong>
                            <br>
                            <span [innerHtml]="q.question"></span>
                        </span>

                    </div>
                </div>

                <div class="pt-3" *ngIf="selectedQuestions.length >= 2">
                    <alert type="warning">
                        <strong>Attenzione:</strong> Si consiglia di effettuare la valutazione del rischio.
                    </alert>
                </div>

                <div class="pt-3" *ngIf="selectedQuestions.length < 2">
                    <alert type="info">
                        <strong>Info:</strong> La valutazione del rischio risulta facoltativa.
                    </alert>
                </div>

            </div>
        </form>
    </div>

</dpm-wizard-step>
