/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../../styles/variables";
@import "../../../../styles/utilities";

:host {
    @extend .mt-2, .mb-3;
    display: flex;
    align-items: center;

    .select-title {
        flex: 1 4;
    }

    .select-box {
        flex: 4 1;

        .select-selection {
            cursor: pointer;
            margin: 0;
            display: flex;
            justify-content: space-between;
            padding: $padding-base-vertical * 0.4 $padding-base-horizontal * 0.4;

            border: none;
            border-radius: 0;
            border-bottom: 1px solid $brand-primary;
        }

        .select-options-wrapper {
            position: absolute;
            background-color: $body-bg;
            box-shadow: $box-shadow;
            display: flex;
            flex-wrap: wrap;
        }

        .select-option {
            flex-basis: 100%;
            cursor: pointer;

            small {
                color: $gray-light;
                font-size: 0.85em;
            }

            &:hover {
                background-color: transparentize($brand-primary, .4);

                small {
                    color: $white;
                }
            }
        }
    }
}
