<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<p class="select-title pt-1 pr-4">{{ title }}</p>

<div class="select-box">
    <p class="select-selection" tabindex="0"
       (click)="toggleOptions()"
       (keyup.space)="toggleOptions()"
       (blur)="optionsVisible = 'unSelected'">
        <span>{{ currentSelection || defaultValue.name }}</span>
        <i class="fa fa-caret-down"></i>
    </p>

    <div class="select-options-wrapper"
         [@ToggleUpDownFlex]="optionsVisible">
        <p class="select-option p-3 m-0 {{ item.customClasses }}" *ngFor="let item of options"
           (mousedown)="select(item)">
            {{ item.name }}
            <br>
            <small>
                {{ item.description }}
            </small>
        </p>
    </div>
</div>
