<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="dpm-widget panel panel-default" *ngIf="dpiaStatistics$ | async">
    <div class="panel-heading">
        <div class="row pl-1">
            <div class="col-sm-6">
                <h5>Analisi d’impatto</h5>
            </div>
            <div class="col-sm-6">
                <button [routerLink]="'/dpia'" class="btn btn-xs btn-primary pull-right">
                    Vai alla lista
                </button>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row widget-content" *ngIf="statistics.risk_level > 0">
            <div class="col-sm-6">
                <h1>
                    <a [style.color]="colors[0].backgroundColor[1]"
                       [routerLink]="'/p-activities'"
                       class="text-primary">{{statistics.residual_risk}}</a>
                </h1>

                <small>Valore di rischio residuo</small>

                <br/><br/>

                <div class="row statistic-labels">
                    <div class="col-sm-9">
                        <h5 [style.color]="colors[0].backgroundColor[1]">Rischio residuo</h5>
                    </div>
                    <div class="col-sm-3">
                        <strong class="pull-right" [style.color]="colors[0].backgroundColor[1]">
                            {{statistics.residual_risk}}
                        </strong>
                    </div>
                </div>

                <div class="row statistic-labels">
                    <div class="col-sm-9">
                        <h5 [style.color]="colors[0].backgroundColor[0]">Rischio mitigato</h5>
                    </div>
                    <div class="col-sm-3">
                        <strong class="pull-right" [style.color]="colors[0].backgroundColor[0]">
                            {{statistics.risk_level - statistics.residual_risk}}
                        </strong>
                    </div>
                </div>

                <div class="row statistic-labels">
                    <div class="col-sm-9">
                        <h5 [style.color]="colors[0].backgroundColor[2]">Rischio totale</h5>
                    </div>
                    <div class="col-sm-3">
                        <strong class="pull-right" [style.color]="colors[0].backgroundColor[2]">
                            {{statistics.risk_level}}
                        </strong>
                    </div>
                </div>

            </div>

            <div class="col-sm-6 ">
                <canvas baseChart
                        [data]="chartData"
                        [labels]="chartLabels"
                        [options]="{ legend: false, cutoutPercentage: 75, maintainAspectRatio: true }"
                        [chartType]="'pie'"
                        [colors]="colors">
                </canvas>
            </div>
        </div>
        <div class="row" *ngIf="!statistics.risk_level">
            <div class="col-sm-12">
                <span>Nessuna analisi di impatto presente</span>
            </div>
        </div>
    </div>
</div>


