<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div [ngClass]="{'table-active': header.isActive}"
     *ngIf="header.columnName !== 'avatar'">
    <input type="text"
           class="form-control mt-2 mb-2"
           placeholder="Cerca"
           (keyup)="search()"
           [(ngModel)]="searchTerm"
           [disabled]="!header.searchable"
    >

    <span class="align-middle"
          [ngClass]="{'clickable': header.sortable}">

        {{ header.displayName }}

        <i class="pull-right fa"
           *ngIf="header.sortable"
           [ngClass]="getCSSCaretClass()"></i>
    </span>
</div>
