/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../../../styles/variables";


input:not([type=checkbox]) {
    width: 100%;
    margin: 0!important;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid $table-border-color;

    &.hidden {
        opacity: 0;
    }

    &:focus {
        border-bottom: 1px solid $brand-primary;
    }
}

span {
    display: block;
    text-transform: capitalize;
    user-select: none;
    padding: $font-size-xs;

    &.clickable {
        &:hover .fa-sort {
            color: $black !important;
        }
        .fa {
            color: $black;
            margin-top: .2rem;
            &.fa-sort, &.fa-search {
                color: $gray-dark;
            }
        }
    }

    .fa:only-of-type {
        color: $gray-dark;
        margin-top: .2rem;
    }

    .fa-search:hover {
        color: $black !important;
    }
}
