<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<dpm-card [isSelected]="isSelected" [cardColor]="'primary'">
    <ng-content cardButtonsTemplate select="[buttons]"></ng-content>

    <ng-template #defaultDataTemplate let-processingActivity>
        <h5 class="m-0 pb-3">
            {{ processingActivity?.identification_code ? processingActivity.identification_code + ': ' : '' }}{{
            processingActivity?.name }}</h5>
        <p>Tipo banca:
            <strong>{{ RendererProvider.processTypeRenderer(processingActivity.process_types) }}</strong>
        </p>
        <p>Categorie di dati:
            <strong>{{ RendererProvider.dataCategoriesRenderer(processingActivity.data_categories) }}</strong>
        </p>
        <p class="mb-0" *ngIf="units">
            Unità di assegnazione: <strong>{{ RendererProvider.assignmentUnitsRenderer(units) }}</strong>
        </p>
        <p *ngIf="processingActivity.deleted_at !== null" class="mb-0 pt-3">
            <alert type="warning">
                <strong>Attenzione</strong>: questo trattamento è inattivo.
            </alert>
        </p>
    </ng-template>

    <ng-container cardDataTemplate
                  [ngTemplateOutlet]="dataTemplate ? dataTemplate : defaultDataTemplate"
                  [ngTemplateOutletContext]="{ $implicit: processingActivity }"
    ></ng-container>
</dpm-card>
