/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
@import "../../../styles/variables";

.page-title > .btn-group > button.btn {
    &:first-of-type {
        border-radius: $border-radius-base $border-radius-base $border-radius-base $border-radius-base !important;
    }
    &:nth-child(2) {
        border-radius: $border-radius-base 0 0 $border-radius-base !important;
    }
}

::ng-deep thead > tr > th {
    &.identification-code-header {
        min-width: 10rem;
    }

    &.creation-date-header {
        min-width: 13rem;
    }
}
