<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="row mt-2 ml-1 mr-1" [@FadeIn]>

    <div class="col-xs-12 pt-4"
         [ngClass]="{'col-sm-8': hasDetailPage}"
    >
        <div class="ml-5 mb-4 mr-2">
            <div class="page-title">
                <h1 class="text-light">{{ title }}</h1>
                <div class="btn-group" role="group">
                    <button class="btn btn-primary mr-2" (click)="setActiveTab('nuovo')">Nuovo</button>
                </div>
            </div>
            <blockquote class="small">{{ description }}</blockquote>
        </div>

        <dpm-pagination
             class="row mt-0 ml-3 mr-0 mb-2"
             *ngIf="(queryParams$ | async)?.limit >= 50"
             [paginationParams]="paginationParams$ | async"
             [totalRecords]="totalRecords"
             [isLoading]="isLoading"
             (paginationUpdate)="onPaginationUpdate($event)"
        ></dpm-pagination>

        <dpm-table
            [records]="records"
            [headers]="headers"
            [trashed]="(queryParams$ | async)?.trashed"
            (headerUpdate)="onHeaderUpdate($event)"
            (selectRecords)="onSelectRecords($event)"
        ></dpm-table>

        <dpm-pagination
             class="row mt-0 ml-3 mr-0 mb-2"
             [paginationParams]="paginationParams$ | async"
             [totalRecords]="totalRecords"
             [isLoading]="isLoading"
             (paginationUpdate)="onPaginationUpdate($event)"
        ></dpm-pagination>

    </div>

    <ng-template #detailsComponent></ng-template>
</div>
