<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="container-fluid loginPage m-0 p-0">
    <div class="row m-0 p-0">
        <div class="col-xs-4 col-lg-3 col-xs-offset-2 col-lg-offset-1-and-a-half loginColumn">

            <img src="assets/img/logo_dpm-white.svg" alt="Data Protection Manager logo"
                 title="Data Protection Manager" class="mt-5 mb-5">

            <div [hidden]="loginErrorMessages.length === 0" class="text-danger"
                 *ngFor="let error of loginErrorMessages"
            >{{ error }}</div>

            <dpm-login-form [loading]="loading$ | async"
                            (submitLoginEvent)="attemptLogin($event)">
            </dpm-login-form>

        </div>

        <div class="col-xs-4 browsers-column pull-right">

            <div class="icons">
                <h5 class="text-white pb-2">BROWSER SUPPORTATI</h5>

                <i title="ultima versione" class="fa fa-chrome fa-inverse fa-3x"></i>
                <i title="ultima versione" class="fa fa-firefox fa-inverse fa-3x"></i>
                <i title="ultima versione" class="fa fa-safari fa-inverse fa-3x"></i>
                <i title="ultima versione" class="fa fa-edge fa-inverse fa-3x"></i>
                <i title="11+" class="fa fa-internet-explorer fa-inverse fa-3x"></i>
            </div>

        </div>
    </div>
</div>
