/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../styles/variables";
@import "../../../styles/utilities";


.row {
    height: 100%;
}

.col-lg-offset-1-and-a-half {
    margin-left: 12.5%;
}

.loginPage {
    background: url("/assets/img/cubes_flow.jpg") no-repeat fixed center center;
    background-size: cover;
}

.loginColumn {
    padding: 15vh 5vw 0 5vw;
    background-color: transparentize($black, .5);
    height: 100%;

    img {
        width: 100%;
    }
}

.browsers-column {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding: 0 0 5rem 8rem;

    .icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        h5 {
            flex: 0 1 100%;
        }

        i {
            @extend .pb-3, .pr-3;
        }
    }
}

.container-fluid {
    min-height: 100%;
    height: 100%;
    width: 100%;
}
