/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../../../styles/variables";
@import "../../../../../styles/utilities";
@import "../../../../../styles/mixins";


.panel {
    transition: $default-transition;
    border: $panel-border;

    @include tabs-uneven-border($panel-inactive-border);

    &.active-panel {
        @include tabs-uneven-border($panel-active-border);
        .automatic-overflow {
            @include automatic-overflow(80vh);
        }
    }

    .nav-item {
        a.nav-link, a.nav-link:hover {
            cursor: default;
        }
    }

    .nav-tabs {
        position: relative;

        .nav-item {
            width: 50%;
        }

        .nav-item:last-of-type {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;

            select {
                border: none;
                border-bottom: $panel-border;
            }
        }
    }

    .card-subtitle {
        white-space: nowrap;
    }

    .card-block img {
        display: inline;
    }

    .btn-toolbar {
        .btn-group {
            width: 100%;
            button {
                border: 1px solid $body-bg;
            }
        }
    }

    .panel-footer {
        position: relative;
        height: 4rem;
        border-left: $panel-border;
        border-right: $panel-border;
        border-bottom: $panel-border;

        small, button {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
        }

        small {
            left: 1rem;
        }

        button {
            right: 1rem;
        }
    }
}

.media-heading {
    * {
        vertical-align: middle;
        display: inline-block;
    }

    div {
        line-height: 1.4em;
    }

    &.accordion-toggle {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
}

::ng-deep .modal-body .btn-group {
    z-index: 900;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
