<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="row mt-2 ml-1 mr-1">
    <div class="col-md-offset-3 col-md-5">
        <form novalidate [formGroup]="formGroup" (keyup.enter)="updateInstanceConfig()">
            <div class="row">
                <div class="col-xs-12">

                    <div class="form-group">
                        <dpm-tag-coupler
                            [assignedTags$]="assignedControllersTags$"
                            [availableTags$]="availableControllersTags$"
                            [labels]="tagCouplerControllersLabels"
                            [areTagsDeletable]="false"
                            [showDeletionPrompt]="false"
                            (toggleTag)="onToggleControllerTag($event)"
                            (searchTag)="onSearchControllerTag($event)"
                        ></dpm-tag-coupler>
                    </div>

                    <div class="form-group">
                        <dpm-tag-coupler
                            [assignedTags$]="assignedDPOsTags$"
                            [availableTags$]="availableDPOsTags$"
                            [labels]="tagCouplerDPOsLabels"
                            [areTagsDeletable]="false"
                            [showDeletionPrompt]="false"
                            (toggleTag)="onToggleDPOTag($event)"
                            (searchTag)="onSearchDPOTag($event)"
                        ></dpm-tag-coupler>
                    </div>

                    <div class="form-group">
                        <label for="notification_recipient">Destinatario notifiche</label>
                        <input type="text" class="form-control" id="notification_recipient"
                               formControlName="notification_recipient" autocomplete="off"
                               (blur)="updateInstanceConfig()">
                    </div>

                    <div class="form-group">
                        <p>
                            <strong class="pr-1 mr-1">Attiva referente interno del trattamento</strong>
                            <dpm-toggle-switch
                                [currentValue]="formGroup.get('internal_processor_active').value"
                                (toggle)="toggleInternalProcessor()"
                            ></dpm-toggle-switch>
                        </p>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

