/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../../../../styles/variables";
@import "../../../../../../styles/utilities";

form > .row {
    &:first-of-type.text-center {
        .form-control-file {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;

            + label {
                width: 8rem;
            }
        }

        img {
            width: 8rem;
            height: 8rem;
        }
    }

    &:last-of-type input:not([type=file]) {
        @extend .dpm-input, .collapsible-dpm-input;
    }

    .form-group label{
        cursor: pointer;
        width: 100%;

        > span {
            color: $brand-danger;
        }
    }
}
