/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

$darken-percentage: 10;

.badge-danger {
    background-color: $brand-danger;
}
.badge-danger:hover {
    background-color: darken($brand-danger, $darken-percentage);
}
.badge-warning {
    background-color: $brand-warning;
}
.badge-warning:hover {
    background-color: darken($brand-warning, $darken-percentage);
}
.badge-success {
    background-color: $brand-success;
}
.badge-success:hover {
    background-color: darken($brand-success, $darken-percentage);
}
.badge-info {
    background-color: $brand-info;
}
.badge-info:hover {
    background-color: darken($brand-info, $darken-percentage);
}
