/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

%custom-checkbox {
    opacity: 0;
    display: none;
    position: absolute;

    & + label {
        background-color: $white;
        border: $checkbox-border;
        padding: $font-size-xs;
        position: relative;
        vertical-align: middle;
        width: 1rem;
        height: 1rem;
        margin: auto 0;
    }

    &:active, &:checked:active {
        + label {
            background-color: lighten($brand-primary, 15);
        }
    }

    &:checked {
        + label {
            background-color: $brand-primary;

            &:after {
                content: '\2713';
                font-size: 1rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $white;
            }
        }
    }

    &:not([type=file]):not([type=radio]):not([type=checkbox]) {
        &.ng-invalid.ng-touched {
            border-bottom: 2px solid lighten($brand-danger, 20);
        }

        &:not(:focus).ng-pristine.ng-untouched {
            height: 0;
            padding: 0;
        }
    }
}
