/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

.dpm-input {
    border: none;
    border-bottom: 1px solid $brand-primary;
    border-radius: 0;
    transition: $default-transition;
    background-color: $white;

    &:focus {
        border-bottom: 2px solid lighten($brand-primary, 20);
    }

    &.ng-invalid.ng-touched {
        border-bottom: 2px solid lighten($brand-danger, 20);
    }
}

.collapsible-dpm-input {
    &:not([type=radio]):not([type=checkbox]):not([type=file]):not(:focus).ng-pristine.ng-untouched:not([placeholder]) {
        height: 0;
        padding: 0;
    }
}

%radio-inline-fix {
    label:not(.radio-inline), p {
        &:not(.checkbox-label) {
            width: 100%;
        }

        @extend .mb-1;
        cursor: pointer;

        span {
            color: $brand-danger;
        }
    }

    .radio-inline {
        * {
            display: inline;
        }
        input {
            bottom: 0;
        }
    }
}
