/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

$grid-breakpoints: (
    xs: 0,
    sm: $screen-xs,
    md: $screen-sm,
    lg: $screen-md,
    xl: $screen-lg
) !default;

$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
    0: (
        x: 0,
        y: 0
    ),
    1: (
        x: ($spacer-x * .25),
        y: ($spacer-y * .25)
    ),
    2: (
        x: ($spacer-x * .5),
        y: ($spacer-y * .5)
    ),
    3: (
        x: $spacer-x,
        y: $spacer-y
    ),
    4: (
        x: ($spacer-x * 1.5),
        y: ($spacer-y * 1.5)
    ),
    5: (
        x: ($spacer-x * 3),
        y: ($spacer-y * 3)
    )
) !default;


// Name of the next breakpoint, or null for the last breakpoint.
//
//    >> breakpoint-next(sm)
//    md
//    >> breakpoint-next(sm, (xs: 0, sm: 576px, md: 768px))
//    md
//    >> breakpoint-next(sm, $breakpoint-names: (xs sm md))
//    md
@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
    $n: index($breakpoint-names, $name);
    @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

// Minimum breakpoint width. Null for the smallest (first) breakpoint.
//
//    >> breakpoint-min(sm, (xs: 0, sm: 576px, md: 768px))
//    576px
@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
    $min: map-get($breakpoints, $name);
    @return if($min != 0, $min, null);
}

// Maximum breakpoint width. Null for the largest (last) breakpoint.
// The maximum value is calculated as the minimum of the next one less 0.1.
//
//    >> breakpoint-max(sm, (xs: 0, sm: 576px, md: 768px))
//    767px
@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
    $next: breakpoint-next($name, $breakpoints);
    @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}

// Returns a blank string if smallest breakpoint, otherwise returns the name with a dash infront.
// Useful for making responsive utilities.
//
//    >> breakpoint-infix(xs, (xs: 0, sm: 576px, md: 768px))
//    ""  (Returns a blank string)
//    >> breakpoint-infix(sm, (xs: 0, sm: 576px, md: 768px))
//    "-sm"
@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
    @return if(breakpoint-min($name, $breakpoints) == null, "", "-#{$name}");
}

// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
    $min: breakpoint-min($name, $breakpoints);
    @if $min {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}


@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @each $prop, $abbrev in (margin: m, padding: p) {
            @each $size, $lengths in $spacers {
                $length-x: map-get($lengths, x);
                $length-y: map-get($lengths, y);

                .#{$abbrev}#{$infix}-#{$size}  { #{$prop}:        $length-y $length-x !important; }
                .#{$abbrev}t#{$infix}-#{$size} { #{$prop}-top:    $length-y !important; }
                .#{$abbrev}r#{$infix}-#{$size} { #{$prop}-right:  $length-x !important; }
                .#{$abbrev}b#{$infix}-#{$size} { #{$prop}-bottom: $length-y !important; }
                .#{$abbrev}l#{$infix}-#{$size} { #{$prop}-left:   $length-x !important; }
                .#{$abbrev}x#{$infix}-#{$size} {
                    #{$prop}-right: $length-x !important;
                    #{$prop}-left:  $length-x !important;
                }
                .#{$abbrev}y#{$infix}-#{$size} {
                    #{$prop}-top:    $length-y !important;
                    #{$prop}-bottom: $length-y !important;
                }
            }
        }

        // Some special margin utils
        .m#{$infix}-auto  { margin:        auto !important; }
        .mt#{$infix}-auto { margin-top:    auto !important; }
        .mr#{$infix}-auto { margin-right:  auto !important; }
        .mb#{$infix}-auto { margin-bottom: auto !important; }
        .ml#{$infix}-auto { margin-left:   auto !important; }
        .mx#{$infix}-auto {
            margin-right: auto !important;
            margin-left:  auto !important;
        }
        .my#{$infix}-auto {
            margin-top:    auto !important;
            margin-bottom: auto !important;
        }
    }
}
