/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
@import "../../../styles/variables";

nav {
    vertical-align: middle;
    background-color: $white;
    border-bottom: 1px solid #e7eaec !important;
    height: 5.5rem;

    ul {
        padding: 20px;
        height: 100%;
        list-style-type: none;

        li {
            float: left;
            height: inherit;

            &:last-of-type {
                display: flex;
                align-items: center;
            }
        }
    }

}

button.toggle-menu {
    position: relative;
    z-index: 1000; // higher than dpm-mark (dpm-side-nav)
}

img {
    height: inherit;
    &.customer-logo {
        max-width: 250px;
        max-height: 100%;

        @media screen and (max-width: 992px) {
            display: none;
        }
    }
}

.date-wrapper {
    hr {
        margin: 0;
        border: none;
        border-top: 1px solid $brand-primary;
    }
}
