<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<nav>
    <ul>
        <li>
            <button class="btn btn-primary toggle-menu"
                    (click)="emitToggleSideNavbar()"><i class="fa fa-bars"></i></button>
        </li>

        <li class="ml-4" *ngIf="customerLogo !== ''">
            <img class="customer-logo" src="/assets/img/{{customerLogo}}">
        </li>

        <li class="pull-right">
            <dpm-button
                [text]="'Logout'"
                [spinnerOn]="waitingForResponse"
                [cssClass]="'btn btn-danger btn dpm-button-width'"
                (click)="doLogout()"
            ></dpm-button>
        </li>


        <li class="pull-right mr-5">
            <dpm-menu-search></dpm-menu-search>
            <div class="date-wrapper ml-3">
                <h5 class="m-0">{{ today | dpmDate:'LLLL' | capitalize }}</h5>
                <hr class="pb-1">
                <small class="m-0">
                    Ultima modifica {{ lastEvent$ | async | dpmDate:'LLLL' | capitalize }}
                </small>
            </div>
        </li>

    </ul>

</nav>
