<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<form novalidate (ngSubmit)="onSubmit(recordInfo.value)" [formGroup]="recordInfo">
    <div class="row text-center mb-5" *ngIf="isFileReaderSupported">
        <div class="form-group mb-4">
            <div class="col-xs-12 text-center">
                <img
                    class="img-thumbnail img-circle mb-3 {{ RendererProvider.userIconCssClassRenderer(record?.avatar) }}"
                    [src]="RendererProvider.userIconSrcRenderer(base64image)">
            </div>

            <div class="col-xs-12 text-center">
                <input type="file" class="form-control-file" id="avatar" accept="image/*"
                       formControlName="avatar" (change)="handleInputChange($event)" autocomplete="off">
                <label class="btn btn-primary" for="avatar">Scegli File</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group mb-4">
                <label for="username">Username <span>*</span></label>
                <input dpmAutofocus type="text" class="form-control" id="username" formControlName="username" required
                       autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('username')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.username"></dpm-validation-message>
            </div>
            <div class="form-group mb-4">
                <label for="firstname">Nome <span>*</span></label>
                <input type="text" class="form-control" id="firstname" formControlName="firstname" required
                       autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('firstname')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.firstname"></dpm-validation-message>
            </div>
            <div class="form-group mb-4">
                <label for="lastname">Cognome <span>*</span></label>
                <input type="text" class="form-control" id="lastname" formControlName="lastname" required
                       autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('lastname')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.lastname"></dpm-validation-message>
            </div>
            <div class="form-group mb-4">
                <label for="sex">Sesso</label>
                <input type="text" class="form-control" id="sex" formControlName="sex" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('sex')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.sex"></dpm-validation-message>
            </div>
            <div class="form-group mb-4">
                <label for="email">Indirizzo Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('email')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.email"></dpm-validation-message>
            </div>
            <div class="form-group mb-4">
                <label for="password" tooltip="Minimo 8 caratteri, una lettera minuscola, una lettera maiuscola e un
                    carattere speciale">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password"
                       (keypress)="setPasswordValidation()" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('password')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.password"></dpm-validation-message>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="form-group mb-4">
                <label for="fiscal-code">Codice Fiscale</label>
                <input type="text" class="form-control" id="fiscal-code" formControlName="fiscal_code"
                       (keypress)="setFiscalCodeValidation()" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('fiscal_code')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.fiscal_code"></dpm-validation-message>
            </div>
            <div class="form-group mb-4">
                <label for="user-number">Matricola <span>*</span></label>
                <input type="text" class="form-control" id="user-number" formControlName="user_number" required
                       autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('user_number')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.user_number"></dpm-validation-message>
            </div>
            <div class="form-group mb-4">
                <label for="dismissal-date">Data di cessazione</label>
                <input type="text" class="form-control dpm-input" id="dismissal-date" autocomplete="off"
                       #datePicker="bsDatepicker"
                       bsDatepicker
                       [bsConfig]="bsConfig"
                       (bsValueChange)="setDismissalDate($event)"
                       formControlName="dismissal_date"
                >
                <dpm-validation-message [message]="validationMessages.errors.dismissal_date"></dpm-validation-message>
            </div>
            <div class="form-group mb-4">
                <label for="binding-field">Campo di bind</label>
                <input type="text" id="binding-field" class="form-control" formControlName="binding_field"
                       autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('binding_field')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.binding_field"></dpm-validation-message>
            </div>
        </div>
    </div>

    <button type="submit" class="mb-4 pull-right btn"
            [ngClass]="recordInfo.valid ? 'btn-primary' : 'btn-info'"
            [disabled]="recordInfo.invalid"
    > Invia
    </button>
</form>
