<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="row mt-2 ml-1 mr-1 pt-3 pl-4 pr-3" [@FadeIn]>
    <div class="col-xs-12 pt-3 mb-4">
        <h1 class="text-light page-title">Categorie di dati</h1>
        <blockquote class="small">
            «Dato personale»: qualsiasi informazione riguardante una persona fisica identificata o identificabile
        </blockquote>
    </div>

    <div class="col-xs-12 mb-5">
        <tabset>

            <tab class="border-fix">
                <ng-template tabHeading>
                    <span (click)="initPersonalDataCategories()">Personali</span>
                </ng-template>

                <div class="pt-4 mr-3 mb-1 ml-4">
                    <tabset type="pills">

                        <tab dpmDataCategory *ngFor="let dataCategory of personalDataCategories$ | async"
                             [dataCategory]="dataCategory"
                             [heading]="dataCategory.name | capitalize"
                        ></tab>

                        <tab *ngIf="loadedPersonalDataCategories" customClass="add-new-data-category-pill">
                            <ng-template tabHeading>
                                <i class="fa fa-plus"></i>
                            </ng-template>

                            <div class="mt-4 ml-3 mr-3 mb-4">
                                <h4 class="text-light pb-4">Nuova categoria di dati personali</h4>
                                <dpm-new-data-category-form (addNewDataCategory)="addNewPersonalDataCategory($event)"
                                ></dpm-new-data-category-form>
                            </div>
                        </tab>

                    </tabset>
                </div>
            </tab>

            <tab class="border-fix">
                <ng-template tabHeading>
                    <span (click)="initSensitiveDataCategories()">Particolari</span>
                </ng-template>

                <div class="pt-4 mr-3 mb-1 ml-4">
                    <tabset type="pills">

                        <tab dpmDataCategory *ngFor="let dataCategory of sensitiveDataCategories$ | async"
                             [dataCategory]="dataCategory"
                             [heading]="dataCategory.name | capitalize"
                        ></tab>

                        <tab *ngIf="loadedSensitiveDataCategories" customClass="add-new-data-category-pill">
                            <ng-template tabHeading>
                                <i class="fa fa-plus"></i>
                            </ng-template>

                            <div class="mt-4 ml-3 mr-3 mb-4">
                                <h4 class="text-light pb-4">Nuova categoria di dati particolari</h4>
                                <dpm-new-data-category-form (addNewDataCategory)="addNewSensitiveDataCategory($event)"
                                ></dpm-new-data-category-form>
                            </div>
                        </tab>

                    </tabset>
                </div>
            </tab>


        </tabset>
    </div>
</div>
