<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<form novalidate (ngSubmit)="onSubmit(recordInfo.value)" [formGroup]="recordInfo">

    <div class="row">
        <div class="col-xs-12">

            <div class="form-group mb-4">
                <label for="description">Descrizione <span>*</span></label>
                <input dpmAutofocus type="text" class="form-control" id="description"
                       formControlName="description" required autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('description')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.description"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="brand">Marca</label>
                <input type="text" class="form-control" id="brand" formControlName="brand" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('brand')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.brand"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="model">Modello</label>
                <input type="text" class="form-control" id="model" formControlName="model" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('model')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.model"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="supplier">Fornitore</label>
                <input type="text" class="form-control" id="supplier" formControlName="supplier" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('supplier')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.supplier"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="operating_system_id">Sistema operativo</label>
                <select class="dpm-input" name="operating_system_id" id="operating_system_id"
                        formControlName="operating_system_id">
                    <option [value]="''" default>Selezionare il sistema operativo</option>
                    <option *ngFor="let operatingSystem of operatingSystems$ | async" [value]="operatingSystem.id">
                        {{ operatingSystem.name | capitalize }}
                    </option>
                </select>
                <dpm-validation-message [message]="validationMessages.errors.operating_system"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="hostname">Hostname</label>
                <input type="text" class="form-control" id="hostname" formControlName="hostname" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('hostname')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.hostname"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="ip">Indirizzo IP</label>
                <input type="text" class="form-control" id="ip" formControlName="ip" autocomplete="off">
                <span class="form-text text-warning"
                      *ngIf="recordInfo.get('ip').invalid && recordInfo.get('ip').touched">
                    Indirizzo ip non valido
                </span>
                <dpm-control-messages [control]="recordInfo.get('ip')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.ip"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="notes">Note</label>
                <input type="text" class="form-control" id="notes" formControlName="notes" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('notes')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.notes"></dpm-validation-message>
            </div>
        </div>

    </div>

    <button type="submit" class="mb-4 pull-right btn"
            [ngClass]="recordInfo.valid ? 'btn-primary' : 'btn-info'"
            [disabled]="recordInfo.invalid"
    > Invia
    </button>
</form>
