/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

/* You can add global styles to this file, and also import other style files */
@import "opensans";
@import "variables";
@import "utilities";
@import "mixins";

@import "~font-awesome/css/font-awesome.min.css";
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "dpm-classes";
@import "components";
@import "ng2-toastr";


@import "dpm-overrides";

:root {
    font-size: $font-size-base;
}

html, body {
    min-height: 100%;
    height: 100%;
}
