<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<dpm-wizard-step
    [canAdvanceStep]="stepForm.valid"
    [isFinalStep]="true"
    [stepState]="stepState"
    (previousStep)="previousStep.emit($event)"
    (wizardEnd)="onWizardEnd()"
>
    <div stepTitle [@FadeIn]>
        <h2 class="text-light">Controllo e manutenzione</h2>
        <blockquote class="small mt-3 mb-3">
            I trattamenti tendono a evolvere rapidamente e possono facilmente presentarsi nuove vulnerabilità;
            pertanto, occorre osservare che la revisione di una DPIA non è soltanto utile ai fini del miglioramento
            continuo, ma è anche indispensabile per mantenere inalterato il livello di protezione dei dati al mutare
            delle condizioni nel tempo.
        </blockquote>
    </div>

    <div stepBody [@FadeIn] *ngIf="currentDpiaProjectId">
        <form [formGroup]="stepForm">
            <div class="form-group pb-4">
                <label for="date">
                    Data del prossimo controllo
                    <dpm-required-icon-indicator
                            [isRequired]="true"
                            [isFilled]="stepForm.get('review_date').valid"
                    ></dpm-required-icon-indicator>
                </label>

                <input type="text" class="form-control dpm-input" id="date" autocomplete="off"
                       #datePicker="bsDatepicker"
                       bsDatepicker
                       [bsConfig]="bsConfig"
                       [minDate]="minDate"
                       (bsValueChange)="updateReviewDate($event)"
                       formControlName="review_date"
                >
                <dpm-validation-message [message]="validationMessages.errors.review_date"></dpm-validation-message>
            </div>

            <div class="form-group pb-4">
                <label for="status">Status
                    <dpm-required-icon-indicator
                            [isRequired]="true"
                            [isFilled]="stepForm.get('status').valid"
                    ></dpm-required-icon-indicator>
                </label>
                <select class="form-control dpm-input" name="status" id="status" formControlName="status"
                        (change)="updateReviewStatus()">
                    <option [value]="'in corso'">In corso</option>
                    <option [value]="'in attesa di revisione'">In attesa di revisione</option>
                    <option [value]="'completo'">Completo</option>
                </select>
            </div>

            <div class="form-group pb-4">
                <label for="notes">Note</label>
                <dpm-validation-message [message]="validationMessages.errors.notes"></dpm-validation-message>
                <textarea class="form-control dpm-input" name="notes" id="notes" rows="10"
                          formControlName="notes" (blur)="updateReviewNotes()"
                ></textarea>
            </div>
        </form>
    </div>


</dpm-wizard-step>
