<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<input class="form-control dpm-input mb-3 mt-3" type="text" placeholder="Ricerca unità" #filter
       *ngIf="options.searchable" (keyup)="filterFunction(filter.value, tree)">


<ng-template #defaultNodeTemplate let-node let-index="index">
    <div class="node-content">
        <p class="checkbox-wrapper clickable m-0">
            <ng-container *ngIf="options.displayCheckboxes">
                <input type="checkbox" class="form-control dpm-input small-checkbox" #checkbox
                       [checked]="isSelected(node)">
                <label (keyup.space)="nodeSelected.emit(node)" (click)="nodeSelected.emit(node)"></label>
            </ng-container>
            <ng-template #defaultNodeNameTemplate>
                <span class="node-template-content pl-2">
                    {{ node.data?.code }}
                    <ng-container *ngIf="node.data.code && node.data.name">-</ng-container>
                    {{ node.data?.name }}
                </span>
            </ng-template>
            <ng-container *ngIf="nodeNameTemplate; else defaultNodeNameTemplate"
                          [ngTemplateOutlet]="nodeNameTemplate"
                          [ngTemplateOutletContext]="{ $implicit: node }"
            ></ng-container>
        </p>
    </div>
</ng-template>


<tree-root
    #tree
    [nodes]="nodes"
    [options]="options">

    <ng-template #treeNodeWrapperTemplate let-node>
        <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
            <tree-node-expander [node]="node"></tree-node-expander>
            <div class="node-content-wrapper"
                 [class.node-content-wrapper-active]="node.isActive"
                 [class.node-content-wrapper-focused]="node.isFocused"
                 [class.node-content-wrapper-disabled]="node.data.deleted_at !== null"
                 (click)="node.mouseAction('click', $event)"
                 (dblclick)="node.mouseAction('dblClick', $event)"
                 (contextmenu)="node.mouseAction('contextMenu', $event)"
                 (treeDrop)="node.onDrop($event)"
                 [treeAllowDrop]="node.allowDrop"
                 [treeDrag]="node"
                 [treeDragEnabled]="node.allowDrag()">

                <ng-container
                    *ngIf="!nodeTemplate"
                    [ngTemplateOutlet]="defaultNodeTemplate"
                    [ngTemplateOutletContext]="{ $implicit: node }"
                ></ng-container>

                <ng-container
                    *ngIf="nodeTemplate"
                    [ngTemplateOutlet]="nodeTemplate"
                    [ngTemplateOutletContext]="{ $implicit: node }"
                ></ng-container>

            </div>
        </div>
    </ng-template>

</tree-root>
