<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<dpm-wizard-step
    [canAdvanceStep]="stepForm.valid"
    [stepState]="stepState"
    [btnNextText]="'Salva e procedi'"
    (nextStep)="onNextStep()"
>
    <div stepTitle [@FadeIn]>
        <h2 class="text-light">Dati essenziali</h2>
    </div>

    <div stepBody [@FadeIn]>
        <form [formGroup]="stepForm" novalidate>
            <div class="form-group pb-4 mb-2">
                <p>
                    <strong class="pr-1 mr-1" (click)="is_active = !is_active; formChanges$.next()">Attivo</strong>
                    <dpm-toggle-switch
                        [currentValue]="is_active"
                        (toggle)="is_active = !is_active; formChanges$.next()"
                    ></dpm-toggle-switch>
                </p>
            </div>

            <div class="form-group pb-4" *ngIf="isProcessingActivityBeingEdited">
                <label for="identification-code">Identificativo</label>
                <input type="text" class="form-control dpm-input" id="identification-code"
                       formControlName="identification_code" (blur)="saveDataToStore()" autocomplete="off">
                <dpm-control-messages [control]="stepForm.get('identification_code')"></dpm-control-messages>
                <dpm-validation-message
                    [message]="validationMessages.errors.identification_code"></dpm-validation-message>
            </div>

            <div class="form-group pt-2 pb-4">
                <label for="name">Nome
                    <dpm-required-icon-indicator
                        [isRequired]="true"
                        [isFilled]="stepForm.get('name').valid"
                    ></dpm-required-icon-indicator>
                </label>
                <input id="name" class="form-control dpm-input" formControlName="name"
                       (blur)="saveDataToStore()" (keypress)="resetValidationErrors()" autocomplete="off">
                <dpm-control-messages [control]="stepForm.get('name')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.name"></dpm-validation-message>
            </div>

            <div class="form-group pt-2 pb-4">
                <label for="description">Descrizione
                    <dpm-required-icon-indicator
                        [isRequired]="true"
                        [isFilled]="stepForm.get('description').valid"
                    ></dpm-required-icon-indicator>
                </label>
                <dpm-control-messages [control]="stepForm.get('description')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.description"></dpm-validation-message>
                <textarea name="description" cols="30" rows="10" class="form-control dpm-input" id="description"
                          formControlName="description" (blur)="saveDataToStore()" (keypress)="resetValidationErrors()"
                ></textarea>
            </div>

            <div class="form-group pt-2 pb-4 mb-4">
                <label for="purpose">Finalità
                    <dpm-required-icon-indicator
                        [isDesirable]="true"
                        [isFilled]="stepForm.get('purpose').value !== null && stepForm.get('purpose').value.length > 0"
                    ></dpm-required-icon-indicator>
                </label>
                <blockquote class="text-base text-muted mb-2">
                    I dati personali sono raccolti per finalità determinate, esplicite e legittime.
                </blockquote>
                <input id="purpose" class="form-control dpm-input" formControlName="purpose"
                       (blur)="saveDataToStore()" placeholder="Finalità" (keypress)="resetValidationErrors()"
                       autocomplete="off">
                <dpm-control-messages [control]="stepForm.get('purpose')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.purpose"></dpm-validation-message>
                <div class="pb-2"></div>
            </div>

            <div class="form-group mb-2">
                <label class="mb-0">
                    Basi legali che legittimano il trattamento
                    <dpm-required-icon-indicator
                        [isDesirable]="true"
                        [isFilled]="stepForm.get('legal_basis').value !== null && stepForm.get('legal_basis').value.length > 0"
                    ></dpm-required-icon-indicator>
                </label>
                <dpm-legal-basis-selector
                    (selectionChange)="stepForm.controls.legal_basis.markAsDirty(); formChanges$.next()"
                ></dpm-legal-basis-selector>
            </div>

            <div class="form-group pt-2 pb-4 mb-4">
                <label for="purpose">Riferimenti normativi</label>
                <input id="legal_references" class="form-control dpm-input" formControlName="legal_references"
                       (blur)="saveDataToStore()" placeholder="Riferimenti" (keypress)="resetValidationErrors()"
                       autocomplete="off">
                <dpm-control-messages [control]="stepForm.get('legal_references')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.legal_references"></dpm-validation-message>
                <div class="pb-2"></div>
            </div>

            <div class="form-group">
                <p class="pb-1"><strong>Origine dei dati</strong></p>

                <span class="mr-3">
                    <input type="checkbox" class="form-control dpm-input small-checkbox"
                           [checked]="isSubject()">
                    <label class="checkbox-label" tabindex="0"
                           (keyup.space)="toggleDataSourceType(DATA_SOURCE_SUBJECT)"
                           (click)="toggleDataSourceType(DATA_SOURCE_SUBJECT)"
                    ></label>
                    <span class="clickable"
                          (click)="toggleDataSourceType(DATA_SOURCE_SUBJECT)">Raccolti presso l’interessato</span>
                </span>
                <span>
                    <input type="checkbox" class="form-control dpm-input small-checkbox"
                           [checked]="isThirdParty()">
                    <label class="checkbox-label" tabindex="0"
                           (keyup.space)="toggleDataSourceType(DATA_SOURCE_THIRD_PARTY)"
                           (click)="toggleDataSourceType(DATA_SOURCE_THIRD_PARTY)"
                    ></label>
                    <span class="clickable"
                          (click)="toggleDataSourceType(DATA_SOURCE_THIRD_PARTY)">Comunicati da terzi</span>
                </span>

                <dpm-data-sources-selector
                    *ngIf="isThirdParty()"
                    (selectionChange)="stepForm.markAsDirty(); formChanges$.next()"
                ></dpm-data-sources-selector>
            </div>

            <div class="form-group pt-2">
                <p class="pb-1"><strong>
                    Tipo di banca dati
                    <dpm-required-icon-indicator
                        [isRequired]="true"
                        [isFilled]="stepForm.get('process_types').valid"
                    ></dpm-required-icon-indicator>
                </strong></p>
                <span class="mr-2">
                    <input type="checkbox" class="form-control dpm-input small-checkbox"
                           [checked]="isProcessTypePaper()">
                    <label class="checkbox-label" tabindex="0"
                           (keyup.space)="toggleProcessType(PROCESS_TYPE_PAPER)"
                           (click)="toggleProcessType(PROCESS_TYPE_PAPER)"
                    ></label>
                    <span class="clickable"
                          (click)="toggleProcessType(PROCESS_TYPE_PAPER)">Cartaceo</span>
                </span>
                <span>
                    <input type="checkbox" class="form-control dpm-input small-checkbox"
                           [checked]="isProcessTypeIT()">
                    <label class="checkbox-label" tabindex="0"
                           (keyup.space)="toggleProcessType(PROCESS_TYPE_IT)"
                           (click)="toggleProcessType(PROCESS_TYPE_IT)"
                    ></label>
                    <span class="clickable"
                          (click)="toggleProcessType(PROCESS_TYPE_IT)">Informatizzato</span>
                </span>
            </div>

            <div class="form-group pt-2 pb-4">
                <p class="pb-2"><strong>
                    Categorie di dati
                    <dpm-required-icon-indicator
                        [isRequired]="true"
                        [isFilled]="stepForm.get('data_categories').valid"
                    ></dpm-required-icon-indicator>
                </strong></p>

                <div class="pl-3">
                    <dpm-data-category-selector
                        [selectedDataCategories]="selectedDataCategoriesRecords"
                        [selectedDataTypes]="selectedDataTypesRecords"
                        [personalDataCategories]="personalDataCategories"
                        [sensitiveDataCategories]="sensitiveDataCategories"
                        (dataCategoryToggled)="onDataCategoryToggled($event)"
                        (dataTypeToggled)="onDataTypeToggled($event)"
                    ></dpm-data-category-selector>
                </div>
            </div>
        </form>

    </div>
</dpm-wizard-step>
