<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<dpm-wizard-step
    [canAdvanceStep]="stepForm.valid"
    [btnNextText]="'Salva e procedi'"
    [stepState]="stepState"
    (nextStep)="onNextStep()"
>
    <div stepTitle [@FadeIn]>
        <h2 class="text-light">Dati essenziali</h2>
        <blockquote class="small mt-3 mb-3">
           Indicare il nome del progetto di analisi di impatto ed il trattamento a cui esso si riferisce.
        </blockquote>
    </div>

    <div stepBody [@FadeIn]>

        <form [formGroup]="stepForm" novalidate>
            <div class="form-group pb-4">
                <label for="name">
                    Nome
                    <dpm-required-icon-indicator
                            [isRequired]="true"
                            [isFilled]="stepForm.get('name').valid"
                    ></dpm-required-icon-indicator>
                </label>
                <input dpmAutofocus id="name" class="form-control dpm-input" formControlName="name" autocomplete="off">
                <dpm-control-messages [control]="stepForm.get('name')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.name"></dpm-validation-message>
            </div>

            <div class="form-group pb-4">
                <label for="goal">Obbiettivo</label>
                <input id="goal" class="form-control dpm-input" formControlName="goal" autocomplete="off">
                <dpm-control-messages [control]="stepForm.get('goal')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.goal"></dpm-validation-message>
            </div>

            <div class="form-group pb-4">
                <label class="pb-2">Trattamento
                    <dpm-required-icon-indicator
                            [isRequired]="true"
                            [isFilled]="stepForm.get('processing_activity_id').valid"
                    ></dpm-required-icon-indicator>
                </label>
                <dpm-tag-coupler
                    [isDeleted]="false"
                    [labels]="tagCouplerLabels"
                    [assignedTags$]="assignedTags$"
                    [availableTags$]="availableTags$"
                    [displayToggleButton]="false"
                    [showInsertionPrompt]="false"
                    (toggleTag)="onToggleTag($event)"
                    (searchTag)="onSearchTag($event)"
                ></dpm-tag-coupler>
            </div>
        </form>

    </div>
</dpm-wizard-step>
