<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="col-xs-12 col-sm-4">
    <div
            class="panel mb-0"
            [ngClass]="{'active-panel': exists(selectedUnit)}"
    >

        <ul class="nav nav-tabs text-center">
            <li class="nav-item">
                <a class="nav-link active text-capitalize text-primary m-0">Unità</a>
            </li>
            <li class="nav-item">
                <select dpmDropdownSelector title="Azione"
                        class="form-control text-capitalize"
                        [(ngModel)]="activeTab"
                        [values]="['nuovo', 'dettagli', 'modifica']"
                        [activeTab$]="activeTab$"></select>
            </li>
        </ul>


        <div [ngSwitch]="activeTab" class="mb-5">


            <div *ngSwitchCase="'dettagli'">
                <div class="media text-center ml-4 mr-4 p-3"
                     *ngIf="!exists(selectedUnit)" [@FadeIn]>
                    <hr>
                    <h5 class="media-heading pb-2 pt-4">Unità</h5>
                    <p class="small pb-4">Selezionare unità</p>
                    <hr>
                </div>

                <div class="container-fluid">
                    <div class="btn-toolbar mt-3 ml-4 mr-4" role="toolbar" aria-label="Toolbar"
                         *ngIf="exists(selectedUnit)">
                        <div class="btn-group btn-group-justified m-2" role="group" aria-label="First group">

                            <ng-container *ngIf="selectedUnit.data.deleted_at === null">
                                <a class="btn btn-primary"
                                   (click)="activeTab = 'modifica'">Modifica</a>
                                <a class="btn btn-primary"
                                   (click)="onDisableEntity()">Disattiva</a>
                            </ng-container>
                            <ng-container *ngIf="selectedUnit.data.deleted_at !== null">
                                <a class="btn btn-primary"
                                   (click)="onRestoreDeletedEntity()">Riattiva</a>
                                <a class="btn btn-primary"
                                   (click)="onDeleteEntity()">Elimina definitivamente</a>
                            </ng-container>

                        </div>
                    </div>
                </div>

                <div *ngIf="exists(selectedUnit)" [@FadeIn]>
                    <div class="media ml-4 mr-4">
                        <h2 class="media-heading pl-4 pb-2 pt-4 text-light">
                            Unità {{ selectedUnit.data.code }}: {{ selectedUnit.data.name }}
                        </h2>

                        <div class="ml-4 mr-4">
                            <p class="pt-4">
                                Nome: <strong>{{ selectedUnit.data.name }}</strong><br>
                                Codice: <strong>{{ selectedUnit.data.code }}</strong><br>
                                Descrizione: <strong>{{ selectedUnit.data.description }}</strong><br><br>
                            </p>

                            <dpm-tag-coupler
                                    [labels]="tagCouplerLabels"
                                    [availableTags$]="availableTags$"
                                    [assignedTags$]="assignedTags$"
                                    [displayToggleButton]="false"
                                    [additionModalBody]="additionModalBody"
                                    [deletionModalBody]="deletionModalBody"
                                    (searchTag)="onSearchTag($event)"
                                    (toggleTag)="onToggleTag($event)"
                            ></dpm-tag-coupler>

                            <ng-template #additionModalBody>
                                Sei sicuro di voler nominare il responsabile selezionato?
                            </ng-template>

                            <ng-template #deletionModalBody>
                                Sei sicuro di voler eliminare il responsabile selezionato?
                            </ng-template>
                        </div>

                    </div>

                </div>

            </div>


            <div *ngSwitchCase="'nuovo'">
                <div class="media text-center ml-4 mr-4" [@FadeIn]>
                    <hr>
                    <ng-template #defaultText>
                        <p class="small">Creazione nuova unità</p>
                    </ng-template>
                    <p class="small" *ngIf="exists(lastParentUnit); else defaultText">
                        Creazione nuova sottounità di
                        <strong>{{ lastParentUnit.code }}
                            <ng-container *ngIf="lastParentUnit.name"> - {{ lastParentUnit.name }}</ng-container>
                        </strong>
                    </p>
                    <hr>
                </div>
                <div class="media ml-4 mr-4 container-fluid">
                    <dpm-new-unit-form
                            [validationMessages]="validationMessages"
                            (addEntity)="onAddEntity($event)"
                    ></dpm-new-unit-form>
                </div>
            </div>


            <div *ngSwitchCase="'modifica'">
                <div *ngIf="exists(selectedUnit)">
                    <div class="media text-center ml-4 mr-4">
                        <hr>
                        <p class="small">Aggiorna i dati dell’unità</p>
                        <hr>
                    </div>
                    <div class="media ml-4 mr-4 container-fluid">
                        <dpm-update-unit-form
                                [record]="selectedUnit.data"
                                [validationMessages]="validationMessages"
                                (updateEntity)="onUpdateEntity($event)"
                        ></dpm-update-unit-form>
                    </div>
                </div>
            </div>


            <div *ngSwitchDefault>
                <div class="media text-center ml-4 mr-4" [@FadeIn]>
                    <hr>
                    <p class="small">Selezionare unità</p>
                    <hr>
                </div>
            </div>


        </div>

    </div>

</div>
