/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../../../styles/variables";
@import "../../../../../styles/utilities";


$circle-diameter: 1.2rem;

%vertical-line {
    background-color: $brand-info;
    content: '';
    position: absolute;
    left: calc(-#{$circle-diameter / 2} - 1px);
    top: $circle-diameter;
    height: 100%;
    width: 2px;
}

%wizard-nav-circle {
    position: absolute;
    top: 50%;
    left: -$circle-diameter;
    transform: translateY(-50%);
    width: $circle-diameter;
    height: $circle-diameter;
    content: '';
    text-align: center;
    vertical-align: middle;
    line-height: $circle-diameter;
    border-radius: 50%;
}


ul {
    @extend .pt-4;
    list-style: none;
    font-size: $font-size-large;

    li {
        @extend .pl-3;
        position: relative;
        text-transform: uppercase;
        color: $gray-light;

        a {
            color: $gray-light;

            &.clickable {
                cursor: pointer;
            }

            &:hover {
                color: $gray;
            }
        }

        &:not(:last-of-type) {
            @extend .mb-2;
            &:before {
                @extend %vertical-line;
            }
        }

        &:after {
            @extend %wizard-nav-circle;
            background-color: $brand-info;
        }

        &.active {
            &, a {
                color: $black;
            }

            &:after {
                background-color: $sub-menu-background-color;
            }
        }

        &:not(.active) {
            &.completed {
                a {
                    color: $black;
                }

                &:after {
                    background-color: $brand-success;
                }
            }

            &:not(.completed).visited:after {
                background-color: $brand-warning;
            }
        }
    }
}
