<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<table class="table table-hover mt-3 mb-3">
    <thead>
        <tr>
            <td class="checkbox-cell">
                <div *ngIf="dataTypes">
                    <input title="Seleziona tutti" type="checkbox" id="checkbox-input-head"
                           [checked]="areAllDataTypesEnabled">
                    <label for="checkbox-input-head" (click)="toggleAllDataTypes()"></label>
                </div>
            </td>
            <th class="p-3">
                <b>{{ dataCategory.name | capitalize }}</b>
            </th>
            <th class="p-3">
                <b>Descrizione</b>
            </th>
        </tr>
    </thead>

    <tbody *ngIf="dataTypes; else noRecordsFound">
        <tr dpmDataType *ngFor="let dataType of dataTypes"
            [dataType]="dataType"
            [doneEditingDataType]="dataType.doneEditing"
            (startedEditing)="onStartedEditing($event)"
            (toggleDataType)="onToggleDataType($event)"
            (updateDataType)="onUpdateDataType($event)"
        ></tr>

        <tr dpmNewDataType *ngIf="isNewDataInsertionActive" [@FadeIn] (keyup.enter)="addNewDataType()"></tr>
    </tbody>
</table>


<div class="mb-3" *ngIf="isNewDataInsertionActive; else addNewDataTypeButton" [@FadeIn]>
    <button class="btn btn-primary pl-4 pr-4 mr-1" (click)="addNewDataType()"
            [disabled]="!NewDataTypeComponent.isValid">Conferma</button>
    <button class="btn btn-primary pl-4 pr-4" (click)="toggleDataTypeInsertion()">Annulla</button>
</div>

<ng-template #addNewDataTypeButton>
    <button class="btn btn-primary mb-3 pl-4 pr-4" [@FadeIn]
            (click)="toggleDataTypeInsertion()"
    >Aggiungi Tipo</button>
</ng-template>


<ng-template #noRecordsFound>
    <tbody>
        <tr class="bg-faded">
            <td class="checkbox-cell"></td>
            <td rowspan="3" colspan="2" class="text-center">
                <p class="lead pt-4">Nessun record disponibile</p>
            </td>
        </tr>
        <tr *ngFor="let x of [1, 2, 3]">
            <td class="checkbox-cell"></td>
            <td></td>
        </tr>
    </tbody>
</ng-template>
