<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="dpm-widget panel panel-default" *ngIf="userStatistics$ | async as statistics">

    <div class="panel-heading">
        <div class="row pl-1">
            <div class="col-sm-6">
                <h5>Anagrafica</h5>
            </div>
            <div class="col-sm-6">
                <button [routerLink]="'/subjects/users'" class="btn btn-xs btn-primary pull-right">
                    Vai alla lista
                </button>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row widget-content">
            <div class="col-sm-6">
                <h1>
                    <a [routerLink]="'/subjects/users'" class="text-primary">{{statistics?.count}}</a>
                </h1>
                <small>Utenti inseriti in anagrafica</small>

                <br><br>
                <div class="row statistic-labels" *ngFor="let usersPerRole of statistics?.usersPerRole">
                    <div class="col-sm-6">
                        {{ usersPerRole.role }}
                    </div>
                    <div class="col-sm-6">
                        <strong class="pull-right">
                            <a [routerLink]="'/subjects/roles'">{{usersPerRole.users}}</a></strong>
                    </div>
                </div>

            </div>

            <div class="col-sm-6">
                <canvas baseChart
                        [data]="statistics?.usersPerRolePieData"
                        [labels]="statistics?.usersPerRolePieLabels"
                        [options]="{ legend: false, cutoutPercentage: 75, maintainAspectRatio: true, onResize: onResize }"
                        [chartType]="'doughnut'">
                </canvas>
            </div>
        </div>
    </div>
</div>
