<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<form novalidate (ngSubmit)="onSubmit(recordInfo.value)" [formGroup]="recordInfo">

    <div class="row">
        <div class="col-xs-12">

            <div class="form-group mb-4">
                <label for="company_name">Ragione sociale <span>*</span></label>

                <input (keyup)="validationMessages.errors.company_name = ''" type="text" class="form-control"
                       id="company_name" formControlName="company_name" required autocomplete="off">

                <dpm-control-messages [control]="recordInfo.get('company_name')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.company_name"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="fiscal_code">Codice Fiscale</label>
                <input type="text" class="form-control" id="fiscal_code" formControlName="fiscal_code"
                       autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('fiscal_code')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.fiscal_code"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="company_number">Partita IVA</label>
                <input class="form-control" type="text" id="company_number" formControlName="company_number"
                       autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('company_number')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.company_number"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="holder_firstname">Nome titolare</label>
                <input class="form-control" type="text" id="holder_firstname" formControlName="holder_firstname"
                       autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('holder_firstname')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.holder_firstname"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="holder_lastname">Cognome titolare</label>
                <input class="form-control" type="text" id="holder_lastname" formControlName="holder_lastname"
                       autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('holder_lastname')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.holder_lastname"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="holder_title">Titolo del titolare</label>
                <input class="form-control" type="text" id="holder_title" formControlName="holder_title"
                       autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('holder_title')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.holder_title"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="holder_qualification">Carica del titolare</label>
                <input class="form-control" type="text" id="holder_qualification"
                       formControlName="holder_qualification" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('holder_qualification')"></dpm-control-messages>
                <dpm-validation-message
                    [message]="validationMessages.errors.holder_qualification"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="address">Indirizzo</label>
                <input class="form-control" type="text" id="address" formControlName="address" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('address')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.address"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="city">Città</label>
                <input type="text" class="form-control" id="city" formControlName="city" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('city')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.city"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="zip_code">CAP</label>
                <input type="text" class="form-control" id="zip_code" formControlName="zip_code" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('zip_code')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.zip_code"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="phone">Telefono</label>
                <input type="tel" class="form-control" id="phone" formControlName="phone" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('phone')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.phone"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="fax">Fax</label>
                <input type="tel" class="form-control" id="fax" formControlName="fax" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('fax')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.fax"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('email')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.email"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="web">Sito web</label>
                <input type="text" class="form-control" id="web" formControlName="web" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('web')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.web"></dpm-validation-message>
            </div>

        </div>
    </div>

    <button type="submit" class="mt-1 mb-4 pull-right btn"
            [ngClass]="(recordInfo.valid && recordInfo.dirty && recordInfo.touched) ? 'btn-primary' : 'btn-info'"
            [disabled]="recordInfo.invalid || recordInfo.pristine"
    > Aggiorna
    </button>

    <button type="reset" class="mt-1 mb-4 mr-4 pull-right btn btn-default"
            (click)="cancelRecordUpdate()"
    > Annulla
    </button>
</form>
