<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="form-text text-warning" *ngIf="control.invalid && control.touched">
    <p *ngIf="control.errors.required">Campo obbligatorio</p>
    <p *ngIf="control.errors.email">Indirizzo email non valido</p>
    <p *ngIf="control.errors.fiscal_code">Codice fiscale non valido</p>
    <p *ngIf="control.errors.password">
        La password deve contenere almeno 8 caratteri, una lettera minuscola, una lettera maiuscola, un numero ed un
        carattere speciale
    </p>
    <p *ngIf="control.errors.minlength">
        Questo campo deve contenere almeno {{ control.errors.minlength.requiredLength }} caratteri
    </p>
    <p *ngIf="control.errors.maxlength">
        Questo campo può contenere fino a {{ control.errors.maxlength.requiredLength }} caratteri
    </p>
</div>
