<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<table class="table table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Tipo di controllo</th>
        <th>Mitigazione impatto</th>
        <th>Mitigazione probabilità</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let control of riskControls$ | async" [@FadeIn]>
        <td>{{ control.id }}</td>
        <td>{{ control.name }}</td>
        <td>{{ control.treatment_type }}</td>
        <td>
            <span class="badge"
                  [tooltip]="'Identifiability'"
                  [ngClass]="getBadgeClass(control.pivot.identifiability)">
                {{ control.pivot.identifiability }}
            </span>

            <span class="badge"
                  [tooltip]="'Prejudicial effect'"
                  [ngClass]="getBadgeClass(control.pivot.prejudicial_effect)">
                {{ control.pivot.prejudicial_effect }}
            </span>
        </td>
        <td>
            <span class="badge"
                  [tooltip]="'Vulnerability'"
                  [ngClass]="getBadgeClass(control.pivot.vulnerability)">
                {{ control.pivot.vulnerability }}
            </span>

            <span class="badge"
                  [tooltip]="'Risk Sources Capabilities'"
                  [ngClass]="getBadgeClass(control.pivot.risk_sources_capabilities)">
                {{ control.pivot.risk_sources_capabilities }}
            </span>
        </td>
        <td>
            <div class="pull-right buttons">
                <span class="fa-stack fa-lg clickable" [tooltip]="'Modifica'"
                      (click)="selectControl(control); populateControlForm(); openModal.emit(controlEditModal)">
                    <i class="fa fa-pencil fa-stack-1x"></i>
                </span>
                <span class="fa-stack fa-lg clickable" [tooltip]="'Elimina'"
                      (click)="selectControl(control); openModal.emit(controlDeletionModal)">
                    <i class="fa fa-trash fa-stack-1x"></i>
                </span>
            </div>


            <ng-template #controlDeletionModal>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Conferma eliminazione</h4>
                    <button type="button" aria-label="Close" class="close pull-right"
                            (click)="hideModal.emit()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body risk-deletion-modal">
                    <p>Eliminare il controllo di sicurezza selezionato?</p>
                    <div>
                        <button class="btn btn-info" (click)="hideModal.emit()">Annulla
                        </button>
                        <button class="btn btn-primary" (click)="deleteSelectedControl()">
                            Conferma
                        </button>
                    </div>
                </div>
            </ng-template>

            <ng-template #controlEditModal>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Modifica controllo di sicurezza</h4>
                    <button type="button" class="close pull-right" aria-label="Close"
                            (click)="hideModal.emit()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="controlForm">
                        <div class="form-group pb-2">
                            <h4 class="text-light">{{ selectedControl.name }}</h4>
                        </div>

                        <div class="form-group pt-1 pb-2">
                            <p><strong>Mitigazione impatto
                                <span class="text-red">*</span></strong></p>
                            <dpm-select
                                [title]="'Identificabilità dei dati'"
                                [defaultValue]="getControlIdentifiability()"
                                [options]="controlMitigationOptions"
                                (selection)="selectControlIdentifiability($event)"
                            ></dpm-select>
                            <dpm-select
                                [title]="'Danno'"
                                [defaultValue]="getControlPrejudicialEffect()"
                                [options]="controlMitigationOptions"
                                (selection)="selectControlPrejudicialEffect($event)"
                            ></dpm-select>
                        </div>

                        <div class="form-group pb-2">
                            <p><strong>Mitigazione probabilità
                                <span class="text-red">*</span></strong></p>
                            <dpm-select
                                [title]="'Vulnerabilità degli asset'"
                                [defaultValue]="getControlVulnerability()"
                                [options]="controlMitigationOptions"
                                (selection)="selectControlVulnerability($event)"
                            ></dpm-select>
                            <dpm-select
                                [title]="'Capacità delle sorgenti di rischio'"
                                [defaultValue]="getControlCapabilities()"
                                [options]="controlMitigationOptions"
                                (selection)="selectControlCapabilities($event)"
                            ></dpm-select>
                        </div>

                        <div class="btn-group" role="group">
                            <button class="btn btn-default"
                                    (click)="hideModal.emit()">
                                Annulla
                            </button>
                            <button class="btn btn-primary" (click)="updateControl()"
                                    [disabled]="controlForm.invalid">
                                Salva
                            </button>
                        </div>

                    </form>
                </div>
            </ng-template>
        </td>
    </tr>


    <tr>
        <td colspan="6">
            <button class="btn btn-primary btn-sm"
                    (click)="resetControlForm(); openModal.emit(controlInsertionModal)">
                Aggiungi controllo di sicurezza
            </button>
            <ng-template #controlInsertionModal>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Inserimento controllo di
                        sicurezza</h4>
                    <button type="button" class="close pull-right" aria-label="Close"
                            (click)="hideModal.emit()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="controlForm">
                        <div class="form-group pb-2">
                            <dpm-tag-coupler
                                [showInsertionPrompt]="false"
                                [showDeletionPrompt]="false"
                                [isDeleted]="false"
                                [labels]="tagCouplerLabels"
                                [displayToggleButton]="false"
                                [availableTags$]="availableTags$"
                                [assignedTags$]="assignedTags$"
                                (toggleTag)="onToggleTag($event)"
                                (searchTag)="onSearchTag($event)"
                            ></dpm-tag-coupler>
                        </div>

                        <div class="form-group pt-1 pb-2">
                            <p><strong>Mitigazione impatto
                                <span class="text-red">*</span></strong></p>
                            <dpm-select
                                [title]="'Identificabilità dei dati'"
                                [defaultValue]="controlMitigationOptions[0]"
                                [options]="controlMitigationOptions"
                                (selection)="selectControlIdentifiability($event)"
                            ></dpm-select>
                            <dpm-select
                                [title]="'Danno'"
                                [defaultValue]="controlMitigationOptions[0]"
                                [options]="controlMitigationOptions"
                                (selection)="selectControlPrejudicialEffect($event)"
                            ></dpm-select>
                        </div>

                        <div class="form-group pb-2">
                            <p><strong>Mitigazione probabilità
                                <span class="text-red">*</span></strong></p>
                            <dpm-select
                                [title]="'Vulnerabilità degli asset'"
                                [defaultValue]="controlMitigationOptions[0]"
                                [options]="controlMitigationOptions"
                                (selection)="selectControlVulnerability($event)"
                            ></dpm-select>
                            <dpm-select
                                [title]="'Capacità delle sorgenti di rischio'"
                                [defaultValue]="controlMitigationOptions[0]"
                                [options]="controlMitigationOptions"
                                (selection)="selectControlCapabilities($event)"
                            ></dpm-select>
                        </div>

                        <div class="btn-group" role="group">
                            <button class="btn btn-default"
                                    (click)="hideModal.emit()">
                                Annulla
                            </button>
                            <button class="btn btn-primary" (click)="saveControl()"
                                    [disabled]="controlForm.invalid || selectedControlTag.length === 0">
                                Salva
                            </button>
                        </div>

                    </form>
                </div>
            </ng-template>
        </td>
    </tr>


    </tbody>
</table>
