/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../../styles/variables";
@import "../../../../styles/mixins";


ul {
    margin: 0;
    padding: 0;
    @include automatic-overflow(calc(100vh - #{$side-nav-heading-height}));
    &.collapsed {
        @include automatic-overflow(calc(100vh - #{$side-nav-heading-height-collapsed}));
    }
}

.nav-link {
    position: relative;
    list-style-type: none;
    display: block;
    padding: 1.2rem 1.6rem;
    text-transform: uppercase;
    color: $gray-lighter;
    cursor: pointer;
    transition: $default-transition;

    &:hover {
        color: $white;
        background-color: lighten($side-nav-background-color, 3);
        .fa {
            opacity: 1;
            transition: $default-transition;
        }
    }

    .fa {
        &.nav-icon {
            min-width: 1.4rem;
        }

        &:not(.nav-icon) {
            padding: 1rem;
            position: absolute;
            right: .5rem;
            top: 50%;
            transform: translate(0, -50%);
            opacity: 0;
        }
    }

    &.current-link {
        border-left: none;
        border-bottom: $current-link-border;

        .fa {
            opacity: 1;
            color: $gray-light;

            &:hover, &.nav-icon {
                color: $white;
            }
        }
    }

    &.submenu {
        padding-left: 2rem;
    }
}

.active-link {
    font-weight: bolder;
    border-left: $nav-link-border;
    background: $selected-menu-background-color;
    color: $white;
}
