<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<ul>

    <li *ngIf="menu.currentItem.children !== undefined">
        <a class="nav-link active-link current-link">
            {{ menu.currentItem.name[0].toUpperCase() }}
            <i class="fa fa-chevron-left pull-right"
               title="torna indietro"
               (click)="loadInitialMenu()"></i>
        </a>
    </li>

    <li [@SlideIn] *ngFor="let menuItem of menu.menuItems">
        <ng-container *ngIf="menuItem.children; else noChildren">
            <a class="nav-link" (click)="selectMenuItem(menuItem)">
                <span>{{ menuItem.name[0].toUpperCase() }}</span> <i class="fa fa-chevron-right"></i>
            </a>
        </ng-container>

        <ng-template #noChildren>
            <a class="nav-link" routerLinkActive="active-link"
               [class.submenu]="menu.currentItem.path === 'assets'"
               [routerLink]="'/' + menuItem.path">{{ menuItem.name[0].toUpperCase() }}</a>
        </ng-template>
    </li>

</ul>
