<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="row">
    <div class="col-xs-12">
        <ng-content select="[stepTitle]"></ng-content>
        <ng-content select="[stepBody]"></ng-content>
    </div>

    <div class="col-xs-12">
        <div class="btn-group">
            <button class="btn btn-info"
                    *ngIf="stepState.id !== 'step-0'"
                    (click)="previousStep.emit()"
            >Precedente</button>

            <button class="btn"
                    *ngIf="!isFinalStep"
                    [ngClass]="canAdvanceStep ? 'btn-primary' : 'btn-info'"
                    [disabled]="!canAdvanceStep"
                    (click)="nextStep.emit()"
            >{{ btnNextText }}</button>

            <button class="btn"
                    *ngIf="isFinalStep"
                    [ngClass]="canAdvanceStep ? 'btn-primary' : 'btn-info'"
                    [disabled]="!canAdvanceStep"
                    (click)="wizardEnd.emit()"
            >Fine</button>
        </div>
    </div>
</div>
