/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../../styles/variables";
@import "../../../../styles/utilities";


dpm-wizard-step {
    @extend .pt-4;

    form {
        @extend .pt-4;
        min-height: 325px;
    }

    ::ng-deep .form-group {
        max-width: $wizard-steps-max-width;
    }

    .form-group {

        &:not(:last-of-type) {
            @extend .pb-3;
        }

        @extend %radio-inline-fix;

        ::ng-deep input:not(.search-box-input) {
            @extend .collapsible-dpm-input;

            &[type=checkbox] {
                @extend %custom-checkbox;

                &.small-checkbox + label {
                    padding: 0.6rem;
                }
            }
        }

        textarea {
            max-width: $wizard-steps-max-width;
        }
    }

    .col-xs-12:first-of-type {
        margin-bottom: 2rem;
    }
}

hr {
    margin: 20px 0;
}

::ng-deep .modal-body {
    .btn-group {
        z-index: 900;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}
