<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<span class="fa-stack clickable" (click)="toggleMenuSearchVisibility()"
      [class.slide-left]="showMenuSearch === 'show'"
      [tooltip]="showMenuSearch === 'hide' ? 'Ricerca menu' : 'Chiudi ricerca'"
      placement="left">
    <i class="fa fa-search fa-lg"></i>
</span>

<div class="top-nav-search-box-wrapper" [@SlideInFadeInRight]="showMenuSearch">
    <dpm-search-box
        [availableTags]="availableTags"
        [showTags]="showingResults"
        [placeholder]="placeholder"
        (searchTags)="onSearch($event)"
        (selectTag)="onSelectTag($event)"
        (hideResults)="showingResults = false"
    ></dpm-search-box>
</div>
