/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../../styles/variables";


:host {
    display: flex;
    position: relative;
}

.fa-stack {
    position: absolute;
    right: 0;
    transition: $default-transition;

    &.slide-left {
        right: 100%;
    }

    .fa-search {
        color: $gray-light;
        transition: $default-transition;

        &:hover {
            color: $brand-primary;
        }
    }
}

::ng-deep .top-nav-search-box-wrapper > dpm-search-box > .suggestions {
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: $box-shadow;
    z-index: 2000;
}
