<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="alert alert-danger" *ngIf="validationMessages.message">{{ validationMessages.message }}</div>

<form novalidate (ngSubmit)="onSubmit(recordInfo.value)" [formGroup]="recordInfo">

    <div class="row">
        <div class="col-xs-12">

            <div class="form-group mb-4">
                <label for="name">Nome <span>*</span></label>

                <input dpmAutofocus (keyup)="validationMessages.errors.name = ''" type="text" class="form-control"
                       id="name" formControlName="name" required autocomplete="off">

                <dpm-control-messages [control]="recordInfo.get('name')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.name"></dpm-validation-message>
            </div>

        </div>

    </div>

    <button type="submit" class="mb-4 pull-right btn"
            [ngClass]="recordInfo.valid ? 'btn-primary' : 'btn-info'"
            [disabled]="recordInfo.invalid"
    > Invia
    </button>
</form>
