<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<dpm-wizard-step
    [canAdvanceStep]="true"
    [btnNextText]="'Continua'"
    [stepState]="stepState"
    (nextStep)="onNextStep()"
    (previousStep)="previousStep.emit($event)"
>

    <div stepTitle [@FadeIn]>
        <h2 class="text-light">
            Diritti e principi fondamentali
        </h2>
    </div>

    <div stepBody [@FadeIn]>
        <form [formGroup]="stepForm" novalidate>
            <h4 class="text-light pb-2">{{ dpiaDataSubjectsRightsLabels?.name }}</h4>

            <div class="form-group" *ngFor="let question of dpiaDataSubjectsRightsLabels?.questions">
                <p class="pt-1 pb-2">
                    <strong class="pr-1 mr-1">{{ question.question }}</strong>
                    <dpm-toggle-switch
                        [currentValue]="isQuestionSelected(question.id)"
                        (toggle)="toggleQuestion(question.id); savePrinciplesAnswers()"
                    ></dpm-toggle-switch>
                </p>
                <div>
                    <label>Descrizione modalità di implementazione</label>
                    <textarea cols="30" rows="5" class="form-control dpm-input"
                              [(ngModel)]="savedDescriptions[question.id]"
                              [ngModelOptions]="{ standalone: true }"
                              (blur)="savePrinciplesAnswers()"
                    ></textarea>
                </div>
            </div>
            <hr class="mt-4 mb-4">

            <div class="pb-3" *ngIf="currentProcessingActivity as pa" [@FadeIn]>
                <h4 class="text-light pb-2">Dati del trattamento</h4>
                Provenienza dei dati: {{ renderDataSourceTypes(pa.data_source_types) }}
                <ul class="mt-1 mb-1" *ngIf="pa?.data_sources.length > 0">
                    <li *ngFor="let ds of pa.data_sources">{{ ds.company_name }}</li>
                </ul>
                <br>
                Basi legali:
                <ul class="mt-1 mb-1" *ngIf="pa?.legal_basis.length > 0">
                    <li *ngFor="let lb of pa.legal_basis">{{ lb.name }}</li>
                </ul>
                <br>
                Finalità: {{ pa.purpose !== '' ? pa.purpose : 'Non specificata'}}
                <br>
                Periodo di conservazione:
                <ul class="mt-1 mb-1">
                    <li *ngFor="let retention of pa.retentions">{{ retention.name }}</li>
                </ul>
                <br>
                Misure di sicurezza adottate:
                <ul class="mt-1 mb-1">
                    <li *ngFor="let category of securityMeasuresCategories">
                        {{ category.name }}
                        <ul class="mt-1 mb-1"
                            *ngIf="getSecurityMeasuresForCategory(pa.security_measures, category).length > 0">
                            <li *ngFor="let sm of getSecurityMeasuresForCategory(pa.security_measures, category)">
                                {{ sm.name }}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <hr class="mt-4 mb-4">
            <h4 class="text-light pb-2">{{ dpiaPrinciplesLabels?.name }}</h4>

            <div class="form-group" *ngFor="let question of dpiaPrinciplesLabels?.questions">
                <p class="pt-1 pb-1">
                    <strong class="pr-1 mr-1">{{ question.title }}</strong>
                    <dpm-toggle-switch
                        [currentValue]="isQuestionSelected(question.id)"
                        (toggle)="toggleQuestion(question.id); savePrinciplesAnswers()"
                    ></dpm-toggle-switch>
                </p>
                <blockquote class="small" [innerHtml]="question.question"></blockquote>
                <div>
                    <label>Descrizione modalità di implementazione</label>
                    <textarea cols="30" rows="5" class="form-control dpm-input"
                              [(ngModel)]="savedDescriptions[question.id]"
                              [ngModelOptions]="{ standalone: true }"
                              (blur)="savePrinciplesAnswers()"
                    ></textarea>
                </div>
            </div>

        </form>

    </div>


</dpm-wizard-step>
