@import "../../../styles/variables";

.grid {
    width: 100%;
    display: grid;

    &.simple-statistics {
        // 4 columns
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 1rem 0 0 0;

        .cell {
            margin: 1rem;
            margin-bottom: 0;
            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    grid-column: #{$i} / #{$i + 1};
                }
            }
        }

        // 2 columns
        @media (max-width: 1200px) {
            grid-template-columns: 1fr 1fr;
            margin-bottom: .5rem;

            .cell {
                margin-bottom: .5rem;
                @for $i from 1 through 4 {
                    &:nth-child(#{$i}) {
                        @if ($i > 2) {
                            $i: $i - 2;
                            grid-row: 2 / 3;
                        }
                        grid-column: #{$i} / #{$i + 1};
                    }
                }
            }
        }

        // 1 column
        @media (max-width: 900px) {
            display: flex;
            flex-direction: column;
        }
    }

    &.advanced-statistics {
        // 3 columns
        grid-template-columns: 1fr 1fr 1fr;

        .cell {
            margin: 1rem;
            margin-bottom: 0.5rem;
            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    grid-row: 2 / 3;
                    grid-column: #{$i} / #{$i + 1};
                }
            }
        }

        // 2 columns
        @media (max-width: 1350px) {
            grid-template-columns: 1fr 1fr;
            margin-bottom: .5rem;

            .cell {
                margin-bottom: .5rem;
                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                        @if ($i > 2) {
                            $i: $i - 2;
                            grid-row: 3 / 4;
                        }
                        grid-column: #{$i} / #{$i + 1};
                    }
                }
            }
        }

        // 1 column
        @media (max-width: 900px) {
            display: flex;
            flex-direction: column;
        }
    }
}
