<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="grid simple-statistics">
    <ng-container *ngIf="statistics$ | async as statistics">
    <div class="cell" *ngFor="let statistic of statistics">

        <div class="dpm-widget panel panel-default">
            <div class="panel-heading">
                <div class="row pl-1">
                    <div class="col-sm-6">
                        <h5>{{ statistic.displayName }}</h5>
                    </div>
                    <div class="col-sm-6">
                    <button [routerLink]="statistic.clientRoute"
                        class="btn btn-xs btn-primary pull-right">
                        Vai alla lista
                    </button>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <h1 class="text-primary mt-0">{{ statistic.count }}</h1>
            </div>
        </div>
    </div>
    </ng-container>
</div>

<div class="grid advanced-statistics">

    <div class="cell">
        <dpm-user-widget></dpm-user-widget>
    </div>

    <div class="cell">
        <dpm-pa-widget></dpm-pa-widget>
    </div>

    <div class="cell">
        <dpm-dpia-widget></dpm-dpia-widget>
    </div>

</div>
