<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="row mt-2 ml-1 mr-1" [@FadeIn]="">
    <div class="col-xs-12">

        <div class="pt-4 pl-5 pr-5">
            <h1 class="text-light mb-3">
                Modifica trattamento <em>{{ processingActivityName }}</em>
            </h1>
            <blockquote class="small">
                «Trattamento» è qualsiasi operazione o insieme di operazioni, compiute con o senza l’ausilio di
                processi automatizzati e applicate a dati personali o insiemi di dati personali, come la raccolta,
                la registrazione, l’organizzazione, la strutturazione, la conservazione, l’adattamento o la modifica,
                l’estrazione, la consultazione, l’uso, la comunicazione mediante trasmissione, diffusione o qualsiasi
                altra forma di messa a disposizione, il raffronto o l’interconnessione, la limitazione, la cancellazione
                o la distruzione.
            </blockquote>
            <p class="mt-2">Torna al <a routerLink="/p-activities">registro dei trattamenti</a></p>
            <hr>
        </div>


        <div class="col-xs-8 col-md-9 col-lg-8 pt-2 pl-5 pr-5 pb-5">
            <dpm-basic-data-step
                *ngIf="currentStepId === 'step-0'"
                [stepState]="steps[0]"
                (nextStep)="onChangeStep(steps[1].id, $event)"
            ></dpm-basic-data-step>

            <dpm-subjects-step
                *ngIf="currentStepId === 'step-1'"
                [stepState]="steps[1]"
                (previousStep)="onChangeStep(steps[0].id)"
                (nextStep)="onChangeStep(steps[2].id)"
            ></dpm-subjects-step>

            <dpm-disclosure-subjects-step
                *ngIf="currentStepId === 'step-2'"
                [stepState]="steps[2]"
                (previousStep)="onChangeStep(steps[1].id)"
                (nextStep)="onChangeStep(steps[3].id)"
            ></dpm-disclosure-subjects-step>

            <dpm-security-measures-step
                *ngIf="currentStepId === 'step-3'"
                [stepState]="steps[3]"
                (previousStep)="onChangeStep(steps[2].id)"
                (nextStep)="onChangeStep(steps[4].id)"
            ></dpm-security-measures-step>

            <dpm-other-data-step
                *ngIf="currentStepId === 'step-4'"
                [stepState]="steps[4]"
                (previousStep)="onChangeStep(steps[3].id)"
                (wizardEnd)="onWizardEnd()"
            ></dpm-other-data-step>

        </div>

        <div class="col-xs-4 col-md-3 col-lg-4 wizard-nav-wrapper">
            <dpm-wizard-nav
                [currentStepId]="currentStepId"
                [steps]="steps"
                [stepsLabels]="stepsLabels"
                [canExitFirstStep]="true"
                (goToStep)="onChangeStep($event)"
            ></dpm-wizard-nav>
        </div>

    </div>
</div>
