<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="col-xs-12 col-sm-4">
    <div
        class="panel"
        [ngClass]="{'active-panel': records.length > 0}"
    >

        <ul class="nav nav-tabs text-center">
            <li class="nav-item">
                <a class="nav-link active text-primary m-0">Titolari</a>
            </li>
            <li class="nav-item">
                <select dpmDropdownSelector title="Azione"
                        class="form-control text-capitalize"
                        [(ngModel)]="activeTab"
                        [values]="dropdownOptions"
                        [activeTab$]="activeTab$"></select>
            </li>
        </ul>


        <div [ngSwitch]="activeTab">


            <div *ngSwitchCase="'dettagli'">
                <div class="media text-center ml-4 mr-4 p-3"
                     *ngIf="records.length === 0" [@FadeIn]>
                    <hr>
                    <h5 class="media-heading pb-2 pt-4">Lista Titolari</h5>
                    <p class="small pb-4">Selezionare titolare</p>
                    <hr>
                </div>

                <div class="container-fluid">
                    <div class="btn-toolbar mt-3 ml-4 mr-4" role="toolbar" aria-label="Toolbar"
                         *ngIf="records.length > 0">
                        <div class="btn-group btn-group-justified m-2" role="group" aria-label="First group">

                            <ng-container *ngIf="records[0].deleted_at === null">
                                <a class="btn btn-primary"
                                   *ngIf="records.length === 1"
                                   (click)="activeTab = 'modifica'">Modifica</a>
                                <a class="btn btn-primary" (click)="onDisableEntity()">Disattiva</a>
                            </ng-container>
                            <ng-container *ngIf="records[0].deleted_at !== null">
                                <a class="btn btn-primary" (click)="onRestoreEntity()">Riattiva</a>
                                <a class="btn btn-primary" (click)="openModal(deletionModal)">Elimina definitivamente</a>
                            </ng-container>

                            <ng-template #deletionModal>
                                <div class="modal-header">
                                    <h4 class="modal-title pull-left">{{ deletionModalLabels.title }}</h4>
                                    <button type="button" aria-label="Close" class="close pull-right"
                                            (click)="modalRef.hide()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div [innerHtml]="deletionModalLabels.htmlText"></div>
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-info" (click)="modalRef.hide()">
                                            {{ deletionModalLabels.cancelText }}
                                        </button>
                                        <button class="btn btn-primary" (click)="onDeleteEntities(); modalRef.hide()">
                                            {{ deletionModalLabels.confirmText }}
                                        </button>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div *ngIf="records.length === 1" [@FadeIn]>
                    <div class="media ml-4 mr-4">
                        <div class="text-center ml-4 mr-4">
                            <hr>
                            <h5 class="media-heading pb-2 pt-4">Dettagli titolare</h5>
                            <p class="small pb-4">Qui puoi vedere i dettagli del titolare selezionato</p>
                            <hr>
                        </div>

                        <div class="ml-4 mr-4">
                            <p class="pt-4">
                                Ragione sociale: <strong>{{ records[0].company_name }}</strong><br>
                                Codice Fiscale: <strong>{{ records[0].fiscal_code }}</strong><br>
                                Partita IVA: <strong>{{ records[0].company_number }}</strong><br><br>
                                Titolare: <strong>{{ records[0].holder_title }}
                                {{ records[0].holder_firstname }} {{ records[0].holder_lastname }}</strong><br>
                                Qualifica del titolare: <strong>{{ records[0].holder_qualification }}</strong>
                                <br><br>
                                Indirizzo: <strong>{{ records[0].address }}</strong><br>
                                Città: <strong>{{ records[0].city }}</strong><br>
                                CAP: <strong>{{ records[0].zip_code }}</strong><br>
                                Telefono: <strong>{{ records[0].phone }}</strong><br>
                                Fax: <strong>{{ records[0].fax }}</strong><br>
                                Email: <strong>{{ records[0].email }}</strong><br>
                                Sito: <strong>{{ records[0].web }}</strong>
                            </p>
                            <hr>
                        </div>
                    </div>

                </div>

                <div class="automatic-overflow pb-4"
                     *ngIf="records.length > 1" [@FadeIn]>
                    <div class="ml-4 mr-4">
                        <div class="media ml-4 mr-4 text-center">
                            <hr>
                            <h5 class="media-heading pb-2 pt-4">Record Selezionati</h5>
                            <p class="small pb-4">Hai selezionato i seguenti record</p>
                            <hr>
                        </div>

                        <div class="media ml-4 mr-4" *ngFor="let record of records" [@FadeIn]>
                            <p>
                                Ragione sociale: {{ record.company_name }}<br>
                                Codice fiscale: {{ record.fiscal_code }}<br>
                                Partita IVA: {{ record.company_number }}<br><br>
                                Titolare: {{ record.holder_title }}
                                {{ record.holder_firstname }} {{ record.holder_lastname }}<br>
                                Qualifica del titolare: {{ record.holder_qualification }}<br>
                                Indirizzo: {{ record.address }}<br>
                                Città: {{ record.city }}<br>
                                CAP: {{ record.zip_code }}<br>
                                Telefono: {{ record.phone }}<br>
                                Fax: {{ record.fax }}<br>
                                Email: {{ record.email }}<br>
                                Sito: {{ record.web }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <small>Selezionati: {{ records.length }}</small>
                    <button class="btn btn-primary" [@FadeIn]
                            *ngIf="records.length > 0"
                            (click)="clearSelection()"
                    >Annulla selezione
                    </button>
                </div>
            </div>

            <div *ngSwitchCase="'nuovo'" (click)="clearSelection()">
                <div class="media text-center ml-4 mr-4" [@FadeIn]>
                    <hr>
                    <p class="small">Creazione di un nuovo titolare</p>
                    <hr>
                </div>
                <div class="media ml-4 mr-4 container-fluid">
                    <dpm-new-controller-form
                        [validationMessages]="validationMessages"
                        (addEntity)="onAddEntity($event)"
                    ></dpm-new-controller-form>
                </div>
            </div>

            <div *ngSwitchCase="'modifica'">
                <div *ngIf="records.length === 1">
                    <div class="media text-center ml-4 mr-4">
                        <hr>
                        <p class="small">Aggiorna i dati del titolare</p>
                        <hr>
                    </div>
                    <div class="media ml-4 mr-4 container-fluid">
                        <dpm-update-controller-form
                            [record]="records[0]"
                            [validationMessages]="validationMessages"
                            (updateEntity)="onUpdateEntity($event)"
                            (cancelUpdate)="restoreDefaultTab()"
                        ></dpm-update-controller-form>
                    </div>
                </div>
            </div>

            <div *ngSwitchDefault>
                <div class="media text-center ml-4 mr-4" [@FadeIn]>
                    <hr>
                    <p class="small">Selezionare un titolare</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
