<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<dpm-wizard-step
        [canAdvanceStep]="stepForm.valid"
        [btnNextText]="'Continua'"
        [stepState]="stepState"
        (nextStep)="onNextStep()"
        (previousStep)="previousStep.emit($event)"
>

    <div stepTitle [@FadeIn]>
        <h2 class="text-light">Valutazione del rischio</h2>
        <blockquote class="small mt-3 mb-5">
            L’obbiettivo di questo passaggio è l’identificazione delle condizioni di rischio che potrebbero
            minacciare o compromettere dati personali degli interessati, mettendo a rischio diritti e libertà
            di questi ultimi.
        </blockquote>
    </div>
    <div stepBody [@FadeIn] *ngIf="currentDpiaProjectId;">
        <tabset type="pills">
            <tab *ngFor="let protectionCategory of protectionCategories"
                 (select)="selectProtectionCategory($event, protectionCategory)"
                 heading="{{ protectionCategory.name | capitalize }}"
            >
                <div class="row pt-2 pb-5">
                    <div class="col-xs-12 col-sm-6">
                        <h4 class="text-light">Elenco dei rischi</h4>
                        <p class="mb-2">{{ protectionCategory.description }}</p>

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Livello di rischio</th>
                                <th>Area di impatto</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let risk of currentRisks$ | async" (click)="selectRisk(risk)" [@FadeIn]
                                [class.bg-primary]="selectedRisk && risk.id === selectedRisk.id">
                                <td>{{ risk.id }}</td>
                                <td>{{ risk.name }}</td>
                                <td>
                                    <span class="badge"
                                          [tooltip]="'Livello di rischio'"
                                          [ngClass]="getRiskLevelBadgeClass(risk.risk_level)">
                                        {{ risk.risk_level }}
                                    </span>
                                    <i class="fa fa-long-arrow-right"></i>
                                    <span class="badge"
                                          [tooltip]="'Rischio residuo'"
                                          [ngClass]="getRiskLevelBadgeClass(risk.residual_risk.risk_level)">
                                        {{ risk.residual_risk.risk_level }}
                                    </span>
                                </td>
                                <td>
                                    <ul>
                                        <li *ngFor="let value of risk.protection_goals.split(',')">
                                            {{ value | capitalize }}
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <div class="pull-right buttons">
                                        <span class="fa-stack fa-lg clickable" [tooltip]="'Modifica'"
                                              (click)="selectRisk(risk); populateRiskForm(); openModal(riskEditModal)">
                                            <i class="fa fa-pencil fa-stack-1x"></i>
                                        </span>
                                        <span class="fa-stack fa-lg clickable" [tooltip]="'Elimina'"
                                              (click)="selectRisk(risk); openModal(riskDeletionModal)">
                                            <i class="fa fa-trash fa-stack-1x"></i>
                                        </span>
                                    </div>

                                    <ng-template #riskDeletionModal>
                                        <div class="modal-header">
                                            <h4 class="modal-title pull-left">Conferma eliminazione</h4>
                                            <button type="button" aria-label="Close" class="close pull-right"
                                                    (click)="modalRef.hide()">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body risk-deletion-modal">
                                            <p>Eliminare il rischio selezionato?</p>
                                            <div class="btn-group">
                                                <button class="btn btn-info" (click)="modalRef.hide()">Annulla</button>
                                                <button class="btn btn-primary" (click)="deleteSelectedRisk()">Conferma
                                                </button>
                                            </div>
                                        </div>
                                    </ng-template>

                                    <ng-template #riskEditModal>
                                        <div class="modal-header">
                                            <h4 class="modal-title pull-left">Modifica rischio</h4>
                                            <button type="button" class="close pull-right" aria-label="Close"
                                                    (click)="modalRef.hide()">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form [formGroup]="riskForm">
                                                <div class="form-group pb-2">
                                                    <label for="edit-risk-name">Nome <span>*</span></label>
                                                    <input class="form-control dpm-input collapsible-dpm-input"
                                                           type="text" id="edit-risk-name" formControlName="name"
                                                           required (keyup.enter)="updateRisk()" autocomplete="off">
                                                    <dpm-control-messages
                                                            [control]="riskForm.get('name')"></dpm-control-messages>
                                                    <dpm-validation-message
                                                            [message]="validationMessages.errors.name"></dpm-validation-message>
                                                </div>

                                                <div class="form-group pb-2">
                                                    <label for="edit-risk-description">Descrizione</label>
                                                    <dpm-validation-message
                                                            [message]="validationMessages.errors.description"></dpm-validation-message>
                                                    <textarea class="form-control" formControlName="description"
                                                              id="edit-risk-description" cols="30" rows="10"></textarea>
                                                </div>

                                                <div class="form-group pb-2">
                                                    <label>Fonti di rischio <span>*</span></label>

                                                    <div class="checkbox-inline-wrapper">
                                                        <div class="checkbox-inline pl-0"
                                                             *ngFor="let rs of riskSources">
                                                            <input type="checkbox"
                                                                   class="form-control dpm-input small-checkbox"
                                                                   [checked]="isRiskSourceSelected(rs.id)"
                                                            >
                                                            <label tabindex="0"
                                                                   (click)="selectRiskSource(rs.id)"
                                                                   (keyup.space)="selectRiskSource(rs.id)"
                                                                   (keyup.enter)="updateRisk()"></label>
                                                            <span (click)="selectRiskSource(rs.id)"
                                                                  (keyup.space)="selectRiskSource(rs.id)"
                                                                  (keyup.enter)="updateRisk()"
                                                                  title="{{ rs.description | capitalize }}">
                                                                {{ rs.name }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group pb-2">
                                                    <p><strong>Area di impatto
                                                        <span class="text-red">*</span></strong></p>

                                                    <div class="checkbox-inline-wrapper">
                                                        <div class="checkbox-inline pl-0"
                                                             *ngFor="let protectionGoal of protectionGoals">

                                                            <input type="checkbox"
                                                                   class="form-control dpm-input small-checkbox"
                                                                   [checked]="isProtectionGoalOptionSelected(protectionGoal)">
                                                            <label tabindex="0"
                                                                   (click)="toggleProtectionGoalOption(protectionGoal)"
                                                                   (keyup.space)="toggleProtectionGoalOption(protectionGoal)"></label>
                                                            <span (click)="toggleProtectionGoalOption(protectionGoal)"
                                                                  (keyup.space)="toggleProtectionGoalOption(protectionGoal)">
                                                                {{ protectionGoal | capitalize }}
                                                            </span>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group pb-2">
                                                    <p><strong>Impatto <span class="text-red">*</span></strong></p>
                                                    <dpm-select
                                                            [title]="'Identificabilità dei dati'"
                                                            [defaultValue]="getRiskIdentifiability()"
                                                            [options]="identifiabilityOptions"
                                                            (selection)="selectRiskIdentifiability($event)"
                                                    ></dpm-select>
                                                    <dpm-select
                                                            [title]="'Danno'"
                                                            [defaultValue]="getRiskPrejudicialEffect()"
                                                            [options]="prejudicialEffectOptions"
                                                            (selection)="selectRiskPrejudicialEffect($event)"
                                                    ></dpm-select>
                                                </div>

                                                <div class="form-group pb-2">
                                                    <p><strong>Probabilità <span class="text-red">*</span></strong></p>
                                                    <dpm-select
                                                            [title]="'Vulnerabilità degli asset'"
                                                            [defaultValue]="getRiskVulnerability()"
                                                            [options]="vulnerabilityOptions"
                                                            (selection)="selectRiskVulnerability($event)"
                                                    ></dpm-select>
                                                    <dpm-select
                                                            [title]="'Capacità delle sorgenti di rischio'"
                                                            [defaultValue]="getRiskCapabilities()"
                                                            [options]="capabilitiesOptions"
                                                            (selection)="selectRiskCapabilities($event)"
                                                    ></dpm-select>
                                                </div>

                                                <div class="btn-group" role="group">
                                                    <button class="btn btn-info"
                                                            (click)="modalRef.hide()">
                                                        Annulla
                                                    </button>
                                                    <button class="btn btn-primary" (click)="updateRisk()"
                                                            [disabled]="riskForm.invalid">
                                                        Salva
                                                    </button>
                                                </div>

                                            </form>
                                        </div>
                                    </ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <button class="btn btn-primary btn-sm pull-right"
                                            (click)="resetRiskForm(); openModal(riskInsertionModal)">
                                        Nuovo rischio
                                    </button>

                                    <ng-template #riskInsertionModal>
                                        <div class="modal-header">
                                            <h4 class="modal-title pull-left">Inserimento rischio</h4>
                                            <button type="button" class="close pull-right" aria-label="Close"
                                                    (click)="modalRef.hide()">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form [formGroup]="riskForm">
                                                <div class="form-group pb-2">
                                                    <label for="new-risk-name">Nome <span>*</span></label>
                                                    <input class="form-control dpm-input collapsible-dpm-input"
                                                           type="text" id="new-risk-name" formControlName="name"
                                                           required autocomplete="off">
                                                    <dpm-control-messages
                                                            [control]="riskForm.get('name')"></dpm-control-messages>
                                                    <dpm-validation-message
                                                            [message]="validationMessages.errors.name"></dpm-validation-message>
                                                </div>

                                                <div class="form-group pb-2">
                                                    <label for="new-risk-description">Descrizione</label>
                                                    <dpm-validation-message
                                                            [message]="validationMessages.errors.description"></dpm-validation-message>
                                                    <textarea class="form-control" formControlName="description"
                                                              id="new-risk-description" cols="30" rows="10"></textarea>
                                                </div>

                                                <div class="form-group pb-2">
                                                    <label>Fonti di rischio <span>*</span></label>

                                                    <div class="checkbox-inline-wrapper">
                                                        <div class="checkbox-inline pl-0"
                                                             *ngFor="let rs of riskSources">
                                                            <input type="checkbox"
                                                                   class="form-control dpm-input small-checkbox"
                                                                   [checked]="isRiskSourceSelected(rs.id)"
                                                            >
                                                            <label tabindex="0"
                                                                   (click)="selectRiskSource(rs.id)"
                                                                   (keyup.space)="selectRiskSource(rs.id)"></label>
                                                            <span class="pl-1" (click)="selectRiskSource(rs.id)"
                                                                  (keyup.space)="selectRiskSource(rs.id)"
                                                                  title="{{ rs.description | capitalize }}">
                                                                {{ rs.name }}</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group pb-2">
                                                    <p><strong>Area di impatto
                                                        <span class="text-red">*</span></strong></p>

                                                    <div class="checkbox-inline-wrapper">
                                                        <div class="checkbox-inline pl-0"
                                                             *ngFor="let protectionGoal of protectionGoals">
                                                            <input type="checkbox"
                                                                   class="form-control dpm-input small-checkbox"
                                                                   [checked]="isProtectionGoalOptionSelected(protectionGoal)"
                                                            >
                                                            <label tabindex="0"
                                                                   (click)="toggleProtectionGoalOption(protectionGoal)"
                                                                   (keyup.space)="toggleProtectionGoalOption(protectionGoal)"></label>
                                                            <span class="pl-1"
                                                                  (click)="toggleProtectionGoalOption(protectionGoal)"
                                                                  (keyup.space)="toggleProtectionGoalOption(protectionGoal)">
                                                                {{ protectionGoal | capitalize }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group pb-2">
                                                    <p><strong>Impatto <span class="text-red">*</span></strong></p>
                                                    <dpm-select
                                                            [title]="'Identificabilità dei dati'"
                                                            [defaultValue]="identifiabilityOptions[0]"
                                                            [options]="identifiabilityOptions"
                                                            (selection)="selectRiskIdentifiability($event)"
                                                    ></dpm-select>
                                                    <dpm-select
                                                            [title]="'Danno'"
                                                            [defaultValue]="prejudicialEffectOptions[0]"
                                                            [options]="prejudicialEffectOptions"
                                                            (selection)="selectRiskPrejudicialEffect($event)"
                                                    ></dpm-select>
                                                </div>

                                                <div class="form-group pb-2">
                                                    <p><strong>Probabilità <span class="text-red">*</span></strong></p>
                                                    <dpm-select
                                                            [title]="'Vulnerabilità degli asset'"
                                                            [defaultValue]="vulnerabilityOptions[0]"
                                                            [options]="vulnerabilityOptions"
                                                            (selection)="selectRiskVulnerability($event)"
                                                    ></dpm-select>
                                                    <dpm-select
                                                            [title]="'Capacità delle sorgenti di rischio'"
                                                            [defaultValue]="capabilitiesOptions[0]"
                                                            [options]="capabilitiesOptions"
                                                            (selection)="selectRiskCapabilities($event)"
                                                    ></dpm-select>
                                                </div>

                                                <div class="btn-group" role="group">
                                                    <button class="btn btn-default"
                                                            (click)="modalRef.hide()">
                                                        Annulla
                                                    </button>
                                                    <button class="btn btn-primary" (click)="saveRisk()"
                                                            [disabled]="riskForm.invalid">
                                                        Salva
                                                    </button>
                                                </div>

                                            </form>
                                        </div>
                                    </ng-template>


                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <h4 class="text-light mb-3">Dettagli del rischio</h4>
                        <ng-template #selectRiskMessage>
                            <div class="row">
                                <div class="col-sm-8">
                                    <p>Selezionare un rischio per visualizzarne i dettagli</p>
                                </div>
                            </div>
                        </ng-template>
                        <ng-container *ngIf="selectedRisk; else selectRiskMessage" [@FadeIn]>

                            Nome rischio: <strong>{{ selectedRisk.name }}</strong><br>
                            Descrizione: {{ selectedRisk.description }}<br>

                            <div class="row">
                                <div class="col-sm-6">
                                    <h5 class="pt-3">Rischio iniziale</h5>
                                    <ul class="mt-2">
                                        <li>
                                            <ng-template #severityTooltip>
                                                <span class="text-left">
                                                    Identifiability: {{ selectedRisk.identifiability }}
                                                    <br>
                                                    Prejudicial effects: {{ selectedRisk.prejudicial_effect }}
                                                </span>
                                            </ng-template>
                                            <span [tooltip]="severityTooltip"
                                                  placement="right"
                                            >Impatto:
                                                <span class="badge" [ngClass]="getBadgeClass(selectedRisk.severity)">
                                                    {{ selectedRisk.severity }}
                                                </span>
                                            </span>
                                        </li>
                                        <li>
                                            <ng-template #likelihoodTooltip>
                                                <span class="text-left">
                                                    Vulnerability: {{ selectedRisk.vulnerability }}
                                                    <br>
                                                    Risk Sources Capabilities: {{ selectedRisk.risk_sources_capabilities }}
                                                </span>
                                            </ng-template>
                                            <span [tooltip]="likelihoodTooltip"
                                                  placement="right"
                                            >
                                                Probabilità:
                                                <span class="badge" [ngClass]="getBadgeClass(selectedRisk.likelihood)">
                                                    {{ selectedRisk.likelihood }}
                                                </span>
                                            </span>
                                        </li>
                                        <li>
                                            Livello di rischio:
                                            <span class="badge"
                                                  [ngClass]="getRiskLevelBadgeClass(selectedRisk.risk_level)">
                                                {{ selectedRisk.risk_level}}
                                            </span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-sm-6">
                                    <h5 class="pt-3">Rischio residuo</h5>
                                    <ul>
                                        <li>
                                            Impatto:
                                            <span class="badge"
                                                  [ngClass]="getBadgeClass(selectedRisk.residual_risk.severity)">
                                                {{ selectedRisk.residual_risk.severity }}
                                            </span>
                                        </li>
                                        <li>
                                            Probabilità:
                                            <span class="badge"
                                                  [ngClass]="getBadgeClass(selectedRisk.residual_risk.likelihood)">
                                                {{ selectedRisk.residual_risk.likelihood }}
                                            </span>
                                        </li>
                                        <li>
                                            Livello di rischio:
                                            <span class="badge"
                                                  [ngClass]="getRiskLevelBadgeClass(selectedRisk.residual_risk.risk_level)">
                                                {{ selectedRisk.residual_risk.risk_level}}
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <hr class="pt-2 pb-2">

                            <h4 class="text-light">Controlli di sicurezza</h4>
                            <dpm-risk-controls-list
                                    [riskControls$]="riskControls$"
                                    [selectedRisk$]="selectedRisk$"
                                    (openModal)="openModal($event)"
                                    (hideModal)="modalRef.hide()"
                                    (reloadCurrentRisks)="reloadCurrentRisks()"
                                    (reloadRiskControls)="reloadRiskControls()"
                            ></dpm-risk-controls-list>

                        </ng-container>

                        <ng-container *ngIf="selectedRisk" [@FadeIn]>
                            <form [formGroup]="acceptanceForm" [style.minHeight]="'100%'">
                                <label for="acceptance-motivation" class="mt-2">
                                    Motivazione di accettazione del rischio
                                </label>

                                <div *ngIf="isLowRisk(selectedRisk.residual_risk)"
                                     class="alert alert-success" role="alert">
                                    <label>Rischio lieve</label>
                                    <p>
                                        Rischio con indici di probabilità e di impatto bassi è quindi possibile
                                        accettare il rischio, considerando altresì la possibilità che controlli di
                                        sicurezza implementati per altri rischi andranno ulteriormente ad abbatere il
                                        rischio preso in esame.
                                    </p>
                                </div>

                                <div *ngIf="isMediumRisk(selectedRisk.residual_risk)"
                                     class="alert alert-warning" role="alert">
                                    <label>Rischio medio</label>
                                    <p>
                                        Rischio con basso impatto ma alta probabilità o con bassa probabilità ma alto
                                        impatto, nel primo caso si consiglia di implementare misure di sicurezza per
                                        abbattere la probabilità ponendo attenzione particolare su misure di ripristino.
                                        Nel secondo si consiglia di implementare misure di sicurezza per abbattere
                                        l’impatto o la probabilità ponendo particolare attenzione su misure preventive;
                                    </p>
                                </div>

                                <div *ngIf="isMaximumRisk(selectedRisk.residual_risk)"
                                     class="alert alert-danger" role="alert">
                                    <label>Rischio gravissimo</label>
                                    <p>
                                        Rischio con alta probabilità e alto impatto, deve assolutamente essere evitato o
                                        ridotto implementando misure di sicurezza che riducano sia l’impatto che la
                                        probabilità. Si consiglia di implementare misure preventive, protettive e di
                                        ripristino.
                                    </p>
                                </div>

                                <dpm-validation-message
                                        [message]="validationMessages.errors.acceptance_motivation"></dpm-validation-message>
                                <textarea class="form-control" formControlName="acceptance_motivation"
                                          id="acceptance-motivation" cols="30" rows="3"
                                          (blur)="acceptanceMotivationChanges$.next()"></textarea>
                            </form>
                        </ng-container>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</dpm-wizard-step>
