/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../../../styles/variables";
@import "../../../../../styles/utilities";

tr.bg-primary {
    background-color: transparentize($brand-primary, .4) !important;
}

.buttons {
    .fa {
        font-size: 1.2rem;
        transition: $default-transition;
        border-radius: 50%;
        &:hover {
            background-color: transparentize($gray-light, .8);
        }
    }
}

.form-group {
    label:not(.checkbox-inline) {
        cursor: pointer;
        width: 100%;

        > span {
            color: $brand-danger;
        }
    }

    .checkbox-inline-wrapper {
        display: flex;
        .checkbox-inline {
            display: flex;
            align-content: center;

            span, input {
                height: 100%;
            }

            input[type=checkbox] {
                @extend %custom-checkbox;
                &.small-checkbox + label {
                    padding: 0.6rem;
                }
            }
        }
    }

    p + .ml-2 label {
        font-weight: normal;
    }
}

::ng-deep {
    .select-options-wrapper {
        margin-right: $modal-inner-padding;
        z-index: 1000;
    }

    .modal-body .btn-group {
        z-index: 900;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .risk-deletion-modal div {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    @mixin border-left($color) {
        border: none;
        border-left: .4rem solid $color;
    }

    .select-option.border-left- {
        &info {
            @include border-left($brand-info);
        }
        &primary {
            @include border-left($brand-primary);
        }
        &success {
            @include border-left($brand-success);
        }
        &warning {
            @include border-left($brand-warning);
        }
        &danger {
            @include border-left($brand-danger);
        }
    }
}
