/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../../../../styles/variables";
@import "../../../../../../styles/utilities";

:host {
    display: flex;
    flex-direction: column;
}

div.disclosure-subject-wrapper {
    display: flex;
    justify-content: space-between;

    .clickable {
        //&.fa-stack {
        //    width: 2rem;
        //    height: 2rem;
        //}
        > .fa {
            font-size: 1.2rem;
            transition: $default-transition;
            border-radius: 50%;

            &:hover {
                background-color: transparentize($gray-light, .8);
            }
        }
    }
}

.radio-inline-fix {
    @extend %radio-inline-fix;
}
