<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<b class="d-block">Destinatario
    <dpm-required-icon-indicator
            [isRequired]="true"
            [isFilled]="updatedDisclosureSubject.company_name.length > 4"
    ></dpm-required-icon-indicator>
</b>
<blockquote class="mt-3 text-base text-muted">
    «Destinatario»: la persona fisica o giuridica, l’autorità pubblica, il servizio o un altro organismo che
    riceve comunicazione di dati personali, che si tratti o meno di terze parti.
</blockquote>
<div class="pb-4 disclosure-subject-wrapper">
    <dpm-editable-input
            [type]="'text'"
            [initialValue]="updatedDisclosureSubject.company_name"
            [minLength]="4"
            [maxLength]="255"
            (editComplete)="onEditComplete($event)"
    ></dpm-editable-input>
    <span class="clickable fa-lg fa-stack" [tooltip]="'Elimina destinatario'" (click)="deleteDisclosureSubject()">
        <i class="fa fa-trash fa-stack-1x"></i>
    </span>
    <!--<div class="btn-group btn-group-sm pull-right" role="group">-->
        <!--<button class="btn btn-warning btn-sm" (click)="deleteDisclosureSubject()">-->
            <!--Elimina destinatario-->
        <!--</button>-->
    <!--</div>-->
</div>

<div class="pb-4 radio-inline-fix">
    <p class="mb-0"><b>Ambito</b></p>
    <label class="radio-inline">
        <input type="radio" name="updated-ds-scope-{{updatedDisclosureSubject.id}}" [value]="false"
               [(ngModel)]="updatedDisclosureSubject.extra_ue"
               (click)="disclosureSubjectChanged = true">
        Intra-UE
    </label>
    <label class="radio-inline">
        <input type="radio" name="updated-ds-scope-{{updatedDisclosureSubject.id}}" [value]="true"
               [(ngModel)]="updatedDisclosureSubject.extra_ue"
               (click)="disclosureSubjectChanged = true">
        Extra-UE
    </label>
</div>

<dpm-questionnaire-selector
        *ngIf="updatedDisclosureSubject.extra_ue === true"
        [selectedAnswers]="disclosureSubject.answers"
        [selectionChange$]="selectionChange$"
></dpm-questionnaire-selector>


