<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<td class="checkbox-cell">
    <input title="Seleziona" type="checkbox"
           [checked]="securityMeasure.deleted_at === null"
           [id]="'checkbox-input-' + securityMeasure.id"
           (click)="toggle()">
    <label [for]="'checkbox-input-' + securityMeasure.id"></label>
</td>

<td class="p-0">
    <dpm-editable-input
        [disabled]="securityMeasure.deleted_at !== null"
        [initialValue]="securityMeasure.name | capitalize"
        [customClasses]="'p-3'"
        [doneEditing]="isNameEditingComplete"
        (editStart)="onEditStart()"
        (editComplete)="emitUpdate($event)"
    ></dpm-editable-input>
</td>

<td>
    <select class="form-control" style="width: 150px"
            [(ngModel)]="selectedSecurityLevel"
            [disabled]="securityMeasure.deleted_at !== null"
            (change)="emitUpdateSecurityLevel()">
        <option value="1">Minimo</option>
        <option value="2">Standard</option>
        <option value="3">Alto</option>
    </select>
</td>

<td>
    <select class="form-control" style="width: 150px"
            [(ngModel)]="selectedSecurityAdopted"
            [disabled]="securityMeasure.deleted_at !== null"
            (change)="emitUpdateSecurityAdopted()">
        <option value="non-adopted">Non adottate</option>
        <option value="adopted">Adottate</option>
    </select>
</td>
