<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<table class="table table-hover table-striped table-bordered">

    <thead>
    <tr>
        <td class="checkbox-cell">
            <div *ngIf="records.length > 0">
                <input title="Seleziona tutti" type="checkbox" id="checkbox-input-head"
                       [checked]="areAllChecked()"
                       (change)="toggleAllRecords()">
                <label for="checkbox-input-head"> </label>
            </div>
        </td>
        <th dpmTableHeader
            *ngFor="let header of headers"
            [class]="header.customClass"
            [header]="header"
            (headerUpdate)="onHeaderUpdate($event)"
            (searchUpdate)="onSearchUpdate($event)"></th>
    </tr>
    </thead>

    <tbody *ngIf="records.length > 0; else noRecordsFound">
    <tr *ngFor="let record of records"
        [ngClass]="{'bg-primary': selectedRecords.isRecordSelected(record)}"
    >
        <td class="checkbox-cell">
            <input title="Seleziona" type="checkbox" [id]="'checkbox-input-' + record.id"
                   [checked]="selectedRecords.isRecordSelected(record)"
                   (change)="toggleRecord(record)">
            <label [for]="'checkbox-input-' + record.id"></label>
        </td>
        <td *ngFor="let header of headers"
            [ngClass]="{'avatar-body-cell': header.columnName === 'avatar'}"
            (click)="selectSingleRecord(record)">

            <div
                *ngIf="header.columnName !== 'avatar'; else avatarTD"
                [innerHtml]="header.renderer(record[header.columnName]) || ''"
            ></div>

            <ng-template #avatarTD>
                <img class="img-circle {{ RendererProvider.userIconCssClassRenderer(record.avatar) }}"
                     [src]="RendererProvider.userIconSrcRenderer(record.avatar)">
            </ng-template>
        </td>
    </tr>
    </tbody>

    <ng-template #noRecordsFound>
        <tbody>
        <tr class="bg-info">
            <td class="checkbox-cell"></td>
            <td [attr.colspan]="headers.length" rowspan="7" class="text-center">
                <p class="lead pt-4">Nessun record disponibile</p>
            </td>
        </tr>
        <tr *ngFor="let x of [1, 2, 3, 4, 5, 6]">
            <td class="checkbox-cell"></td>
        </tr>
        </tbody>
    </ng-template>

</table>
