/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../../../styles/variables";
@import "../../../../../styles/utilities";
@import "../../../../../styles/mixins";


thead {
    td.checkbox-cell {
        position: relative;
        div {
            position: absolute;
            bottom: $font-size-xs;
            right: calc(#{$font-size-xs} - 1px);
            label {
                position: relative !important;
            }
        }
    }

    th {
        border-bottom-width: 1px;
        height: auto;
        padding: 0;
    }
}

tbody tr {
    td {
        vertical-align: middle;

        &.avatar-body-cell {
            z-index: 30 !important;
            border-left: 1px solid $table-border-color !important;
            padding: 0;
            width: 2rem;
        }

        img {
            width: 3rem;
            height: 3rem;
            margin: .2rem;
        }
    }
}

.checkbox-cell {
    width: 1rem;
    left: -1px;
    background-color: $body-bg;
    border-top: 1px solid $body-bg !important;
    border-right: 1px solid $table-border-color !important;
    border-bottom: 1px solid $body-bg !important;
    border-left: 1px solid $body-bg !important;
    margin: 0 1px 0 0 !important;

    input[type=checkbox] {
        @extend %custom-checkbox;
    }
}

tr.bg-primary {
    background-color: transparentize($brand-primary, .4) !important;
}
