<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="col-xs-12 col-sm-4">
    <div
        class="panel"
        [ngClass]="{'active-panel': records.length > 0}"
    >

        <ul class="nav nav-tabs text-center">
            <li class="nav-item">
                <a class="nav-link active text-capitalize text-primary m-0">Anagrafica</a>
            </li>
            <li class="nav-item">
                <select dpmDropdownSelector title="Azione"
                        class="form-control text-capitalize"
                        [(ngModel)]="activeTab"
                        [values]="dropdownOptions"
                        [activeTab$]="activeTab$"></select>
            </li>
        </ul>


        <div [ngSwitch]="activeTab">


            <div *ngSwitchCase="'dettagli'">
                <div class="media text-center ml-4 mr-4 p-3"
                     *ngIf="records.length === 0" [@FadeIn]>
                    <hr>
                    <h5 class="media-heading pb-2 pt-4">DPM Records</h5>
                    <p class="small pb-4">Selezionare Record</p>
                    <hr>
                </div>

                <div class="container-fluid">
                    <div class="btn-toolbar mt-3 ml-4 mr-4" role="toolbar" aria-label="Toolbar"
                         *ngIf="records.length > 0">
                        <div class="btn-group btn-group-justified m-2" role="group" aria-label="First group">

                            <ng-container *ngIf="records[0].deleted_at === null">
                                <a class="btn btn-primary"
                                   *ngIf="records.length === 1"
                                   (click)="activeTab = 'modifica'">Modifica</a>
                                <a class="btn btn-primary" (click)="onDisableEntity()">Disattiva</a>
                            </ng-container>
                            <ng-container *ngIf="records[0].deleted_at !== null">
                                <a class="btn btn-primary" (click)="onRestoreEntity()">Riattiva</a>
                                <a class="btn btn-primary" (click)="openModal(deletionModal)">Elimina
                                    definitivamente</a>
                            </ng-container>

                            <ng-template #deletionModal>
                                <div class="modal-header">
                                    <h4 class="modal-title pull-left">{{ deletionModalLabels.title }}</h4>
                                    <button type="button" aria-label="Close" class="close pull-right"
                                            (click)="modalRef.hide()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div [innerHtml]="deletionModalLabels.htmlText"></div>
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-info" (click)="modalRef.hide()">
                                            {{ deletionModalLabels.cancelText }}
                                        </button>
                                        <button class="btn btn-primary" (click)="onDeleteEntities(); modalRef.hide()">
                                            {{ deletionModalLabels.confirmText }}
                                        </button>
                                    </div>
                                </div>
                            </ng-template>

                        </div>
                    </div>
                </div>

                <div *ngIf="records.length === 1" [@FadeIn]>
                    <div class="media ml-4 mr-4">
                        <h2 class="media-heading pl-4 pb-2 pt-4 text-light">
                            <img
                                class="img-large img-circle mr-2 user-avatar {{ RendererProvider.userIconCssClassRenderer(records[0].avatar) }}"
                                [src]="RendererProvider.userIconSrcRenderer(records[0].avatar)">
                            <div>{{ records[0].firstname }} <br> {{ records[0].lastname }}</div>
                        </h2>

                        <div class="ml-4 mr-4">
                            <p class="pt-4">
                                Username: <strong>{{ records[0].username }}</strong><br><br>
                                Nome: <strong>{{ records[0].firstname }}</strong><br>
                                Cognome: <strong>{{ records[0].lastname }}</strong><br>
                                Sesso: <strong>{{ records[0].sex }}</strong><br>
                                Codice Utente: <strong>{{ records[0].user_number }}</strong><br><br>
                                Codice Fiscale: <strong>{{ records[0].fiscal_code }}</strong><br>
                                Indirizzo email: <strong>{{ records[0].email }}</strong><br>
                            </p>
                            <hr>
                        </div>

                        <div class="ml-4 mr-4 pb-2">
                            <h5 class="media-heading pb-2 pt-2 clickable accordion-toggle" (click)="toggleAccordion(0)">
                                <span>Unità associate</span>
                                <span>
                                    <a class="btn btn-primary btn-xs mr-2" [@FadeIn]
                                       *ngIf="accordionsVisibility[0] === 'selected'"
                                       (click)="activeTab$.next('unità')"
                                    >Modifica</a>
                                    <i *ngIf="accordionsVisibility[0] === 'selected'"
                                       class="fa fa-caret-down fa-lg pull-right"></i>
                                    <i *ngIf="accordionsVisibility[0] === 'unSelected'"
                                       class="fa fa-caret-left fa-lg pull-right"></i>
                                </span>
                            </h5>

                            <div [@ToggleUpDown]="accordionsVisibility[0]">
                                <ng-template #noUnits>Nessuna unità assegnata</ng-template>
                                <ul *ngIf="records[0].working_units.length > 0; else noUnits">
                                    <li *ngFor="let unit of records[0].working_units">
                                        {{ unit.name }}<span *ngIf="unit.description"> | {{ unit.description }}</span>
                                    </li>
                                </ul>
                            </div>
                            <hr>
                        </div>

                        <div class="ml-4 mr-4 pb-4 pt-2">
                            <dpm-tag-coupler
                                [isDeleted]="records[0].deleted_at !== null"
                                [labels]="rolesSelectorLabels"
                                [availableTags$]="availableRolesTags$"
                                [assignedTags$]="assignedRolesTags$"
                                (toggleTag)="onToggleRoleTag($event)"
                                (searchTag)="onSearchRoleTag($event)"
                            ></dpm-tag-coupler>
                        </div>

                        <div class="ml-4 mr-4 pb-4">
                            <dpm-tag-coupler
                                [isDeleted]="records[0].deleted_at !== null"
                                [labels]="qualificationsSelectorLabels"
                                [availableTags$]="availableQualificationsTags$"
                                [assignedTags$]="assignedQualificationsTags$"
                                (toggleTag)="onToggleQualificationTag($event)"
                                (searchTag)="onSearchQualificationTag($event)"
                            ></dpm-tag-coupler>
                        </div>
                    </div>
                </div>

                <div class="automatic-overflow pb-4"
                     *ngIf="records.length > 1" [@FadeIn]>
                    <div class="ml-4 mr-4">
                        <div class="media ml-4 mr-4 text-center">
                            <hr>
                            <h5 class="media-heading pb-2 pt-4">Utenti Selezionati</h5>
                            <p class="small pb-4">Hai selezionato i seguenti utenti</p>
                            <hr>
                        </div>

                        <div class="media ml-4 mr-4" *ngFor="let record of records" [@FadeIn]>
                            <h4 class="media-heading text-light pb-1">
                                <img
                                    class="img-circle img-small mr-2 {{ RendererProvider.userIconCssClassRenderer(record.avatar) }}"
                                    [src]="RendererProvider.userIconSrcRenderer(record.avatar)">
                                <span>{{ record.firstname }} <br> {{ record.lastname }}</span>
                            </h4>
                            <p class="ml-2">
                                Codice Fiscale: {{ record.fiscal_code }}<br>
                                Indirizzo email: {{ record.email }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <small>Selezionati: {{ records.length }}</small>
                    <button
                        class="btn btn-primary"
                        *ngIf="records.length > 0"
                        (click)="clearSelection()"
                        [@FadeIn]
                    >Annulla selezione
                    </button>
                </div>
            </div>


            <div *ngSwitchCase="'nuovo'" (click)="clearSelection()">
                <div class="media text-center ml-4 mr-4" [@FadeIn]>
                    <hr>
                    <p class="small">Creazione di un nuovo utente</p>
                    <hr>
                </div>
                <div class="media ml-4 mr-4 container-fluid">
                    <dpm-new-user-form
                        [validationMessages]="validationMessages"
                        (addEntity)="onAddEntity($event)"
                    ></dpm-new-user-form>
                </div>
            </div>

            <div *ngSwitchCase="'modifica'">
                <div *ngIf="records.length === 1">
                    <div class="media text-center ml-4 mr-4">
                        <hr>
                        <p class="small">Aggiorna i dati dell’utente</p>
                        <hr>
                    </div>
                    <div class="media ml-4 mr-4 container-fluid">
                        <dpm-update-user-form
                            [validationMessages]="validationMessages"
                            [record]="records[0]"
                            (updateEntity)="onUpdateEntity($event)"
                            (cancelUpdate)="restoreDefaultTab()"
                        ></dpm-update-user-form>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="'ruoli'">
                <div class="media text-center ml-4 mr-4"
                     *ngIf="records.length === 0" [@FadeIn]>
                    <hr>
                    <h5 class="media-heading pb-2 pt-4">DPM Records</h5>
                    <p class="small pb-4">Selezionare Record</p>
                    <hr>
                </div>

                <div *ngIf="records.length === 1" [@FadeIn]>
                    <div class="media mt-4 ml-4 mr-4">
                        <div class="media ml-4 mr-4">
                            <h2 class="media-heading text-light">
                                <img
                                    class="img-large img-circle mr-2 pl-1 pt-1 {{ RendererProvider.userIconCssClassRenderer(records[0].avatar) }}"
                                    [src]="RendererProvider.userIconSrcRenderer(records[0].avatar)">
                                <div>{{ records[0].firstname }} <br> {{ records[0].lastname }}</div>
                            </h2>
                            <div class="media">
                                <p class="pt-4">
                                    Username: <strong>{{ records[0].username }}</strong><br><br>
                                    Nome: <strong>{{ records[0].firstname }}</strong><br>
                                    Cognome: <strong>{{ records[0].lastname }}</strong><br>
                                    Sesso: <strong>{{ records[0].sex }}</strong><br>
                                    Codice Utente: <strong>{{ records[0].user_number }}</strong><br><br>
                                    Codice Fiscale: <strong>{{ records[0].fiscal_code }}</strong><br>
                                    Indirizzo email: <strong>{{ records[0].email }}</strong><br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div *ngSwitchCase="'unità'">
                <ng-container *ngIf="records.length > 0; else missingRecord">
                    <div class="media ml-4 mr-4 text-center" [@FadeIn]>
                        <hr>
                        <p>Unità selezionate</p>
                        <hr>
                    </div>

                    <div class="media ml-4 mr-4 pb-4 container-fluid">
                        <dpm-working-units-selector
                            [title]="'Unità selezionate'"
                            [referenceId]="records[0]?.id"
                            [referenceTable]="'users'"
                            (nodeSelected)="refreshTable()"
                        ></dpm-working-units-selector>
                    </div>
                </ng-container>
            </div>

            <ng-template #missingRecord>
                <div class="media ml-4 mr-4 text-center" [@FadeIn]>
                    <hr>
                    <p>Selezionare un trattamento per visualizzare le unità</p>
                    <hr>
                </div>
            </ng-template>


            <div *ngSwitchDefault>
                <div class="media text-center ml-4 mr-4" [@FadeIn]>
                    <hr>
                    <p class="small">Selezionare un utente</p>
                    <hr>
                </div>
            </div>


        </div>

    </div>

</div>
