<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="row mt-2 ml-1 mr-1" [@FadeIn]>
    <div class="col-xs-12">

        <div class="pt-4 pl-5 pr-5">
            <h1 class="text-light mb-3">Creazione Progetto Analisi d’Impatto</h1>
            <p class="mt-2">Torna alla <a routerLink="/dpia">lista dei progetti</a></p>
            <hr>
        </div>


        <div class="col-xs-8 col-md-9 col-lg-8 pt-2 pl-5 pr-5 pb-5">

            <dpm-basic-dpia-data-step
                *ngIf="currentStepId === 'step-0'"
                [stepState]="steps[0]"
                (nextStep)="onChangeStep(steps[1].id, $event)"
            ></dpm-basic-dpia-data-step>

            <dpm-dpia-questionnaire-step
                *ngIf="currentStepId === 'step-1'"
                [stepState]="steps[1]"
                (nextStep)="onChangeStep(steps[2].id, $event)"
                (previousStep)="onChangeStep(steps[0].id, $event)"
            ></dpm-dpia-questionnaire-step>

            <dpm-pa-assets-review-step
                *ngIf="currentStepId === 'step-2'"
                [stepState]="steps[2]"
                (nextStep)="onChangeStep(steps[3].id, $event)"
                (previousStep)="onChangeStep(steps[1].id, $event)"
            ></dpm-pa-assets-review-step>

            <dpm-principles-step
                *ngIf="currentStepId === 'step-3'"
                [stepState]="steps[3]"
                (nextStep)="onChangeStep(steps[4].id, $event)"
                (previousStep)="onChangeStep(steps[2].id, $event)"
            ></dpm-principles-step>

            <dpm-risk-assessment-step
                *ngIf="currentStepId === 'step-4'"
                [stepState]="steps[4]"
                (nextStep)="onChangeStep(steps[5].id, $event)"
                (previousStep)="onChangeStep(steps[3].id, $event)"
            ></dpm-risk-assessment-step>

            <dpm-review-maintenance-step
                *ngIf="currentStepId === 'step-5'"
                [stepState]="steps[5]"
                (previousStep)="onChangeStep(steps[4].id, $event)"
                (wizardEnd)="onWizardEnd()"
            ></dpm-review-maintenance-step>


        </div>

        <div class="col-xs-4 col-md-3 col-lg-4 wizard-nav-wrapper">
            <dpm-wizard-nav
                [currentStepId]="currentStepId"
                [steps]="steps"
                [stepsLabels]="stepsLabels"
                [canExitFirstStep]="currentDpiaProjectId !== undefined"
                (goToStep)="onChangeStep($event)"
            ></dpm-wizard-nav>
        </div>


    </div>
</div>
