<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="alert alert-danger" *ngIf="validationMessages.message">{{ validationMessages.message }}</div>

<form novalidate (ngSubmit)="onSubmit(recordInfo.value)" [formGroup]="recordInfo">

    <div class="row">
        <div class="col-xs-12">

            <div class="form-group mb-4">
                <label for="company_name">Ragione sociale</label>

                <input type="text" class="form-control" id="company_name" formControlName="company_name" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('company_name')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.company_name"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="company_number">C.F. / P. IVA</label>
                <input class="form-control" type="text" id="company_number" formControlName="company_number" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('company_number')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.company_number"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="firstname">Nome DPO</label>
                <input class="form-control" type="text" id="firstname" formControlName="firstname" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('firstname')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.firstname"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="lastname">Cognome DPO</label>
                <input class="form-control" type="text" id="lastname" formControlName="lastname" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('lastname')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.lastname"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="title">Titolo del DPO</label>
                <input class="form-control" type="text" id="title" formControlName="title" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('title')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.title"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="email">Email <span>*</span></label>
                <input (keyup)="validationMessages.errors.email = ''" type="email" class="form-control" id="email"
                       formControlName="email" required autocomplete="off">

                <dpm-control-messages [control]="recordInfo.get('email')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.email"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="certified-mail">PEC</label>
                <input type="email" class="form-control" id="certified-mail" formControlName="certified_mail" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('certified_mail')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.certified_mail"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="phone">Telefono</label>
                <input type="tel" class="form-control" id="phone" formControlName="phone" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('phone')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.phone"></dpm-validation-message>
            </div>

            <div class="form-group mb-4">
                <label for="address">Indirizzo</label>
                <input type="text" class="form-control" id="address" formControlName="address" autocomplete="off">
                <dpm-control-messages [control]="recordInfo.get('address')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.address"></dpm-validation-message>
            </div>

        </div>
    </div>

    <button type="submit" class="mt-1 mb-4 pull-right btn"
            [ngClass]="(recordInfo.valid && recordInfo.dirty && recordInfo.touched) ? 'btn-primary' : 'btn-info'"
            [disabled]="recordInfo.invalid || recordInfo.pristine"
    > Aggiorna
    </button>

    <button type="reset" class="mt-1 mb-4 mr-4 pull-right btn btn-default"
            (click)="cancelRecordUpdate()"
    > Annulla
    </button>
</form>
