<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="col-xs-12 col-sm-4">
    <div
        class="panel"
        [ngClass]="{'active-panel': records.length > 0}"
    >

        <ul class="nav nav-tabs text-center">
            <li class="nav-item">
                <a class="nav-link active text-capitalize text-primary m-0">Applicativi</a>
            </li>
            <li class="nav-item">
                <select dpmDropdownSelector title="Azione"
                        class="form-control text-capitalize"
                        [(ngModel)]="activeTab"
                        [values]="dropdownOptions"
                        [activeTab$]="activeTab$"></select>
            </li>
        </ul>


        <div [ngSwitch]="activeTab">


            <div *ngSwitchCase="'dettagli'">
                <div class="media text-center ml-4 mr-4 p-3"
                     *ngIf="records.length === 0" [@FadeIn]="">
                    <hr>
                    <h5 class="media-heading pb-2 pt-4">Lista Applicativi</h5>
                    <p class="small pb-4">Selezionare Applicativo</p>

                    <hr>
                </div>

                <div class="container-fluid">
                    <div class="btn-toolbar mt-3 ml-4 mr-4" role="toolbar" aria-label="Toolbar"
                         *ngIf="records.length > 0">
                        <div class="btn-group btn-group-justified m-2" role="group" aria-label="First group">

                            <ng-container *ngIf="records[0].deleted_at === null">
                                <a class="btn btn-primary"
                                   *ngIf="records.length === 1"
                                   (click)="activeTab = 'modifica'">Modifica</a>
                                <a class="btn btn-primary" (click)="onDisableEntity()">Disattiva</a>
                            </ng-container>
                            <ng-container *ngIf="records[0].deleted_at !== null">
                                <a class="btn btn-primary" (click)="onRestoreEntity()">Riattiva</a>
                                <a class="btn btn-primary" (click)="openModal(deletionModal)">Elimina definitivamente</a>
                            </ng-container>

                            <ng-template #deletionModal>
                                <div class="modal-header">
                                    <h4 class="modal-title pull-left">{{ deletionModalLabels.title }}</h4>
                                    <button type="button" aria-label="Close" class="close pull-right"
                                            (click)="modalRef.hide()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div [innerHtml]="deletionModalLabels.htmlText"></div>
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-info" (click)="modalRef.hide()">
                                            {{ deletionModalLabels.cancelText }}
                                        </button>
                                        <button class="btn btn-primary" (click)="onDeleteEntities(); modalRef.hide()">
                                            {{ deletionModalLabels.confirmText }}
                                        </button>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div *ngIf="records.length === 1" [@FadeIn]="">
                    <div class="media ml-4 mr-4">
                        <div class="text-center ml-4 mr-4">
                            <hr>
                            <h5 class="media-heading pb-2 pt-4">Dettagli Applicativo</h5>
                            <p class="small pb-4">Qui puoi vedere i dettagli dell’applicativo selezionato</p>
                            <hr>
                        </div>

                        <div class="ml-4 mr-4">
                            <p class="pt-4">
                                Nome: <strong>{{ records[0].name }}</strong><br><br>
                                Descrizione: {{ records[0].description }}<br>
                                Marca: <strong>{{ records[0].brand }}</strong><br>
                            </p>
                            <hr>
                        </div>

                        <div class="ml-4 mr-4">
                            <h5 class="media-heading pb-2 pt-2 clickable accordion-toggle"
                                (click)="detailsAccordionStatus = detailsAccordionStatus === 'selected' ? 'unSelected' : 'selected'">
                                <span>Misure di sicurezza tecniche</span>
                                <span>
                                    <a class="btn btn-primary btn-xs mr-2" [@FadeIn]
                                       *ngIf="detailsAccordionStatus === 'selected'"
                                       (click)="activeTab$.next('misure di sicurezza')"
                                    >Modifica</a>
                                    <i *ngIf="detailsAccordionStatus === 'selected'"
                                       class="fa fa-caret-down fa-lg pull-right"></i>
                                    <i *ngIf="detailsAccordionStatus === 'unSelected'"
                                       class="fa fa-caret-left fa-lg pull-right"></i>
                                </span>
                            </h5>

                            <div [@ToggleUpDown]="detailsAccordionStatus">
                                <ul class="mt-1">
                                    <li *ngFor="let category of securityMeasuresCategories">
                                        {{ category.name }}
                                        <ul *ngIf="getSelectedSecurityMeasuresForCategory(category).length > 0">
                                            <li *ngFor="let sm of getSelectedSecurityMeasuresForCategory(category)">
                                                <i class="pl-1 pr-1 fa" *ngIf="sm.security_level !== 2"
                                                   [class.fa-caret-down]="sm.security_level === 1"
                                                   [class.fa-caret-up]="sm.security_level === 3"
                                                   [title]="sm.security_level === 1 ? 'Minima' : 'Alta'"
                                                ></i>
                                                <span *ngIf="sm.security_level === 2" class="middle-dot pl-1 pr-1"
                                                      title="Standard">•</span>
                                                {{ sm.name }}
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <hr>
                        </div>

                        <div class="mr-4 ml-4 pb-2">
                            <dpm-tag-coupler
                                [isDeleted]="records[0].deleted_at !== null"
                                [labels]="thirdPartiesLabels"
                                [availableTags$]="availableThirdPartiesTags$"
                                [assignedTags$]="assignedThirdPartiesTags$"
                                (toggleTag)="onToggleThirdParty($event)"
                                (searchTag)="onSearchThirdParty($event)"
                            ></dpm-tag-coupler>
                            <hr>
                        </div>

                        <div class="mr-4 ml-4 pb-2">
                            <dpm-tag-coupler
                                [isDeleted]="records[0].deleted_at !== null"
                                [labels]="serversLabels"
                                [availableTags$]="availableServersTags$"
                                [assignedTags$]="assignedServersTags$"
                                (toggleTag)="onToggleServer($event)"
                                (searchTag)="onSearchServer($event)"
                            ></dpm-tag-coupler>
                            <hr>
                        </div>
                    </div>

                </div>

                <div class="automatic-overflow pb-4"
                     *ngIf="records.length > 1" [@FadeIn]="">
                    <div class="ml-4 mr-4">
                        <div class="media ml-4 mr-4 text-center">
                            <hr>
                            <h5 class="media-heading pb-2 pt-4">Applicativi Selezionati</h5>
                            <p class="small pb-4">Hai selezionato i seguenti applicativi</p>
                            <hr>
                        </div>

                        <div class="media ml-4 mr-4" *ngFor="let record of records" [@FadeIn]="">
                            <p>
                                Nome: {{ record.name }}<br>
                                Descrizione: {{ record.description }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <small>Selezionati: {{ records.length }}</small>
                    <button class="btn btn-primary"
                            *ngIf="records.length > 0"
                            (click)="clearSelection()"
                            [@FadeIn]=""
                    >Annulla selezione
                    </button>
                </div>
            </div>


            <div *ngSwitchCase="'nuovo'" (click)="clearSelection()">
                <div class="media text-center ml-4 mr-4" [@FadeIn]="">
                    <hr>
                    <p class="small">Creazione di un nuovo applicativo</p>
                    <hr>
                </div>
                <div class="media ml-4 mr-4 container-fluid">
                    <dpm-new-application-form
                        [validationMessages]="validationMessages"
                        (addEntity)="onAddEntity($event)"
                    ></dpm-new-application-form>
                </div>
            </div>

            <div *ngSwitchCase="'modifica'">
                <div *ngIf="records.length === 1">
                    <div class="media text-center ml-4 mr-4">
                        <hr>
                        <p class="small">Aggiorna i dati dell’applicativo</p>
                        <hr>
                    </div>
                    <div class="media ml-4 mr-4 container-fluid">
                        <dpm-update-application-form
                            [record]="records[0]"
                            (updateEntity)="onUpdateEntity($event)"
                            (cancelUpdate)="restoreDefaultTab()"
                            [validationMessages]="validationMessages"
                        ></dpm-update-application-form>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="'misure di sicurezza'">
                <div *ngIf="records.length === 1" class="automatic-overflow pb-5">
                    <div class="media text-center ml-4 mr-4">
                        <hr>
                        <p class="small">Misure di sicurezza tecniche</p>
                        <hr>
                    </div>

                    <div class="media ml-4 mr-4 container-fluid">
                        <ng-container *ngFor="let category of securityMeasuresCategories, let i = index">
                            <h5 class="media-heading pb-2 pt-2 clickable"
                                (click)="toggleAccordion(i)">
                                {{ category.name }}
                                <i *ngIf="accordionsVisibility[i] === 'selected'"
                                   class="fa fa-caret-down fa-lg pull-right"></i>
                                <i *ngIf="accordionsVisibility[i] === 'unSelected'"
                                   class="fa fa-caret-left fa-lg pull-right"></i>
                            </h5>

                            <div [@ToggleUpDown]="accordionsVisibility[i]" class="p-2 pl-4">
                                <p *ngFor="let sm of availableSecurityMeasures[i]" (click)="toggleSecurityMeasure(sm)"
                                   class="checkbox-wrapper clickable">

                                    <input type="checkbox" class="form-control dpm-input small-checkbox"
                                           [checked]="isSecurityMeasureSelected(sm.id)">
                                    <label tabindex="0" (keyup.space)="toggleSecurityMeasure(sm)"></label>
                                    <span class="pl-2">
                                        <i class="pl-1 pr-1 fa" *ngIf="sm.security_level !== 2"
                                           [class.fa-caret-down]="sm.security_level === 1"
                                           [class.fa-caret-up]="sm.security_level === 3"
                                           [title]="sm.security_level === 1 ? 'Minima' : 'Alta'"
                                        ></i>
                                        <span *ngIf="sm.security_level === 2" class="middle-dot pl-1 pr-1"
                                              title="Standard">•</span>
                                        {{ sm.name }}
                                    </span>
                                </p>
                            </div>
                            <hr>
                        </ng-container>
                    </div>
                </div>
            </div>


            <div *ngSwitchDefault>
                <div class="media text-center ml-4 mr-4" [@FadeIn]>
                    <hr>
                    <p class="small">Selezionare un applicativo</p>
                    <hr>
                </div>
            </div>


        </div>

    </div>

</div>
