<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<dpm-wizard-step
    [canAdvanceStep]="stepForm.valid"
    [isFinalStep]="true"
    [stepState]="stepState"
    (previousStep)="previousStep.emit()"
    (wizardEnd)="onWizardEnd()"
>
    <div stepTitle [@FadeIn]>
        <h2 class="text-light">Altre informazioni</h2>
    </div>

    <div stepBody [@FadeIn]>
        <form [formGroup]="stepForm" novalidate
              (keyup.enter)="onWizardEnd()">

            <div class="form-group mb-1">
                <p>
                    <strong class="pr-1 mr-1"
                            (click)="has_profiling_activity = !has_profiling_activity; formChanges$.next()"
                    >Il trattamento comporta attività di profilazione</strong>
                    <dpm-toggle-switch
                        [currentValue]="has_profiling_activity"
                        (toggle)="has_profiling_activity = !has_profiling_activity; formChanges$.next()"
                    ></dpm-toggle-switch>
                </p>
                <blockquote class="text-base text-muted mt-2 mb-2">
                    «Profilazione» Qualsiasi forma di trattamento automatizzato di dati personali consistente
                    nell’utilizzo di tali dati personali per valutare determinati aspetti personali relativi a
                    una persona fisica, in particolare per analizzare o prevedere aspetti riguardanti il rendimento
                    professionale, la situazione economica, la salute, le preferenze personali, gli interessi,
                    l’affidabilità, il comportamento, l’ubicazione o gli spostamenti di detta persona fisica
                </blockquote>
            </div>

            <div class="form-group">
                <p>
                    <strong class="pr-1 mr-1"
                            (click)="is_process_automated = !is_process_automated; formChanges$.next()"
                    >Il trattamento comporta processi decisionali automatizzati</strong>
                    <dpm-toggle-switch
                        [currentValue]="is_process_automated"
                        (toggle)="is_process_automated = !is_process_automated; formChanges$.next()"
                    ></dpm-toggle-switch>
                </p>
            </div>

            <div class="form-group" *ngIf="is_process_automated === true" [@FadeIn]>
                <label for="automated_process_description">Descrivere il procedimento automatizzato</label>
                <input type="text" id="automated_process_description" class="form-control dpm-input"
                       placeholder="Descrizione processo" formControlName="automated_process_description"
                       (blur)="saveOtherData()" autocomplete="off">
                <dpm-control-messages [control]="stepForm.get('automated_process_description')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.automated_process_description"
                ></dpm-validation-message>
                <div class="pb-3"></div>
            </div>

            <div class="form-group">
                <label class="mb-0 mt-1">
                    Periodo di conservazione dei dati
                    <dpm-required-icon-indicator
                        [isDesirable]="true"
                        [isFilled]="stepForm.get('retentions').value !== null && stepForm.get('retentions').value.length > 0"
                    ></dpm-required-icon-indicator>
                </label>
                <dpm-retentions-selector (selectionChange)="stepForm.markAsDirty(); formChanges$.next()"
                ></dpm-retentions-selector>
            </div>

            <div class="form-group">
                <label for="retention_description">Descrizione periodo di conservazione (opzionale)</label>
                <textarea name="notes" cols="20" rows="2" class="form-control dpm-input" id="retention_description"
                          formControlName="retention_description" (blur)="saveOtherData()"
                          (keypress)="resetValidationErrors()"></textarea>
                <dpm-control-messages [control]="stepForm.get('retention_description')"></dpm-control-messages>
                <dpm-validation-message
                    [message]="validationMessages.errors.retention_description"></dpm-validation-message>
            </div>

            <div class="pb-3"></div>

            <dpm-applications-selector (selectionChange)="stepForm.markAsDirty(); formChanges$.next()"
            ></dpm-applications-selector>

            <div class="form-group pt-4 mb-0">
                <p><b>Stima del rischio per i diritti e le libertà delle persone fisiche</b></p>
                <label class="radio-inline">
                    <input type="radio" [value]="0" name="risk_estimate" formControlName="risk_estimate"
                           (change)="formChanges$.next()">
                    Basso
                </label>
                <label class="radio-inline">
                    <input type="radio" [value]="1" name="risk_estimate"
                           formControlName="risk_estimate" (change)="formChanges$.next()">
                    Medio
                </label>
                <label class="radio-inline" placement="auto"
                       tooltip="Si consiglia di effettuare l’analisi di impatto sulla protezione dei dati.">
                    <input type="radio" [value]="2" name="risk_estimate" formControlName="risk_estimate"
                           (change)="formChanges$.next()">
                    Alto
                </label>
                <div class="pt-3">
                    <alert type="warning" *ngIf="stepForm.controls.risk_estimate.value === 2" [@FadeIn]>
                        <strong>Attenzione:</strong> Si consiglia di effettuare l'
                        <a class="clickable" (click)="saveAndNavigateToDpia()">
                            analisi di impatto sulla protezione dei dati</a>.
                    </alert>
                </div>
            </div>

            <div class="form-group">
                <label for="notes" class="pb-2">Note</label>
                <dpm-control-messages [control]="stepForm.get('notes')"></dpm-control-messages>
                <dpm-validation-message [message]="validationMessages.errors.notes"></dpm-validation-message>
                <textarea name="notes" cols="30" rows="10" class="form-control dpm-input" id="notes"
                          formControlName="notes" (blur)="saveOtherData()"
                          (keypress)="resetValidationErrors()"></textarea>
            </div>

        </form>
    </div>
</dpm-wizard-step>
