/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../../styles/variables";

#password {
    margin-bottom: 40px;
}

.form-group {
    padding: 20px 0 0 0;
}

.form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: $font-size-large;
    background-color: transparent;
    border-bottom: 2px solid #48cfae;
    color: white;
    box-shadow: none;

}

@media screen and (max-width: 1440px) {
    .form-control {
        font-size: $font-size-base;
    }
}

.form-control:focus {
    border-color: transparent;
    border-bottom: 2px solid #4cf0cd;
    outline: 0;
    box-shadow: none;
}
