<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<form [formGroup]="loginForm" novalidate (keydown.enter)="submitLogin()">

    <div class="form-group">
        <input type="text" class="form-control" id="username" placeholder="USERNAME" formControlName="username"
               autocomplete="off">
    </div>

    <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="PASSWORD" formControlName="password"
               autocomplete="off">
    </div>

    <dpm-button [type]="'button'"
                [disabled]="!loginForm.valid"
                [text]="'LOGIN'"
                [cssClass]="'btn btn-primary btn-block'"
                [spinnerOn]="loading"
                (click)="submitLogin()">
    </dpm-button>
</form>


