<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<ng-template #noUnits>Nessuna unità selezionata</ng-template>

<ng-container *ngIf="selectedUnitsTags.length > 0; else noUnits">
    <p dpmTag class="mb-1 mr-2"
       *ngFor="let tag of selectedUnitsTags"
       (click)="onNodeSelected(tag.id)"
       [title]="tag.title"
       [@SlideInTop]="">{{ tag.name }}</p>
</ng-container>

<ng-template #nodeTemplate let-node>
    <div class="node-content">
        <p class="checkbox-wrapper clickable m-0">
            <input type="checkbox" class="form-control dpm-input small-checkbox"
                   [checked]="node.data.isSelected === true">
            <label (keyup.space)="onNodeSelected(node.data.id)"
                   (click)="onNodeSelected(node.data.id)"></label>
            <span class="node-template-content pl-2">{{ node.data.name }}</span>
        </p>
    </div>
</ng-template>

<dpm-tree-selector
    [nodes]="units$ | async"
    [options]="options"
    [filterFunction]="filterNodes"
    [nodeTemplate]="nodeTemplate"
    (nodeSelected)="onNodeSelected($event.data.id)"
></dpm-tree-selector>
