/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../../styles/variables";


$slider-diameter: 1rem;
$slider-gap: .25rem;

label.dpm-switch {
    position: relative;
    display: inline-block;
    top: 2 * $slider-gap;
    margin: 0;
    width: 2 * ($slider-gap + $slider-diameter);
    height: 2 * $slider-gap + $slider-diameter;

    > input {
        display: none;
    }
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1.2rem;
    background-color: $gray-lighter;
    -webkit-transition: $default-transition;
    transition: $default-transition;

    &:hover:before {
        box-shadow: $box-shadow;
    }

    &:before {
        position: absolute;
        content: "";
        height: $slider-diameter;
        width: $slider-diameter;
        left: $slider-gap;
        bottom: $slider-gap;
        border-radius: 50%;
        background-color: $body-bg;
        -webkit-transition: $default-transition;
        transition: $default-transition;
    }
}

input {
    &:checked + .slider {
        background-color: $brand-primary;
    }

    &:focus + .slider {
        box-shadow: $box-shadow;
    }

    &:checked + .slider:before {
        -webkit-transform: translateX($slider-diameter);
        -ms-transform: translateX($slider-diameter);
        transform: translateX($slider-diameter);
    }
}
