<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<dpm-wizard-step
    [canAdvanceStep]="stepForm.valid"
    [stepState]="stepState"
    (previousStep)="previousStep.emit()"
    (nextStep)="onNextStep()"
>
    <div stepTitle [@FadeIn]>
        <h2 class="text-light">Misure di sicurezza</h2>
    </div>

    <div stepBody [@FadeIn]>
        <form [formGroup]="stepForm" novalidate>
            <div class="form-group mb-5">

                <ng-container *ngFor="let category of securityMeasuresCategories; let i = index">
                    <h5 class="p-3 clickable accordion-toggle" tabindex="0"
                        (click)="toggleAccordion(i)" (keyup.space)="toggleAccordion(i)">
                        <span>{{ category }}</span>
                        <span>
                            <i class="fa fa-caret-down fa-lg pull-right"
                               *ngIf="accordionsVisibility[i] === 'selected'"></i>
                            <i class="fa fa-caret-left fa-lg pull-right"
                               *ngIf="accordionsVisibility[i] === 'unSelected'"></i>
                        </span>
                    </h5>

                    <div class="accordion ml-4 pb-3" [@ToggleUpDown]="accordionsVisibility[i]">
                        <div class="content-wrapper mt-2">
                            <div class="entry mb-2" (click)="toggleSecurityMeasure(sm)"
                                 *ngFor="let sm of availableSecurityMeasures[i]">

                                <input type="checkbox" class="form-control dpm-input small-checkbox" id="sm-{{ sm.id }}"
                                       [checked]="isSelected(sm)">
                                <label tabindex="0"
                                       (keyup.space)="toggleSecurityMeasure(sm)"></label>
                                <span>{{ sm.name }}</span>

                            </div>
                        </div>
                    </div>
                    <hr class="m-0" *ngIf="i !== securityMeasuresCategories.length - 1">
                </ng-container>

            </div>
        </form>
    </div>
</dpm-wizard-step>
