/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../../styles/variables";
@import "../../../../styles/utilities";
@import "../../../../styles/mixins";
@import "../../../../styles/dpm-classes/helpers.scss";

.row[class*="mt"] > div[class*="col"]:first-of-type {
    @include automatic-overflow(90vh);
    background-color: $body-bg;
    height: 100%;
    overflow-x: hidden;
}

.wizard-nav-wrapper {
    display: flex;
    justify-content: flex-end;
}

dpm-wizard-step {
    @extend .pt-4;

    form {
        @extend .pt-4;
        min-height: 325px;
    }

    ::ng-deep .form-group {
        max-width: $wizard-steps-max-width;
    }

    .form-group {

        &:not(:last-of-type) {
            @extend .pb-2;
        }

        @extend %radio-inline-fix;

        ::ng-deep input {
            @extend .collapsible-dpm-input;

            &[type=checkbox] {
                @extend %custom-checkbox;

                &.small-checkbox + label {
                    padding: 0.6rem;
                }
            }
        }

        textarea {
            max-width: $wizard-steps-max-width;
        }
    }

    .col-xs-12:first-of-type {
        margin-bottom: 2rem;
    }
}
