/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../styles/variables";
@import "../../../styles/utilities";

:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding-top: 10vh;
    margin: 0 32vw;

    font-size: 1.2rem;
    color: $gray-light;
}

.dpm-logo img {
    height: 10rem;
}

.dpm-title {
    font-size: 2.2rem;
}

.studio-storti-logo {
    margin: 6rem auto 2rem auto;
    img {
        height: 6rem;
    }
}

.btn.btn-primary {
    margin-top: 6rem;
    font-size: 1.1rem;
    padding: 0.7rem 1rem;
}
