<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="dpm-logo">
    <img src="../../../assets/img/mark-dpm-blue.svg" alt="Data Protection Manager" title="Data Protection Manager">
</div>

<h2 class="dpm-title pb-3"><b>Data Protection Manager<sup>&reg;</sup></b></h2>

<p>
    Permette di prendere il controllo dell’ecosistema privacy riducendo al minimo le formalità e aumentando il
    livello di <br/>
    protezione dei dati, ottemperare alla
    <a target="_blank" href="http://eur-lex.europa.eu/legal-content/IT/ALL/?uri=celex:32016R0679">
        normativa europea
    </a>
    e
    <a target="_blank" href="http://www.garanteprivacy.it/web/guest/home/docweb/-/docweb-display/docweb/1311248">
        nazionale
    </a>
    in materia di protezione dei dati.
</p>

<div class="studio-storti-logo">
    <img src="../../../assets/img/logo_studiostorti_big.svg" alt="Studio Storti - Soluzioni Open Source"
         title="Studio Storti - Soluzioni Open Source">
</div>

<p>
    Siamo la più grande e referenziata realtà che opera nel campo delle soluzioni Open Source per le Pubbliche
    Amministrazioni. Ad oggi, serviamo centinaia di enti di ogni tipologia e dimensione in tutta Italia.     Dal 1997 la nostra attività si è concentrata nel soddisfare la sempre maggiore richiesta di libertà e
    risparmio da parte della Pubblica Amministrazione italiana. Con la continua ricerca dell’eccellenza nelle
    soluzioni proposte, abbiamo raggiunto una forte specializzazione e focalizzazione su aree di competenza
    chiare e definite.
    <br><br>
    Per saperne di più <a target="_blank" href="https://studiostorti.com">studiostorti.com</a>
</p>

<a class="btn btn-primary" [routerLink]="homepage">Pagina principale</a>


<small class="small mt-4">
    Copyright (C) 2018 Studio Storti Srl -
    <a href="https://studiostorti.com/data-protection-manager/dpm-privacy-policy/" target="_blank">
        Informativa Privacy
    </a>
</small>

