<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="side-navbar"
     [class.collapsed]="sideNavState === 'collapsed'"
>

    <div class="side-nav-heading">
        <img src="assets/img/mark-dpm-white.svg" class="pull-right dpm-mark"
             [class.collapsed]="sideNavState === 'collapsed'"
        >

        <div class="clearfix"></div>

        <div class="side-nav-user">
            <img class="img-circle text-center"
                 [class.collapsed]="sideNavState === 'collapsed'"
                 [src]="user.avatar"/>

            <br>

            <ng-container *ngIf="sideNavState === 'opened'">
                <a class="text-white" [routerLink]="'/user'">
                    <strong>{{ user.firstname + ' ' + user.lastname }}</strong>
                </a>

                <br>

                <small class="pb-3">
                <span *ngFor="let role of user.roles">
                    {{ role.display_name }} <i class="fa fa-info" title="{{ role.description }}"></i>
                </span>
                </small>
            </ng-container>
        </div>
    </div>

    <dpm-menu
        [sections]="sections$ | async"
        [sideNavState]="sideNavState"
    ></dpm-menu>

</div>
