/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../styles/variables";
@import "../../../styles/mixins";


.side-navbar {
    position: fixed;
    z-index: 999;
    width: $side-nav-width;
    max-height: 100%;

    &, * {
        transition: $default-transition;
    }

    &.collapsed {
        text-align: center;
        position: absolute;
        width: $side-nav-collapsed-width;

        .side-nav-user {
            padding: 0;
        }

        .side-nav-heading {
            height: $side-nav-heading-height-collapsed;
        }
    }

    .clearfix {
        height: 7rem;
    }

    .dpm-mark {
        z-index: 900; // lower than toggle button (dpm-top-nav)
        width: $side-nav-width * 0.7;
        opacity: 0.25;
        transform: rotate(-22deg);
        position: absolute;
        top: -2.5rem;
        left: 90px;

        &.collapsed {
            width: $side-nav-collapsed-width;
            padding-bottom: 50px;
            opacity: 1;
            transform: rotate(0);
            left: 0;
            top: 0;
        }
    }

    .side-nav-heading {
        height: $side-nav-heading-height;
    }
}

a {
    color: darken($white, 10);

    &:focus, &:hover {
        color: $white;
    }
}

.side-nav-user {
    padding: 0 1.6rem 1.6rem 1.6rem;
    color: $gray-lighter;
    display: flex;
    flex-direction: column;

    img {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;

        &.collapsed {
            height: 40px;
            width: 40px;
            margin: 0 auto 20px auto;
        }
    }

    strong {
        font-size: $font-size-large;
    }
}
