<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="form-group pt-2 pb-1">
    <label for="company-name">Destinatario
        <dpm-required-icon-indicator
            [isRequired]="true"
            [isFilled]="company_name.length > 4"
        ></dpm-required-icon-indicator>
    </label>
    <blockquote class="mt-3 text-base text-muted">
        «Destinatario»: la persona fisica o giuridica, l’autorità pubblica, il servizio o un altro organismo che
        riceve comunicazione di dati personali, che si tratti o meno di terze parti.
    </blockquote>
    <input class="form-control dpm-input" id="company-name" [(ngModel)]="company_name" placeholder="Destinatario" autocomplete="off">
</div>

<div class="form-group pb-2">
    <p class="pb-1"><b>Ambito</b></p>
    <label class="radio-inline">
        <input type="radio" name="ds-scope" [value]="false" [(ngModel)]="extra_ue"> Intra-UE
    </label>
    <label class="radio-inline">
        <input type="radio" name="ds-scope" [value]="true" [(ngModel)]="extra_ue"> Extra-UE
    </label>
</div>

<div *ngIf="extra_ue === true" [@FadeIn]>
    <dpm-questionnaire-selector
            [selectionChange$]="selectionChange$"
    ></dpm-questionnaire-selector>
</div>

<div class="form-group pb-4">
    <button class="btn btn-primary" (click)="saveDisclosureSubject()" [disabled]="!canSave()">
        Salva
    </button>
</div>
