<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="dpm-widget panel panel-default" *ngIf="paStatistics$ | async">
    <div class="panel-heading">
        <div class="row pl-1">
            <div class="col-sm-6">
                <h5>Categorie di dati</h5>
            </div>
            <div class="col-sm-6">
                <button [routerLink]="'/p-activities'" class="btn btn-xs btn-primary pull-right">
                    Vai alla lista
                </button>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row widget-content" *ngIf="count > 0">
            <div class="col-sm-6">

                <h1>
                    <a [routerLink]="'/p-activities'" class="text-primary">{{count}}</a>
                </h1>

                <small>Trattamenti inseriti nel registro</small>

                <br /><br />

                <div class="row statistic-labels" *ngFor="let index of [0,1,2]">
                    <div class="col-sm-6">
                        <h5 [style.color]="colors[0].backgroundColor[index]">{{chartLabels[index]}}</h5>
                    </div>
                    <div class="col-sm-6">
                        <strong class="pull-right" [style.color]="colors[0].backgroundColor[index]" >{{chartData[index]}}</strong>
                    </div>
                </div>

            </div>

            <div class="col-sm-6 ">
                <canvas baseChart
                        [data]="chartData"
                        [labels]="chartLabels"
                        [options]="chartOptions"
                        [chartType]="'pie'"
                        [colors]="colors">
                </canvas>
            </div>
        </div>
        <div class="row" *ngIf="count === 0">
            <div class="col-sm-12">
                <span>Nessun trattamento presente nel registro</span>
            </div>
        </div>
    </div>
</div>


