/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../../../../../styles/variables";
@import "../../../../../../../styles/utilities";

accordion {
    max-width: 30vw;

    accordion-group {
        @extend .mt-0;
        border: none !important;
        box-shadow: none !important;

        ::ng-deep {
            .panel-heading {
                background-color: $body-bg !important;
            }

            .panel-title {
                font-size: $font-size-base;
            }
        }

        .entry {
            margin-left: .2rem;
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            input {
                display: none;

                &[type=checkbox] {
                    @extend %custom-checkbox;

                    &.small-checkbox + label {
                        padding: 0.6rem;
                    }

                }
            }

            span {
                @extend .pl-3;
            }
        }

        .content-wrapper {
            span, b {
                cursor: pointer;
            }

            &:first-of-type {
                margin-top: 0;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            &:not(:last-of-type) {
                margin-bottom: 1.5rem;
            }
        }
    }
}

blockquote {
    font-size: $font-size-base;
    color: $gray-light;
}
