<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<accordion [closeOthers]="true">
    <accordion-group heading="Trasferimento sulla base di una decisione di adeguatezza" tabindex="0"
                     [isOpen]="accordions[0].isOpen"
                     (keyup.space)="toggleAccordion(0)">

        <div class="content-wrapper mt-2">
            <div class="entry mb-2" (click)="toggleQuestion(question.id)"
                 *ngFor="let question of questions[0]">
                <input type="checkbox" class="form-control dpm-input small-checkbox"
                       id="question-{{ question.id }}" [checked]="isSelected(question.id)">
                <label tabindex="0" (keyup.space)="toggleQuestion(question.id)"></label>
                <span>{{ question.question }}</span>
            </div>
        </div>
    </accordion-group>

    <accordion-group heading="Trasferimento soggetto a garanzie adeguate" tabindex="0"
                     [isOpen]="accordions[1].isOpen"
                     (keyup.space)="toggleAccordion(1)">

        <div class="content-wrapper mt-2">
            <div class="entry mb-2" (click)="toggleQuestion(question.id)"
                 *ngFor="let question of questions[1]">
                <input type="checkbox" class="form-control dpm-input small-checkbox"
                       id="question-{{ question.id }}" [checked]="isSelected(question.id)">
                <label tabindex="0" (keyup.space)="toggleQuestion(question.id)"></label>
                <span>{{ question.question }}</span>
            </div>
        </div>
    </accordion-group>

    <accordion-group heading="Deroghe in specifiche situazioni" tabindex="0"
                     [isOpen]="accordions[2].isOpen"
                     (keyup.space)="toggleAccordion(2)">

        <div class="content-wrapper mt-2">
            <div class="entry mb-4" (click)="toggleQuestion(question.id)"
                 *ngFor="let question of questions[2]">
                <input type="checkbox" class="form-control dpm-input small-checkbox"
                       id="question-{{ question.id }}" [checked]="isSelected(question.id)">
                <label tabindex="0" (keyup.space)="toggleQuestion(question.id)"></label>
                <span>{{ question.question }}</span>
            </div>
        </div>
    </accordion-group>
</accordion>
