<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="col-xs-12 col-sm-4">
    <div
        class="panel"
        [ngClass]="{'active-panel': records.length > 0}"
    >

        <ul class="nav nav-tabs text-center">
            <li class="nav-item">
                <a class="nav-link active text-capitalize text-primary m-0">Trattamenti</a>
            </li>
            <li class="nav-item">
                <select dpmDropdownSelector title="Azione"
                        class="form-control text-capitalize"
                        [(ngModel)]="activeTab"
                        [values]="dropdownOptions"
                        [activeTab$]="activeTab$"></select>
            </li>
        </ul>

        <div [ngSwitch]="activeTab">


            <div *ngSwitchCase="'dettagli'">
                <div class="media text-center ml-4 mr-4 p-3"
                     *ngIf="records.length === 0" [@FadeIn]>
                    <hr>
                    <h5 class="media-heading pb-2 pt-4">Lista Trattamenti</h5>
                    <p class="small pb-4">Selezionare Trattamento</p>
                    <hr>
                </div>

                <div class="container-fluid">
                    <div class="btn-toolbar mt-3 ml-4 mr-4" role="toolbar" aria-label="Toolbar"
                         *ngIf="records.length > 0">
                        <div class="btn-group btn-group-justified m-2" role="group" aria-label="First group">

                            <ng-container *ngIf="records[0].deleted_at === null">
                                <a class="btn btn-primary"
                                   *ngIf="records.length === 1"
                                   (click)="editRecord()">Modifica</a>
                                <a class="btn btn-primary" (click)="onDisableEntity()">Disattiva</a>
                            </ng-container>
                            <ng-container *ngIf="records[0].deleted_at !== null">
                                <a class="btn btn-primary" *ngIf="records.length === 1"
                                   (click)="editRecord()">Modifica</a>
                                <a class="btn btn-primary" (click)="onRestoreEntity()">Riattiva</a>
                                <a class="btn btn-primary" (click)="openModal(deletionModal)">Elimina
                                    definitivamente</a>
                            </ng-container>

                            <ng-template #deletionModal>
                                <div class="modal-header">
                                    <h4 class="modal-title pull-left">{{ deletionModalLabels.title }}</h4>
                                    <button type="button" aria-label="Close" class="close pull-right"
                                            (click)="modalRef.hide()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div [innerHtml]="deletionModalLabels.htmlText"></div>
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-info" (click)="modalRef.hide()">
                                            {{ deletionModalLabels.cancelText }}
                                        </button>
                                        <button class="btn btn-primary" (click)="onDeleteEntities(); modalRef.hide()">
                                            {{ deletionModalLabels.confirmText }}
                                        </button>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div *ngIf="records.length === 1" [@FadeIn] class="automatic-overflow">
                    <div class="media ml-4 mr-4">
                        <div class="text-center ml-4 mr-4">
                            <hr>
                            <h5 class="media-heading pb-2 pt-4">Dettagli Trattamento</h5>
                            <p class="small pb-4">Qui puoi vedere i dettagli del trattamento selezionato</p>
                            <hr>
                        </div>

                        <div class="ml-4 mr-4">

                            <h5>Trattamento {{ records[0]?.identification_code }}: {{ records[0].name }}</h5>

                            <h5>Data di creazione: {{ records[0].created_at | dpmDate:'LLL' }}</h5>

                            <h5 class="media-heading pb-2 pt-4">Percentuale di completamento</h5>

                            <progressbar [animate]="false" [value]="records[0].completionValue"
                                         [type]="records[0].completionValue < 25 ?
                                            'danger' :
                                            records[0].completionValue <= 50 ? 'warning'
                                            : 'success'">
                                <b>{{ records[0].completionValue }}%</b>
                            </progressbar>
                            <hr>
                        </div>


                        <div class="ml-4 mr-4">
                            <h5 class="media-heading pb-2 pt-2 clickable accordion-toggle" (click)="toggleAccordion(0)">
                                <span>Dati essenziali</span>
                                <span>
                                    <a class="btn btn-primary btn-xs mr-2" [@FadeIn]
                                       *ngIf="accordionsVisibility[0] === 'selected'"
                                       [routerLink]="'/p-activities/edit/' + records[0].id + '/step-0'"
                                    >Modifica</a>
                                    <i *ngIf="accordionsVisibility[0] === 'selected'"
                                       class="fa fa-caret-down fa-lg pull-right"></i>
                                    <i *ngIf="accordionsVisibility[0] === 'unSelected'"
                                       class="fa fa-caret-left fa-lg pull-right"></i>
                                </span>
                            </h5>
                            <div [@ToggleUpDown]="accordionsVisibility[0]">
                                <div class="pb-3">
                                    Descrizione: <strong>{{ records[0].description }}</strong>
                                </div>
                                <div class="pb-3">
                                    Finalità:
                                    <strong>
                                        <span *ngIf="records[0].purpose !== null">{{ records[0].purpose }}</span>
                                        <span class="text-warning" *ngIf="records[0].purpose === null">Nessuna</span>
                                    </strong>
                                </div>
                                <div class="pb-3">
                                    Basi legali:
                                    <ul class="mt-1" *ngIf="records[0].legal_basis.length > 0">
                                        <li *ngFor="let lb of records[0].legal_basis">{{ lb.name }}</li>
                                    </ul>
                                </div>
                                <div class="pb-3">
                                    Riferimenti normativi:
                                    <strong>
                                        <span *ngIf="records[0].legal_references !== null">{{ records[0].legal_references }}</span>
                                        <span class="text-warning" *ngIf="records[0].legal_references === null">
                                            Nessuno
                                        </span>
                                    </strong>
                                </div>
                                <div class="pb-3">
                                    Provenienza dei dati: {{ renderDataSourceTypes(records[0].data_source_types) }}
                                    <ul class="mt-1" *ngIf="records[0].data_sources.length > 0">
                                        <li *ngFor="let ds of records[0].data_sources">
                                            {{ ds.company_name }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="pb-3">
                                    Tipo banca:
                                    <strong *ngFor="let type of records[0].process_types">{{ type.name }} </strong>
                                </div>
                                <div *ngIf="records[0].data_categories.length > 0">
                                    Categorie di dati:
                                    <ul class="mt-1" *ngFor="let dc of records[0].data_categories">
                                        <li>
                                            {{ dc.name }}
                                            <ul class="mt-1" *ngIf="hasSelectedDataTypes(dc)">
                                                <li *ngFor="let dt of getSelectedDataTypes(dc)">
                                                    {{ dt.name }}
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <hr>
                        </div>


                        <div class="ml-4 mr-4">
                            <h5 class="media-heading pb-2 pt-2 clickable accordion-toggle" (click)="toggleAccordion(1)">
                                <span>Soggetti</span>
                                <span>
                                    <a class="btn btn-primary btn-xs mr-2" [@FadeIn]
                                       *ngIf="accordionsVisibility[1] === 'selected'"
                                       [routerLink]="'/p-activities/edit/' + records[0].id + '/step-1'"
                                    >Modifica</a>
                                    <i *ngIf="accordionsVisibility[1] === 'selected'"
                                       class="fa fa-caret-down fa-lg pull-right"></i>
                                    <i *ngIf="accordionsVisibility[1] === 'unSelected'"
                                       class="fa fa-caret-left fa-lg pull-right"></i>
                                </span>
                            </h5>
                            <div [@ToggleUpDown]="accordionsVisibility[1]">
                                <div class="pb-2">
                                    Categorie di interessati:

                                    <ul class="mt-1" *ngIf="records[0].data_subjects.length > 0">
                                        <li *ngFor="let ds of records[0].data_subjects">{{ds.name}}</li>
                                    </ul>

                                    <span class="text-warning"
                                          *ngIf="records[0].data_subjects.length === 0">Nessuna</span>
                                </div>

                                <div class="pb-2">
                                    Titolari:

                                    <ul class="mt-1" *ngIf="records[0].controllers.length > 0">
                                        <li *ngFor="let controller of records[0].controllers">
                                            {{ controller.company_name }}
                                        </li>
                                    </ul>

                                    <span class="text-warning"
                                          *ngIf="records[0].controllers.length === 0">Nessuno</span>
                                </div>

                                <div class="pb-2">
                                    Referenti interni:

                                    <ul class="mt-1" *ngIf="records[0].internal_processors.length > 0">
                                        <li *ngFor="let ip of records[0].internal_processors">
                                            {{ ip.firstname }} {{ ip.lastname }}
                                        </li>
                                    </ul>

                                    <span class="text-warning" *ngIf="records[0].internal_processors.length === 0">Nessuno
                                </span>
                                </div>

                                <div class="pb-2">
                                    Responsabili esterni:

                                    <ul class="mt-1" *ngIf="records[0].external_processors.length > 0">
                                        <li *ngFor="let ep of records[0].external_processors">
                                            {{ ep.company_name }}
                                        </li>
                                    </ul>

                                    <span class="text-warning" *ngIf="records[0].external_processors.length === 0">
                                        Nessuno
                                    </span>
                                </div>
                            </div>

                            <hr>
                        </div>


                        <div class="ml-4 mr-4">
                            <h5 class="media-heading pb-2 pt-2 clickable accordion-toggle" (click)="toggleAccordion(2)">
                                <span>Trasferimenti e comunicazione</span>
                                <span>
                                    <a class="btn btn-primary btn-xs mr-2" [@FadeIn]
                                       *ngIf="accordionsVisibility[2] === 'selected'"
                                       [routerLink]="'/p-activities/edit/' + records[0].id + '/step-2'"
                                    >Modifica</a>
                                    <i *ngIf="accordionsVisibility[2] === 'selected'"
                                       class="fa fa-caret-down fa-lg pull-right"></i>
                                    <i *ngIf="accordionsVisibility[2] === 'unSelected'"
                                       class="fa fa-caret-left fa-lg pull-right"></i>
                                </span>
                            </h5>

                            <div [@ToggleUpDown]="accordionsVisibility[2]">
                                <span *ngIf="records[0].disclosure_subjects.length === 0">
                                    Non vengono effettuati trasferimenti di dati
                                </span>

                                <ul>
                                    <li *ngFor="let ds of records[0].disclosure_subjects">
                                        <div class="pb-2">
                                            Destinatario: <strong>{{ ds.company_name }}</strong>
                                            <span *ngIf="ds.extra_ue === false">(Intra-UE)</span>
                                            <span *ngIf="ds.extra_ue === true">(Extra-UE)</span>
                                        </div>
                                        <div class="pb-2" *ngIf="ds.extra_ue === true">
                                            Basi Legali:
                                            <ul class="mt-1">
                                                <li *ngFor="let group of questionGroups">
                                                    {{ group.name }}
                                                    <ul *ngIf="getAnswers(ds.answers, group.code).length > 0">
                                                        <li *ngFor="let ans of getAnswers(ds.answers, group.code)">
                                                            {{ ans.question }}
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <hr>
                        </div>


                        <div class="ml-4 mr-4">
                            <h5 class="media-heading pb-2 pt-2 clickable accordion-toggle" (click)="toggleAccordion(3)">
                                <span>Misure di sicurezza</span>
                                <span>
                                    <a class="btn btn-primary btn-xs mr-2" [@FadeIn]
                                       *ngIf="accordionsVisibility[3] === 'selected'"
                                       [routerLink]="'/p-activities/edit/' + records[0].id + '/step-3'"
                                    >Modifica</a>
                                    <i *ngIf="accordionsVisibility[3] === 'selected'"
                                       class="fa fa-caret-down fa-lg pull-right"></i>
                                    <i *ngIf="accordionsVisibility[3] === 'unSelected'"
                                       class="fa fa-caret-left fa-lg pull-right"></i>
                                </span>
                            </h5>
                            <div [@ToggleUpDown]="accordionsVisibility[3]">
                                <ul class="mt-1">
                                    <li *ngFor="let category of securityMeasuresCategories">
                                        {{ category.name }}
                                        <ul class="mt-1"
                                            *ngIf="getSecurityMeasures(records[0].security_measures, category).length > 0">
                                            <li *ngFor="let sm of getSecurityMeasures(records[0].security_measures, category)">
                                                {{ sm.name }}
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <hr>
                        </div>


                        <div class="ml-4 mr-4">
                            <h5 class="media-heading pb-2 pt-2 clickable accordion-toggle" (click)="toggleAccordion(4)">
                                <span>Altre informazioni</span>
                                <span>
                                    <a class="btn btn-primary btn-xs mr-2" [@FadeIn]
                                       *ngIf="accordionsVisibility[4] === 'selected'"
                                       [routerLink]="'/p-activities/edit/' + records[0].id + '/step-4'"
                                    >Modifica</a>
                                    <i *ngIf="accordionsVisibility[4] === 'selected'"
                                       class="fa fa-caret-down fa-lg pull-right"></i>
                                    <i *ngIf="accordionsVisibility[4] === 'unSelected'"
                                       class="fa fa-caret-left fa-lg pull-right"></i>
                                </span>
                            </h5>
                            <div [@ToggleUpDown]="accordionsVisibility[4]">
                                <div class="pb-2">
                                    <ng-template #manualProcessMessage>
                                        Processo non automatizzato
                                    </ng-template>
                                    <ng-container *ngIf="records[0].is_process_automated; else manualProcessMessage">
                                        Processo automatizzato: {{ records[0].automated_process_description }}
                                    </ng-container>
                                </div>

                                <div class="pb-2">
                                    Periodo di conservazione:
                                    <ul class="mt-1">
                                        <li *ngFor="let retention of records[0].retentions">{{ retention.name }}</li>
                                    </ul>
                                    <ng-container *ngIf="records[0].retention_description as description">
                                        Descrizione periodo di conservazione: {{ description }}
                                    </ng-container>
                                </div>

                                <div class="pb-2">
                                    Applicativi selezionati:
                                    <ul class="mt-1">
                                        <li *ngFor="let ap of records[0].applications">{{ ap.name }}</li>
                                    </ul>
                                </div>

                                <div class="pb-2">
                                    Stima del rischio:
                                    <strong [innerHtml]="renderRiskEstimate(records[0].risk_estimate)"></strong>
                                </div>

                            </div>
                            <hr>
                        </div>

                        <div class="ml-4 mr-4" [class.pb-4]="!records[0].notes">
                            <h5 class="media-heading pb-2 pt-2 clickable accordion-toggle" (click)="toggleAccordion(5)">
                                <span>Unità associate</span>
                                <span>
                                    <a class="btn btn-primary btn-xs mr-2" [@FadeIn]
                                       *ngIf="accordionsVisibility[5] === 'selected'"
                                       (click)="activeTab$.next('unità')"
                                    >Modifica</a>
                                    <i *ngIf="accordionsVisibility[5] === 'selected'"
                                       class="fa fa-caret-down fa-lg pull-right"></i>
                                    <i *ngIf="accordionsVisibility[5] === 'unSelected'"
                                       class="fa fa-caret-left fa-lg pull-right"></i>
                                </span>
                            </h5>

                            <div [@ToggleUpDown]="accordionsVisibility[5]">
                                <ng-template #noUnits>Nessuna unità assegnata</ng-template>
                                <ul *ngIf="records[0].units.length > 0; else noUnits">
                                    <li *ngFor="let unit of records[0].units">
                                        {{ unit.name }}<span *ngIf="unit.description"> | {{ unit.description }}</span>
                                    </li>
                                </ul>
                            </div>
                            <hr *ngIf="records[0].notes">
                        </div>

                        <div class="ml-4 mr-4" *ngIf="records[0].notes">
                            <h5 class="media-heading pb-2 pt-2">Note</h5>
                            <blockquote class="small pb-2">{{ records[0].notes }}</blockquote>
                        </div>
                    </div>
                </div>

                <div class="automatic-overflow pb-4"
                     *ngIf="records.length > 1" [@FadeIn]>
                    <div class="ml-4 mr-4">
                        <div class="media ml-4 mr-4 text-center">
                            <hr>
                            <h5 class="media-heading pb-2 pt-4">Trattamenti Selezionati</h5>
                            <p class="small pb-4">Hai selezionato i seguenti trattamenti</p>
                            <hr>
                        </div>

                        <div class="media ml-4 mr-4" *ngFor="let record of records" [@FadeIn]>

                            <h5>Trattamento {{ record?.identification_code }}: {{ record.name }}</h5>

                            <h5>Data di creazione: {{ record.created_at | dpmDate:'LLL' }}</h5>

                            <h5 class="media-heading pb-2 pt-4">Percentuale di completamento</h5>

                            <progressbar [animate]="false" [value]="record.completionValue"
                                         [type]="record.completionValue < 25 ?
                                            'danger' :
                                            record.completionValue <= 50 ? 'warning'
                                            : 'success'">
                                <b>{{ record.completionValue }}%</b>
                            </progressbar>

                            <h5 class="media-heading pb-2 pt-2">Dati essenziali</h5>
                            <p>
                                <span class="pb-1">Attivo: {{ record.is_active ? 'Sì' : 'No' }}</span>
                                <br>
                                <span class="pb-1">Descrizione: {{ record.description }}</span>
                                <br>
                                <span class="pb-1">Finalità: <strong>{{ record.purpose }}</strong></span>
                                <br>
                                <span class="pb-1">Riferimenti normativi: <strong>{{ record.legal_references
                                    }}</strong></span>
                                <br>
                                <span class="pb-1">
                                    Tipo banca:
                                    <strong *ngFor="let type of record.process_types">{{ type.name }} </strong>
                                </span>
                                <br>
                                <span class="pb-1">
                                    Categorie di dati:
                                    <strong *ngFor="let dc of record.data_categories">
                                        {{ dc.family + '-' + dc.name }}
                                    </strong>
                                </span>
                                <br>
                            </p>
                            <hr/>
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <small>Selezionati: {{ records.length }}</small>
                    <button class="btn btn-primary"
                            *ngIf="records.length > 0"
                            (click)="clearSelection()"
                            [@FadeIn]
                    >Annulla selezione
                    </button>
                </div>
            </div>

            <div *ngSwitchCase="'unità'">
                <ng-container *ngIf="records.length > 0; else missingRecord">
                    <div class="media ml-4 mr-4 text-center" [@FadeIn]>
                        <hr>
                        <p>Unità selezionate</p>
                        <hr>
                    </div>

                    <div class="media ml-4 mr-4 pb-4 container-fluid">
                        <dpm-pa-units-selector
                            [processingActivityId]="records[0].id"
                            (nodeSelected)="refreshTable()"
                        ></dpm-pa-units-selector>
                    </div>
                </ng-container>
            </div>

            <ng-template #missingRecord>
                <div class="media ml-4 mr-4 text-center" [@FadeIn]>
                    <hr>
                    <p>Selezionare un trattamento per visualizzare le unità</p>
                    <hr>
                </div>
            </ng-template>


            <div *ngSwitchDefault>
                <div class="media text-center ml-4 mr-4" [@FadeIn]>
                    <hr>
                    <p class="small">Selezionare un trattamento</p>
                    <hr>
                </div>
            </div>


        </div>

    </div>

</div>
