/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

.modal-backdrop.fade {
    opacity: .5;
}

.modal-dialog {
    margin-top: 70px;
}

.modal-content {
    box-shadow: none;
}


.form-control {
    font-size: 1rem;
    font-weight: normal;
    padding: .5rem .75rem;

    &, &:focus {
        box-shadow: none;
    }
}

.btn.active {
    box-shadow: none;
}

.page-item {
    .page-link {
        color: $black;
        padding: .5rem .75rem;
    }

    &.active {
        .page-link {
            color: $white;
        }
    }
}

.img-large {
    transform: scale(1.025);
}

.img-small {
    transform: scale(0.75);
}

textarea {
    border: 1px solid transparentize(mix($brand-primary, $black, 80), .6) !important;

    &:focus {
        border: 1px solid $brand-primary !important;
    }
}
