/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

.d {
    &-block {
        display: block;
    }
    &-inline {
        display: inline;
    }
    &-flex {
        display: flex;
    }
}

.flex {
    &-h-center {
        justify-content: center;
    }
    &-v-center {
        align-items: center;
    }
    &-column {
        flex-direction: column;
    }
}

.bg {
    &-faded {
        background-color: $bg-faded;
    }
    &-gray-lighter {
        background-color: $gray-lighter;
    }
}

.v-align-children-middle > * {
    vertical-align: middle;
}

.clickable {
    cursor: pointer;
}

.text {
    &-base {
        font-size: $font-size-base;
    }
    &-red {
        color: $brand-danger;
    }
    &-yellow {
        color: $brand-warning;
    }
    &-green {
        color: $brand-success;
    }
}
