<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<dpm-wizard-step
    [canAdvanceStep]="stepForm.valid"
    [stepState]="stepState"
    (previousStep)="previousStep.emit()"
    (nextStep)="onNextStep()"
>
    <div stepTitle [@FadeIn]>
        <h2 class="text-light">Soggetti</h2>
    </div>

    <div stepBody [@FadeIn]>
        <form [formGroup]="stepForm" novalidate>

            <div class="form-group">
                <label class="mb-0">
                    Categorie di interessati
                    <dpm-required-icon-indicator
                        [isDesirable]="true"
                        [isFilled]="stepForm.get('data_subjects').value !== null && stepForm.get('data_subjects').value.length > 0"
                    ></dpm-required-icon-indicator>
                </label>
                <dpm-data-subjects-selector
                    (selectionChange)="stepForm.markAsDirty(); formChanges$.next()"></dpm-data-subjects-selector>
                <hr class="mb-0">
            </div>

            <div class="form-group">
                <label class="mb-0">
                    Titolari selezionati
                    <dpm-required-icon-indicator
                        [isDesirable]="true"
                        [isFilled]="stepForm.get('controllers').value !== null && stepForm.get('controllers').value.length > 0"
                    ></dpm-required-icon-indicator>
                </label>
                <dpm-controllers-selector
                    (selectionChange)="stepForm.markAsDirty(); formChanges$.next()"></dpm-controllers-selector>
                <hr class="mb-0">
            </div>

            <div class="form-group" *ngIf="showInternalProcessor">
                <label class="mb-0">Referenti interni</label>
                <dpm-internal-processors-selector
                    (selectionChange)="stepForm.markAsDirty(); formChanges$.next()"></dpm-internal-processors-selector>
                <hr class="mb-0">
            </div>

            <div class="form-group">
                <label class="mb-0">
                    Responsabili esterni
                    <dpm-required-icon-indicator
                        [isDesirable]="true"
                        [isFilled]="stepForm.get('external_processors').value !== null && stepForm.get('external_processors').value.length > 0"
                    ></dpm-required-icon-indicator>
                </label>
                <dpm-external-processors-selector
                    (selectionChange)="stepForm.markAsDirty(); formChanges$.next()"></dpm-external-processors-selector>
                <hr class="mb-0">
            </div>

            <div class="form-group">
                <label class="mb-0">
                    DPO
                    <dpm-required-icon-indicator
                        [isDesirable]="true"
                        [isFilled]="stepForm.get('dpos').value !== null && stepForm.get('dpos').value.length > 0"
                    ></dpm-required-icon-indicator>
                </label>
                <dpm-dpos-selector (selectionChange)="stepForm.markAsDirty(); formChanges$.next()"></dpm-dpos-selector>
                <hr>
            </div>

        </form>
    </div>
</dpm-wizard-step>
