<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="form-group">
    <label class="text-left d-block" *ngIf="labels.selectedTags !== null" [@FadeIn]>
        {{ labels.selectedTags }}
    </label>

    <blockquote class="mt-3 text-base text-muted">
        {{ labels.description }}
    </blockquote>

    <p dpmTag class="mb-1 mr-2"
       *ngFor="let tag of selectedTags"
       (click)="onDeleteTag(tag)"
       [title]="tag.title"
       [@SlideInTop]="">{{ tag.name }}</p>
</div>

<div class="form-group">
    <dpm-search-box
        [availableTags]="availableTags$ | async"
        [showTags]="showingResults"
        [placeholder]="labels.placeholder"
        (searchTags)="onSearchTags($event)"
        (selectTag)="onSelectTag($event)"
        (hideResults)="showingResults = false"
    ></dpm-search-box>

</div>
