<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="wrapper p-4">
    <div class="media" *ngIf="user">
        <h2 class="media-heading pl-4 pb-2 pt-2 text-light">
            <img class="img-large img-circle mr-3 {{ RendererProvider.userIconCssClassRenderer(user.avatar) }}"
                 [src]="RendererProvider.userIconSrcRenderer(user.avatar)">
            <p>
                <br>
                {{ user.firstname }} {{ user.lastname }}
                <br>
                <small *ngFor="let role of user.roles">{{ role.display_name }}<br></small>
                <br>
                <small *ngFor="let unit of user.directed_units">{{ unit.name }}<br></small>
            </p>
        </h2>

        <div class="ml-4 mr-4">
            <p class="mt-4">
                Qualifica: <strong>{{ qualificationsRenderer(user.qualifications) }}</strong><br>
                Matricola: <strong>{{ user.user_number }}</strong><br>
                Indirizzo email: <strong>{{ user.email }}</strong><br>
                <br>
                Codice Fiscale: <strong>{{ user.fiscal_code }}</strong><br>
                Sesso: <strong>{{ user.sex }}</strong><br>
                <br>
                Unità di appartenenza: <strong>{{ unitRenderer(user.working_units) }}</strong><br>
                Altre unità di incarico: <strong>{{ unitRenderer(user.in_charge_units) }}</strong><br>
                Unità di delega: <strong>{{ unitRenderer(user.delegated_units) }}</strong><br>
                <br>
                <a class="clickable" (click)="openModal(passwordChangeModal)">Richiesta di cambio password</a>

                <ng-template #passwordChangeModal>
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Selezione Unità</h4>
                        <button type="button" class="close pull-right" aria-label="Close"
                                (click)="modalRef.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body p-4">

                        <form [formGroup]="passwordForm" (keyup.enter)="changePassword()">

                            <div class="form-group pb-4">
                                <label for="current-password">Password attuale <span>*</span></label>
                                <input type="password" id="current-password" class="form-control"
                                       formControlName="current_password" autocomplete="off">
                                <dpm-control-messages
                                    [control]="passwordForm.get('current_password')"></dpm-control-messages>
                            </div>

                            <div class="form-group pb-4">
                                <label for="password">Nuova password <span>*</span></label>
                                <input type="password" id="password" class="form-control"
                                       formControlName="password" autocomplete="off">
                                <dpm-control-messages
                                    [control]="passwordForm.get('password')"></dpm-control-messages>
                            </div>

                            <div class="form-group pb-4">
                                <label for="confirm-password">Conferma nuova password <span>*</span></label>
                                <input type="password" id="confirm-password" class="form-control"
                                       formControlName="confirm_password" autocomplete="off">
                                <dpm-control-messages
                                    [control]="passwordForm.get('confirm_password')"></dpm-control-messages>
                            </div>

                        </form>

                        <div class="btn-group password-form" role="group">
                            <button class="btn btn-default" (click)="modalRef.hide()">Annulla</button>
                            <button class="btn btn-primary" (click)="changePassword()"
                                    [disabled]="passwordForm.invalid"
                            >Conferma
                            </button>
                        </div>
                    </div>
                </ng-template>
            </p>
        </div>
    </div>
</div>
