/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
@import "../../../../styles/variables";
@import "../../../../styles/utilities";

.media {
    background-color: $white;
}

.media-heading {
    display: flex;
    align-items: center;

    div {
        line-height: 3rem;
    }

    img {
        width: 12rem;
        background-color: $gray-lighter;
    }
}

form {
    .form-group label {
        cursor: pointer;
        width: 100%;

        > span {
            color: $brand-danger;
        }
    }
    input {
        @extend .dpm-input, .collapsible-dpm-input;
    }
}

::ng-deep .password-form.btn-group {
    display: flex;
    justify-content: flex-end;
}
