/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@mixin arrow($direction, $size, $color) {
    $arrow-border: $size solid $color;

    position: relative;

    &:before {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        border: $size solid transparent;

        @if $direction == top {
            border-bottom: $arrow-border;
            left: 50%;
            bottom: 100%;
            transform: translate(-50%, 0);
        } @else if $direction == right {
            left: 100%;
            top: 50%;
            transform: translate(0, -50%);
            border-left: $arrow-border;
        } @else if $direction == bottom {
            left: 50%;
            top: 100%;
            transform: translate(-50%, 0);
            border-top: $arrow-border;
        } @else if $direction == left {
            right: 100%;
            top: 50%;
            transform: translate(0, -50%);
            border-right: $arrow-border;
        }
    }
}
