/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

%cover-underlying-left-right-borders {
    position: relative;
    left: -1px;
    width: calc(100% + 2px);
}

@mixin tabs-uneven-border($border: $panel-active-border) {
    z-index: 1;

    border: $border;
    border-top: none !important;

    .nav-tabs {

        .nav-item { z-index: 2; }
        .nav-item:last-of-type { z-index: 1; }

        select {
            border: 1px solid $body-bg;
            border-bottom: $border !important;

            @extend %cover-underlying-left-right-borders;
        }

        .nav-link:first-of-type {
            border-top: $border;
            border-right: $border;
        }
    }
}
