/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../../styles/variables";
@import "../../../../styles/utilities";


:host {
    display: inline-block;
    width: 100%;

    * {
        background-color: transparent;
        max-width: calc(100% - 7rem);
    }

    &:hover i.fa-pencil {
        opacity: 1 !important;
        cursor: pointer;
    }
}

.disabled {
    color: transparentize($gray-light, 0.2);
}

.wrapper {
    i {
        user-select: none;
    }

    i.fa-pencil {
        opacity: 0;
    }

    .fa-check, .fa-close {
        cursor: pointer;
    }
}

input {
    padding: 0 $padding-xs-horizontal;
    display: inline !important;

    &.hidden {
        opacity: 0;
        width: 0;
        cursor: default !important;
    }

    &:not(.hidden) {
        height: 100% !important;
    }
}
