<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<span class="wrapper {{ customClasses }}" [ngClass]="{ 'disabled': disabled }">
    <span *ngIf="!isInputActive">{{ currentValue }}</span>

    <span *ngIf="!disabled">
        <i *ngIf="!isInputActive" class="pl-1 pr-1 fa fa-pencil fa-lg" (click)="enableInput()"></i>
        <input #editableInput class="form-control dpm-input"
               [disabled]="!isInputActive"
               [ngClass]="{'hidden': !isInputActive}"
               [type]="type"
               [autocomplete]="autocomplete"
               [(ngModel)]="currentValue"
               (keyup.enter)="submit()"
               (keyup.esc)="cancel()"
        >

        <i *ngIf="isInputActive && currentValue.length > minLength && currentValue.length < maxLength"
           class="pl-1 fa fa-check fa-lg"
           (click)="submit()"></i>
        <i *ngIf="isInputActive" class="pl-1 fa fa-close fa-lg" (click)="cancel()"></i>
    </span>
</span>
