/*!
 *     Data Protection Manager (DPM) - Open Source GDPR Compliance
 *     Copyright (C) 2018  Studio Storti Srl
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../../../../styles/variables";

span.node-template-content {
    + i.fa-plus {
        opacity: 0;
        transition: $default-transition;

        &:hover {
            opacity: 1;
        }
    }

    &:hover + i.fa-plus {
        opacity: 1;
    }
}

span.label {
    &.label-primary,
    &.label-info {
        font-weight: 500;
        font-size: .9rem;
    }
}

:host ::ng-deep {
    .tooltip-inner {
        background-color: $white;
        color: $black;
        border: 1px solid $gray-lighter;

        .dpm-card {
            border: none;
        }
    }

    .tooltip-top {
        .tooltip-arrow:before, .tooltip-arrow {
            border-top-color: $gray-lighter;
        }
    }
}
