<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<div class="row mt-2 ml-1 mr-1" [@FadeIn]>
    <div class="col-xs-12 col-sm-8 pt-4">

        <div class="ml-5 mb-4 mr-2">
            <div class="page-title">
                <h1 class="text-light">Unità</h1>
                <button class="btn btn-primary" (click)="openCreateRootNodeDialog()">Nuova unità</button>
            </div>
            <blockquote class="small">
                Le unità costituiscono un raggruppamento omogeneo per funzioni alle quali è generalmente preposto un
                organo di comando (il responsabile dell’unità). Le unità possono essere variamente denominate:
                "direzioni", "divisioni", "dipartimenti", "settori", "sezioni", "uffici", "reparti", "officine", ecc.
            </blockquote>

            <input class="form-control dpm-input mb-3 mr-2" type="text" #filter
                   (keyup)="filterNodes(filter.value, tree)"
                   placeholder="Ricerca unità">

            <tree-root #tree
                       [nodes]="nodes$ | async"
                       [options]="options"
                       (activate)="selectNode($event)"
                       (deactivate)="unSelectNode($event)"
                       (moveNode)="onMoveNode($event)"
            >
                <!-- HORRIBLE FIX for loading message showing when not needed -->
                <ng-template #loadingTemplate></ng-template>
                <ng-template #treeNodeWrapperTemplate let-node let-index="index">
                    <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
                        <tree-node-expander [node]="node"></tree-node-expander>
                        <div class="node-content-wrapper"
                             [class.node-content-wrapper-active]="node.isActive"
                             [class.node-content-wrapper-focused]="node.isFocused"
                             [class.node-content-wrapper-disabled]="node.data.deleted_at !== null"
                             (click)="node.mouseAction('click', $event)"
                             (dblclick)="node.mouseAction('dblClick', $event)"
                             (contextmenu)="node.mouseAction('contextMenu', $event)"
                             (treeDrop)="node.onDrop($event)"
                             [treeAllowDrop]="node.allowDrop"
                             [treeDrag]="node"
                             [treeDragEnabled]="node.allowDrag()">

                            <div class="node-content"
                                 [class.pb-2]="node.data.directors"
                                 [class.pt-1]="node.data.directors">
                                <span class="node-template-content">
                                    {{ node.data.code }}
                                    <ng-container *ngIf="node.data.name">
                                        - {{ node.data.name }}
                                    </ng-container>
                                </span>
                                <i *ngIf="node.data.deleted_at === null" class="fa fa-plus clickable pl-2 pr-2"
                                   (click)="openAppendChildNodeDialog(node)"></i>

                                <ng-container *ngFor="let director of node.data.directors">
                                    <span class="label"
                                          [class.label-primary]="director.deleted_at === null"
                                          [class.label-info]="director.deleted_at !== null"
                                          [tooltip]="userInCharge">
                                        <i class="fa fa-vcard-o pr-1"></i>
                                        {{ director.firstname }} {{ director.lastname }}
                                    </span>

                                    <ng-template #userInCharge>
                                        <div class="dpm-card text-left" [@FadeIn]>
                                            <div class="dpm-card-img-wrapper pb-2">
                                                <img [src]="director.avatar || userIcon"
                                                     class="img-circle">
                                                <h5 class="pl-3">
                                                    {{ director.id }}: {{ director.firstname }} {{ director.lastname }}
                                                </h5>
                                            </div>

                                            <div class="user-details">
                                                Email: {{ director.email }}
                                                <br>
                                                Matricola: {{ director.user_number }}
                                                <br>
                                                <ng-container
                                                    *ngIf="director.qualifications && director.qualifications.length > 0">
                                                    Qualifica: {{ director.qualifications[0].name }}<br>
                                                </ng-container>
                                                <ng-container *ngIf="director.deleted_at !== null">
                                                    Data di cessazione: <strong>
                                                    {{ director.deleted_at | dpmDate:'L' }}</strong>
                                                    <br>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </tree-root>
        </div>

    </div>

    <dpm-units-details
        [activeTab$]="activeTab$"
        [toastr]="toastr"
        [selectedUnit$]="selectedUnit$"
        [lastParentUnit]="lastParentUnit"
        (updateTree)="onUpdateTree()"
    ></dpm-units-details>
</div>

<dpm-personal-data-disclaimer></dpm-personal-data-disclaimer>
