<!--
  ~     Data Protection Manager (DPM) - Open Source GDPR Compliance
  ~     Copyright (C) 2018  Studio Storti Srl
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<h5 class="p-3 clickable accordion-toggle" tabindex="0"
    (click)="toggleAccordion(0)" (keyup.space)="toggleAccordion(0)">
    <span>Personali</span>
    <span>
        <i class="fa fa-caret-down fa-lg pull-right"
           *ngIf="accordionsVisibility[0] === 'selected'"></i>
        <i class="fa fa-caret-left fa-lg pull-right"
           *ngIf="accordionsVisibility[0] === 'unSelected'"></i>
    </span>
</h5>

<div class="accordion pb-3" [@ToggleUpDown]="accordionsVisibility[0]">
    <blockquote class="ml-3">
        Qualsiasi informazione riguardante una persona fisica identificata o identificabile
    </blockquote>

    <div class="data-category-wrapper ml-3 mt-3" *ngFor="let personalDC of personalDataCategories">
        <p (click)="toggleDataCategory(personalDC)">
            <input type="checkbox" class="form-control dpm-input small-checkbox"
                   id="dataCategory-{{ personalDC.id }}"
                   [checked]="isDataCategorySelected(personalDC)"
                   (change)="toggleDataCategory(personalDC)">
            <label tabindex="0" (keyup.space)="toggleDataCategory(personalDC)"></label>
            <b class="ml-2">{{ personalDC.name }}</b>
        </p>

        <p class="data-type" (click)="toggleDataType(dataType, personalDC)"
           *ngFor="let dataType of personalDC.data_types">
            <input type="checkbox" class="form-control dpm-input small-checkbox"
                   id="dataType-{{ dataType.id }}"
                   [checked]="isDataTypeSelected(dataType)"
                   (change)="toggleDataType(dataType, personalDC)">
            <label tabindex="0" (keyup.space)="toggleDataType(dataType, personalDC)"></label>

            <span class="ml-1">{{ dataType.name | capitalize }}</span>
        </p>
    </div>
</div>

<hr class="m-0">

<h5 class="p-3 clickable accordion-toggle" tabindex="0"
    (click)="toggleAccordion(1)" (keyup.space)="toggleAccordion(1)">
    <span>Particolari</span>
    <span>
        <i class="fa fa-caret-down fa-lg pull-right"
           *ngIf="accordionsVisibility[1] === 'selected'"></i>
        <i class="fa fa-caret-left fa-lg pull-right"
           *ngIf="accordionsVisibility[1] === 'unSelected'"></i>
    </span>
</h5>

<div class="accordion pb-3" [@ToggleUpDown]="accordionsVisibility[1]">
    <blockquote class="ml-3">
        Particolari categorie di dati personali art 9 regolamento UE 679/2016
    </blockquote>

    <div class="data-category-wrapper ml-3 mt-3" *ngFor="let sensitiveDC of sensitiveDataCategories">
        <p (click)="toggleDataCategory(sensitiveDC)">
            <input type="checkbox" class="form-control dpm-input small-checkbox"
                   id="dataCategory-{{ sensitiveDC.id }}"
                   [checked]="isDataCategorySelected(sensitiveDC)"
                   (change)="toggleDataCategory(sensitiveDC)">
            <label tabindex="0" (keyup.space)="toggleDataCategory(sensitiveDC)"></label>

            <b class="ml-2">{{ sensitiveDC.name }}</b>
        </p>

        <p class="data-type" (click)="toggleDataType(dataType, sensitiveDC)"
           *ngFor="let dataType of sensitiveDC.data_types">
            <input type="checkbox" class="form-control dpm-input small-checkbox"
                   id="dataType-{{ dataType.id }}"
                   [checked]="isDataTypeSelected(dataType)"
                   (change)="toggleDataType(dataType, sensitiveDC)">
            <label tabindex="0" (keyup.space)="toggleDataType(dataType, sensitiveDC)"></label>

            <span class="ml-1">{{ dataType.name | capitalize }}</span>
        </p>
    </div>
</div>
